/*Open Sans*/
/*Regular*/
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Opensans/opensans-regular.eot");
    src: url("../fonts/Opensans/opensans-regular.eot?iefix") format("embedded-opentype"),
    url("../fonts/Opensans/opensans-regular.woff") format("woff"),
    url("../fonts/Opensans/opensans-regular.woff2") format("woff2"),
    url("../fonts/Opensans/opensans-regular.svg") format("svg"),
    url("../fonts/Opensans/opensans-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
/*Bold*/
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Opensans/opensans-bold.eot");
    src: url("../fonts/Opensans/opensans-bold.eot?iefix") format("embedded-opentype"),
    url("../fonts/Opensans/opensans-bold.woff") format("woff"),
    url("../fonts/Opensans/opensans-bold.woff2") format("woff2"),
    url("../fonts/Opensans/opensans-bold.svg") format("svg"),
    url("../fonts/Opensans/opensans-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
/*Extra Bold*/
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Opensans/opensans-extrabold.eot");
    src: url("../fonts/Opensans/opensans-extrabold.eot?iefix") format("embedded-opentype"),
    url("../fonts/Opensans/opensans-extrabold.woff") format("woff"),
    url("../fonts/Opensans/opensans-extrabold.woff2") format("woff2"),
    url("../fonts/Opensans/opensans-extrabold.svg") format("svg"),
    url("../fonts/Opensans/opensans-extrabold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
/******************/

/*BRUSHSTRIKE*/
/*Regular*/
@font-face {
    font-family: "Brushstrike";
    src: url("../fonts/Brushstrike/brushstrike.eot");
    src: url("../fonts/Brushstrike/brushstrike.eot?iefix") format("embedded-opentype"),
    url("../fonts/Brushstrike/brushstrike.woff") format("woff"),
    url("../fonts/Brushstrike/brushstrike.woff2") format("woff2"),
    url("../fonts/Brushstrike/brushstrike.svg") format("svg"),
    url("../fonts/Brushstrike/brushstrike.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
/*******************/

/*Bebas*/
/*Bold*/
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/Bebas/bebasneue-bold.eot");
    src: url("../fonts/Bebas/bebasneue-bold.eot?iefix") format("embedded-opentype"),
    url("../fonts/Bebas/bebasneue-bold.woff") format("woff"),
    url("../fonts/Bebas/bebasneue-bold.woff2") format("woff2"),
    url("../fonts/Bebas/bebasneue-bold.svg") format("svg"),
    url("../fonts/Bebas/bebasneue-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
/**********************/
/*ChunkFive*/
/*Roman*/
@font-face {
    font-family: "ChunkFive";
    src: url("../fonts/Chunkfive/chunkfive.eot");
    src: url("../fonts/Chunkfive/chunkfive.eot?iefix") format("embedded-opentype"),
    url("../fonts/Chunkfive/chunkfive.woff") format("woff"),
    url("../fonts/Chunkfive/chunkfive.woff2") format("woff2"),
    url("../fonts/Chunkfive/chunkfive.svg") format("svg"),
    url("../fonts/Chunkfive/chunkfive.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
/**********************/