@import url("https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body, html, h1, h2, h3, ol, ul {
  margin: 0;
  padding: 0; }

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ol, ul {
  list-style-type: none; }

img {
  display: block; }

a {
  margin: 0;
  padding: 0; }

@font-face {
  /* -------- Thin ------------*/
  font-family: "Proxima-nova";
  src: url("../fonts/proxima-nova/proxima-nova-thin.eot");
  src: url("../fonts/proxima-nova/proxima-nova-thin.eot?iefix") format("embedded-opentype"), url("../fonts/proxima-nova/proxima-nova-thin.woff") format("woff"), url("../fonts/proxima-nova/proxima-nova-thin.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-thin.svg") format("svg"), url("../fonts/proxima-nova/proxima-nova-thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  /* -------- Light ------------*/
  font-family: "Proxima-nova";
  src: url("../fonts/proxima-nova/proxima-nova-light.eot");
  src: url("../fonts/proxima-nova/proxima-nova-light.eot?iefix") format("embedded-opentype"), url("../fonts/proxima-nova/proxima-nova-light.woff") format("woff"), url("../fonts/proxima-nova/proxima-nova-light.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-light.svg") format("svg"), url("../fonts/proxima-nova/proxima-nova-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  /* -------- Regular ------------*/
  font-family: "Proxima-nova";
  src: url("../fonts/proxima-nova/proxima-nova-regular.eot");
  src: url("../fonts/proxima-nova/proxima-nova-regular.eot?iefix") format("embedded-opentype"), url("../fonts/proxima-nova/proxima-nova-regular.woff") format("woff"), url("../fonts/proxima-nova/proxima-nova-regular.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-regular.svg") format("svg"), url("../fonts/proxima-nova/proxima-nova-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  /* -------- Semi-bold ------------*/
  font-family: "Proxima-nova";
  src: url("../fonts/proxima-nova/proxima-nova-semibold.eot");
  src: url("../fonts/proxima-nova/proxima-nova-semibold.eot?iefix") format("embedded-opentype"), url("../fonts/proxima-nova/proxima-nova-semibold.woff") format("woff"), url("../fonts/proxima-nova/proxima-nova-semibold.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-semibold.svg") format("svg"), url("../fonts/proxima-nova/proxima-nova-semibold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  /* -------- Bold ------------*/
  font-family: "Proxima-nova";
  src: url("../fonts/proxima-nova/proxima-nova-bold.eot");
  src: url("../fonts/proxima-nova/proxima-nova-bold.eot?iefix") format("embedded-opentype"), url("../fonts/proxima-nova/proxima-nova-bold.woff") format("woff"), url("../fonts/proxima-nova/proxima-nova-bold.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-bold.svg") format("svg"), url("../fonts/proxima-nova/proxima-nova-bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

.my-flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.my-flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.my-just-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.my-just-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.my-just-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.my-text-align-right {
  text-align: right; }

.my-text-align-left {
  text-align: left; }

.small-icon {
  color: #fdb714;
  font-size: 22px;
  margin-right: 15px; }

.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  overflow: hidden;
  white-space: nowrap; }
  .btn a {
    color: white;
    padding: 22.5px 37.5px;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #fdb714;
    text-wrap: none; }
    .btn a:hover {
      background-color: black; }

.separator-line {
  background-color: #fdb714;
  width: 115px;
  height: 2px;
  margin: 15px 0; }

.numbers-header {
  font-size: 80px;
  font-weight: 300; }

.numbers-description {
  font-size: 19.2px;
  font-weight: 500;
  text-transform: uppercase; }

.header-section {
  text-align: center;
  color: #272727;
  text-transform: capitalize;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 30px;
  letter-spacing: 1px; }

a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  color: white;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

a:hover {
  text-decoration: none; }

img {
  width: 100%; }

h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white; }

h1 {
  font-size: 112px;
  padding: 15px 0; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 24px; }

.container-fluid {
  font-family: "Proxima-nova", sans-serif;
  font-weight: 200;
  padding: 0; }

.container {
  max-width: 1366px; }

.top-data {
  font-size: 16px;
  background-color: #272727; }
  .top-data p {
    position: relative;
    color: white;
    font-weight: 200;
    white-space: nowrap;
    margin-left: 25px; }
    .top-data p:before {
      position: absolute;
      left: -25px;
      top: -2px;
      font-family: 'FontAwesome';
      color: #fdb714;
      font-size: 22px;
      margin-right: 15px; }
    .top-data p span:hover {
      cursor: pointer;
      color: #fdb714; }
  .top-data .address:before {
    content: '\f041'; }
  .top-data .phone:before {
    content: '\f095'; }
  .top-data .social-icon {
    margin-right: 15px; }
  .top-data a:hover {
    color: #fdb714; }

.slider {
  position: relative;
  height: fit-content;
  width: auto;
  background: url(../img/main-bg.jpg) no-repeat;
  background-size: cover;
  padding-bottom: 10vw; }
  .slider .main-logo {
    margin-top: 60px; }
    .slider .main-logo img {
      width: 40px;
      height: 40px; }
    .slider .main-logo-img {
      margin-right: 30px; }
    .slider .main-logo-text {
      color: white; }
  .slider .search {
    margin-top: 75px;
    font-size: 19.2px;
    color: white; }
    .slider .search:hover {
      cursor: pointer;
      color: #fdb714; }
  .slider .nav {
    margin-top: 60px; }
    .slider .nav li {
      display: inline-block;
      letter-spacing: 1px;
      margin-right: 30px; }
      .slider .nav li a {
        display: block; }
        .slider .nav li a:hover {
          color: #fdb714; }
        .slider .nav li a:after {
          content: '\f078';
          font-family: 'FontAwesome';
          color: inherit;
          margin-left: 7.5px;
          font-size: 12px;
          position: relative;
          top: -2px;
          opacity: .5; }
      .slider .nav li:first-child a {
        color: #fdb714; }
  .slider .separator {
    margin-top: 60px; }
  .slider .main-header {
    padding: 15px 90px;
    text-align: center;
    margin-bottom: 30px; }
    .slider .main-header-description {
      color: white;
      font-size: 32px;
      font-weight: 300; }
      .slider .main-header-description p {
        text-transform: uppercase;
        margin: 0;
        padding: 0; }
  .slider-manager {
    margin-top: 60px; }
  .slider .circle-elem {
    cursor: pointer;
    margin-right: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: gray; }
    .slider .circle-elem:hover {
      background-color: white; }
    .slider .circle-elem:last-child {
      margin-right: 0; }
    .slider .circle-elem:first-child {
      background-color: white; }
  .slider-dark {
    opacity: 0.3;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: black; }

.advantages {
  padding: 60px 0;
  font-weight: 400;
  color: #8d8d8d; }
  .advantages h3 {
    color: #272727;
    font-weight: 400; }
  .advantages-item-description {
    padding-top: 15px;
    line-height: 1.5rem; }

.numbers {
  background-color: #fdb714;
  color: white;
  text-align: center; }
  .numbers .numbers-item {
    padding: 60px 0; }
  .numbers .col {
    border-right: 1px solid rgba(255, 255, 255, 0.4); }
  .numbers .col:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.4); }
  .numbers p {
    margin: 0;
    padding: 0; }

.services {
  padding: 60px 0;
  color: #272727; }
  .services-header {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: right; }
  .services-descriptions {
    line-height: 1.5rem;
    font-weight: 400;
    color: #8d8d8d;
    margin-bottom: 60px;
    text-align: right; }
  .services #align-left .services-header {
    text-align: left; }
  .services #align-left .services-descriptions {
    text-align: left; }
  .services-icon {
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #fdb714;
    text-align: center;
    color: white; }
    .services-icon .material-icons {
      font-size: 40px;
      line-height: 70px; }
  .services-mobile {
    height: 100%;
    background: url(../img/mobile-phone.jpg) center no-repeat;
    background-size: contain; }

.progress {
  padding: 60px 0;
  color: #272727;
  background: #f3f3f3;
  text-align: center; }
  .progress p {
    margin: 0;
    padding: 0; }
  .progress__elem {
    padding: 30px; }
    .progress__elem-number {
      width: 200px;
      height: 200px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: solid 5px #fdb714;
      line-height: 195px;
      font-size: 48px;
      font-weight: 400;
      margin-bottom: 15px;
      align-self: center; }
    .progress__elem-description {
      text-transform: uppercase;
      font-weight: 400;
      color: #8d8d8d;
      word-wrap: break-word;
      padding: 0 20px; }

.blog {
  padding: 60px 0;
  color: #8d8d8d;
  font-weight: 400; }
  .blog__header {
    color: #272727; }
  .blog__elem {
    margin-right: 15px; }
    .blog__elem:last-child {
      margin-right: 0; }
    .blog__elem-img {
      margin-bottom: 30px; }
    .blog__elem-header {
      color: #272727;
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 15px; }
      .blog__elem-header:hover {
        cursor: pointer;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        color: #fdb714; }
    .blog__elem-description {
      margin-bottom: 15px; }
    .blog__elem .date:before {
      margin-right: 7.5px;
      color: #fdb714;
      content: '\f073';
      font-family: 'FontAwesome'; }
    .blog__elem .comment:before {
      margin-right: 7.5px;
      color: #fdb714;
      content: '\f0e5';
      font-family: 'FontAwesome'; }
    .blog__elem .read-more {
      text-align: right;
      color: #fdb714;
      font-weight: 500; }
      .blog__elem .read-more:hover {
        cursor: pointer;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        color: #272727; }
