@import url("https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
    margin: 0;
    padding: 0;
}

body {
    font: 200 14px "Hind"/*,"sans-serif"*/;
}
ul {
    list-style-type: none;
}
li {
    display: inline-block;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
h1 {
    font-size: 36px;
    color: #ffffff;
}
h2 {
    font-size: 28px;
    color: #bd2631;
}
h3 {
    line-height:2.5em;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
}
/*----------------Clear Float----------------*/
.clearfix:after,
.clearfix:before {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

.wrapper {
    max-width: 1124px;
    height:inherit;
    /*padding: 0 100px;*/
    margin: 0 auto;
}
.data-section {
    position: relative;
    min-width: 1024px;
    /*max-width: 1366px;*/
    min-height: 70px;
    background: #ededed;
}

/*----------- Town Select --------------*/
.town-select {
    float: left;
    width: 126px;
    height: 31px;
    background: #212121;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    padding-top: 10px;
    padding-left: 15px;
    margin-top: 15px;
}
.town-select::after {
    font-family: "FontAwesome";
    font-size: 18px;
    content: '\f107';
    position: absolute;
    margin-left: 14px;
    color: #fff;
    padding-left: 5px;
}
.town-select:hover::after {
    font-size: 18px;
    content: '\f103';
    position: absolute;
    margin-left: 14px;
    color: #fff;
    cursor: pointer;
}
.town-select:hover {
    cursor: pointer;
}

/*--------- Contacts ---------*/
.contact {
    display: inline-block;
    margin: 22px 0 0 36px;
}
.contact img {
    margin-right: 9px;
}
.contact img:last-child {
    margin-right: 9px;
    margin-left: 18px;
}

/*------------ Social -----------*/
.social {
    float: right;
    margin-top: 18px;
}
.social a {
    color: #6a6a69;
}
.social ul li {
    margin-left: 9px;
}
.social ul li:hover a{
    color: #bd2631;
}

/*------------- LOGO --------------*/
.logo {
    min-width: 1024px;
    /*max-width: 1366px;*/
    min-height: 140px;
}
.logo-img {
    margin: 30px 0;
    float: left;
}

/*----------- Static Info -------------*/
.static-info {
    margin: 40px 0;
    float: right;
}
.static-info li {
    font-weight: 500;
    padding: 10px 45px 10px 45px;
    border-right: 1px #ededed solid;
}
.static-info li:last-child {
    padding-right:0;
    border-right: none;
}
.static-info li::before {
    font-family: "FontAwesome";
    font-size: 18px;
    content: '\f05d';
    position: absolute;
    margin-left: -30px;
}
.static-info span {
    font-weight: 200;
    color: #6a6a69;
}

/*--------------------Menu---------------*/
.menu {
    /*max-width: 1366px;*/
    min-width: 1024px;
    position: absolute;
    z-index: 1000;
    height: 70px;
    background: rgba(0, 0, 0, 0.8);
    right: 0;
    left: 0;
}
nav {
    padding-left: 18px;
    padding-top: 27px;
    display: inline-block;
}

nav li a {
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    padding: 27px 5px 22px 5px;
}

nav li {
    /*border-bottom: 7px #bd2631 solid;*/
    margin-right: 18px;
}

nav li a:before {
    content: '';
    position: absolute;
    height: 7px;
    width: 0;
    bottom: 0;
    background: #bd2631;
    left: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
nav li a:hover:before {
    width: 100%;
    /*border-bottom: 6px solid #bd2631;*/
}

/*-------------------Search------------------*/
.search {
    float: right;
    width: 200px;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /*background: rgba(204, 204, 204, 0);*/
    border-bottom: 1px solid rgba(204, 204, 204, 0);
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
    text-align: right;
}

.fa-search {
    margin-right: 18px;
}
.search:hover {
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border-bottom: 1px solid rgba(204, 204, 204, 0.2);
}

/*-------------------SLIDER---------------*/
.slider {
    position: relative;
    min-width: 1024px;
    background: #000;
}
.slider-img {
    min-height: 642px;
    background: url(../images/slide1.png) no-repeat right, #000;
}


/*-----------------TEXT-----------------*/
.slide-text {
    /*padding: 0 100px;*/
    /*display: inline-block;*/
    position: absolute;
    padding-left: 70px;
    top: 40%;
}

/*----------------- SCROLL ------------------*/
.scroll {
    position: absolute;
    min-width: 1024px;
    max-width: 1346px;
    height: 41px;
    padding: 0 10px;
    top: 48%;
    left: 0;
    right: 0;
    margin: 0 auto ;
}
.left {
    float: left;
}
.right {
    float: right;
}
.left:hover {
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.7;
}

.right:hover {
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.7;
}