* {
    padding: 0;
    margin: 0;
}
body {
    font: 12px Arial;
}
/*Обертка для поля контактов*/
.wrapper {
    max-width: 320px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #eeeeee;
    /*padding: 0 10px;*/

}
/*---------------*/
/*Заглушка чтобы контакты не налазили на поле поиска*/
.stopped {
    width: inherit;
    height: 50px;
    background-color: white;
}
/*-----------------*/
.wrapper-search-block {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.28) 0 2px 2px;
}
/*блок поиска*/
.search-block {
    margin: 0 auto;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    position: relative;
    width: 250px;
    height: 30px;
    border: 1px solid #0051ff;
    box-shadow: rgba(0, 81, 255, 0.6) 1px 1px 3px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.description {
    position: absolute;
    display: inline-block;
    top: -8px;
    font: 10px/1 Arial;
    color: #0051ff;
    background-color: white;
    padding:0 5px;
    margin-left: 5px;
}
#input-search {
    font: 12px/1 Arial;
    width: 190px;
    height: 20px;
    /*border: none;*/
    outline: none;
    padding: 0 10px;
}
.clear-search {
    font: 10px Arial;
    line-height: 30px;
    width: 40px;
    height: 30px;
    border-radius:0 10px 10px 0;
    border-left: 1px solid #0051ff;
    color: #0051ff;
    text-align: center;
    margin-left: 5px;

}
/*----------------*/
/*Кнопка добавления контактов*/
.button-add {
    position:relative;
    width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    box-shadow: #0051ff 1px 1px 5px;
    color: #0051ff;
    font-size: 20px;
    border: 1px solid #0051ff;
}
.button-add:active {
    box-shadow: #0051ff 1px 1px 1px;
}

.contacts {
    height: 30px;
    /*line-height: 30px;*/
    border-bottom: 1px solid #eee;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.data-name {

}
.data-telephone {
    font-size: 9px;
}
.active {
    border: 1px solid #eee;
    box-shadow: gray 0px 1px 3px;
    margin: 0;
    padding-left: 20px;
}
