@import "reset";
@import "var";
@import "custom";
@import "mixin";
@import "animate";

// header ---------------------------------

.siteHeaderSection {
  background: $colorDarkGray;
  margin-bottom: 48px;
  padding: $headerPadding;
  width: 100%;
} // siteHeader

.siteHeader {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
  &__logo {
    width: 200px;
  } // __logo
} // siteHeader

.searchBlock {
  &__form {
    position: relative;
    input {
      background: $colorGray;
      border-radius: 3px;
      color: white;
      font-size: 13px;
      padding: 12px 45px 12px 16px;
      width: 400px;
      @include placeholder (Arial, 13px, 400, normal, white);
    } // input
    .iconBtn {
      &-search {
        padding: 11px;
        right: 4px;
        top: 50%;
        transform: translateY(-50%);
      } // -search
    } // iconBtn
  } // __form
} // searchBlock

.menuBlock {
  .iconBtn {
    &-toggleMenu {
      transition: transform .5s;
      &:hover {
        transform: rotateY(180deg);
      } // hover
    } // -toggleMenu
  } // iconBtn
  .cssIcon {
    &:hover {
      cursor: pointer;
      .cssIcon__part {
        &-line {
          background: $colorYellow;
        } // -line
      } // __part
    } // hover
    &__part {
      &-line {
        margin-bottom: 3px;
        transition: background .3s;
        &:last-child {
          margin-bottom: 0;
        } // last-child
      } // -line
    } // __iconPart
  } // cssIcon
} // menuBlock

.headerUserAction {
  align-items: center;
  display: flex;
  justify-content: center;
  &__element {
    color: white;
    font-size: 15px;
    transition: color .3s;
    padding: 5px 0;
    span {
      display: block;
      position: relative;
      &::before {
        background: $colorYellow;
        bottom: -2px;
        content: '';
        display: block;
        height: 1px;
        left: 1px;
        position: absolute;
        transition: width .3s;
        width: 0;
      } // before;
    } // span
    &:hover {
      color: $colorYellow;
      cursor: pointer;
      span {
        &::before {
          width: 99%;
        } // before
      }
    } // hover
  } // __element
  &__separate {
    background: $colorGray;
    height: 20px;
    margin: 0 17px;
    width: 1px;
  } // __separate
} // headerUserAction

// ==========================================

// Spare parts ------------------------------
.spareParts {
  margin-bottom: 60px;
  &__titleBlock {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  } // __titleBlock
  &__title {
  } // __title
  .sparePartsFilter {
    align-items: center;
    display: flex;
  } // sparePartsFilter
  &__sliderBlock {
    position: relative;
    max-width: $wrapperMaxWidth;
  } // sliderBlock
  .sliderWrap {
    overflow: hidden;
    position: relative;
    max-width: $wrapperMaxWidth;
  } // sliderWrap
  .sliderNavBlock {
    $sizeNavBtn: 45px;
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: white;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 43%;
      transform: translateY(-50%);
      height: $sizeNavBtn;
      width: $sizeNavBtn;
      z-index: 5;
      &:hover {
        cursor: pointer;
      } // hover
      &-next {
        right: -25px;
      } // -left
      &-prev {
        left: -25px;
      } // -prev
    } // __btn
  } // sliderNavBlock
  .sparePartsSlider {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    transition: transform .3s ease-in-out;
    &__sliderItem {
      margin-right: 32px;
      width: 260px;
      &:last-child {
        margin-right: 0;
      } // last-child
    } // sliderItem
  } // sparePartsSlider
  .sparePartsContent {
    border-radius: $mainBorderRadius;
    border: 1px solid $colorLightGray;
    margin-bottom: 15px;
    width: 100%;
  } // sparePartsContent
  .sparePartsContentTitle {
    align-items: center;
    color: $colorDarkGray;
    display: flex;
    justify-content: flex-start;
    height: 50px;
    overflow: hidden;
    padding: 0 15px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    &__img {
      margin-right: 20px;
      height: 34px;
      img {
        height: 100%;
        width: auto;
      } // img
    } // img
    &__text {
      transition: color .3s;
      span {
        position: relative;
        &::after {
          content: '';
          background: $colorYellow;
          display: block;
          height: 1px;
          position: absolute;
          bottom: -1px;
          left: 0;
          transition: width .3s;
          width: 0;
        } // after
      } // span
    } // __text
    &:after {
      background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 20%, white 80%);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
    } // after
    &:hover {
      cursor: pointer;
      .sparePartsContentTitle__text {
        color: $colorYellow;
        span {
          &::after {
            width: 100%;
          } // after
        } // span
      } // sparePartsContentTitle__text
    } // hover
  } // sparePartsContentTitle
  .sparePartsElements {
    a {
      text-decoration: none;
    } // a
  } // sparePartsElements
  .sparePartsElement {
    align-items: center;
    border-top: 1px solid $colorLightGray;
    color: $colorDarkGray;
    display: flex;
    height: 50px;
    justify-content: space-between;
    position: relative;
    &::after {
      border-radius: 3px;
      border: 1px solid transparent;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: -1px;
      left: -1px;
      width: 100%;
      z-index:1;
    } // after
    &:hover {
      cursor: pointer;
      &::after {
        border-color: $colorRatingYellow;
      } // after
    } // hover
    &__item {
      align-items: center;
      border-right: 1px solid $colorLightGray;
      display: flex;
      font-size: 16px;
      justify-content: center;
      height: 100%;
      &:last-child {
        border-right: none;
      } // last-child
      &-count {
        $sparePartsElementCountWidth: 30px;
        background: $colorCountBg;
        color: $colorCountTxt;
        font-weight: bold;
        min-width: $sparePartsElementCountWidth;
        width: $sparePartsElementCountWidth;
      } // __count
      &-brandImg {
        background: $colorBgLightGray;
        border-right: none;
        justify-content: flex-start;
        overflow: hidden;
        padding-left: 7px;
        width: 100%;
        .imgWrap {
          height: 17px;
        } // imgWrap
        img {
          height: 100%;
          width: auto;
        } // img
      } // __brandImg
      &-brandText {
        $sparePartsElementBrandTextWidth: 80px;

        background: $colorBgLightGray;
        justify-content: flex-start;
        min-width: $sparePartsElementBrandTextWidth;
        overflow: hidden;
        padding-left: 7px;
        width: $sparePartsElementBrandTextWidth;
        white-space: nowrap;
      } // __brandText
      &-rating {
        font-size: 13px;
        font-weight: bold;
        $sparePartsElementRatingWidth: 67px;
        min-width: $sparePartsElementRatingWidth;
        position: relative;
        width: $sparePartsElementRatingWidth;
        &>.svgWrap {
          min-height: 36px;
          min-width: 36px;
          position: absolute;
          height: 36px;
          width: 36px;
          @include absPosCenter();
          .svgRatingCircle {
            height: auto;
            width: 100%;
            &>path {
              fill: transparent;
              stroke-width:3;
              stroke-linecap:round;
              stroke-linejoin:round;
              stroke-dasharray: 114px;
              transition: stroke-dashoffset 1s;
              &.static {
                stroke: $colorBgLightGray;
              } // dynamic
            } // path
          } // svgRatingCircle
        } // svgWrap
        span {
          align-items: center;
          background: url(../img/rating_circle.svg) no-repeat center/36px 36px;
          border-radius: 50%;
          //border: 3px solid $colorYellow;
          display: flex;
          justify-content: center;
          height: 40px;
          width: 40px;
        } // span
      } // __rating
    } // __item
  } // sparePartsElement
}
// ==========================================

// review count block -----------------------
.reviewCountBlock {
  align-items: center;
  border-radius: 3px;
  background: linear-gradient(to bottom, rgba(167,202,82,1) 0%,rgba(144,202,82,1) 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  margin-bottom: 60px;
  &__title {
    margin-bottom: 15px;
    text-shadow: 1px 1px 1px rgba(70, 91, 29, 0.31);
  } // title
  .reviewCounter {
    display: flex;
    align-items: center;
    justify-content: center;
  } // reviewCounter
  .reviewNumbersBlock {
    display: flex;
    align-items: center;
    &__title {
      color: $colorDarkGray;
      font-size: 20px;
      white-space: nowrap;
    } // title
    &__numbers {
      align-items: center;
      display: flex;
      margin: 0 10px;
      .number {
        $numberHeight: 40px;
        $numberWidth: 35px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 4px;
        background: $colorCountNumberBg;
        margin-right: 2px;
        overflow: hidden;
        position: relative;
        height: $numberHeight;
        width: $numberWidth;
        &:last-child {
          margin-right: 0;
        } // last-child
        &::before {
          content: attr(data-number);
          color: white;
          font-size: 30px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
        } // before
        &__part {
          width: 100%;
          height: 45%;
          &-top {
            border-radius: 4px 4px 0 0;
            background: $colorCountNumberBg;
          } // top
          &-bottom {
            border-radius: 0 0 4px 4px;
            background: $colorGray;
          } // -bottom
        } // part
        &-transition {
          &::before {
            content: attr(data-prevnumber);
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
          } // before
          &::after {
            content: attr(data-nextnumber);
            color: white;
            font-size: 30px;
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
          } // before
        } // -transition
      } // number
    } // __numbers
  } // reviewNumbersBlock

} // reviewCountBlock
// ==========================================

// brands -----------------------------------
.brands {
  margin-bottom: 60px;
  &__title {
    margin-bottom: 30px;
  } // __title
  &__ratingBlock {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  } // __ratingBlock
  .brandsList {
    $brandsListWidth: calc((100% + 30px) / 3 - 30px);
    border-radius: $mainBorderRadius;
    border: 1px solid $colorLightGray;
    margin-right: 32px;
    width: $brandsListWidth;
    &:last-child {
      margin-right: 0;
    } // last-child
    &__title {
      align-items: flex-start;
      display: flex;
      justify-content: center;
      height: 70px;
      overflow: hidden;
      padding: 20px 15px 0 15px;
      position: relative;
      white-space: nowrap;
      a {
        color: $colorDarkGray;
        position: relative;
        text-decoration: none;
        transition: color .3s;
        &::before {
          content: '';
          background: $colorYellow;
          display: block;
          height: 1px;
          position: absolute;
          bottom: -1px;
          left: 0;
          transition: width .3s;
          width: 0;
        } // before
      } // a
      &:hover {
        cursor: pointer;
        a {
          color: $colorYellow;
          &::before {
            width: 100%;
          } // before
        } // a
      } // hover
    } // &__title
  } // brandsList
  .brandsListElements {
    width: 100%;
  } // brandsListElements
  .brandsListElement {
    align-items: center;
    border-top: 1px solid $colorLightGray;
    display: flex;
    height: 50px;
    justify-content: space-between;
    position: relative;
    &::after {
      border-radius: 3px;
      border: 1px solid transparent;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: -1px;
      left: -1px;
      width: 100%;
      z-index:1;
    } // after
    &:hover {
      cursor: pointer;
      &::after {
        border-color: $colorRatingYellow;
      } // after
    } // hover
    &__item {
      align-items: center;
      border-right: 1px solid $colorLightGray;
      display: flex;
      font-size: 15px;
      justify-content: center;
      position: relative;
      height: 100%;
      &:last-child {
        border-right: none;
      } // last-child
      &-count {
        $sparePartsElementCountWidth: 30px;
        background: $colorCountBg;
        color: $colorCountTxt;
        font-weight: bold;
        min-width: $sparePartsElementCountWidth;
        width: $sparePartsElementCountWidth;
      } // __count
      &-brandImg {
        $brandImgWidth: 170px;
        background: $colorBgLightGray;
        justify-content: center;
        overflow: hidden;
        width: $brandImgWidth;
        min-width: $brandImgWidth;
        .imgWrap {
          height: 17px;
          margin-bottom: 5px;
        } // imgWrap
        img {
          height: 100%;
          width: auto;
        } // img
      } // __brandImg
      &-brandBlock {
        $brandImgWidth: 170px;
        background: $colorBgLightGray;
        flex-direction: column;
        justify-content: center;
        min-width: $brandImgWidth;
        width: $brandImgWidth;
        .imgWrap {
          height: 17px;
          margin-bottom: 5px;
        } // imgWrap
        &__additionalbrand {
          color: $colorDarkGray;
          font-size: 13px;
        } // __additionalBrand
        img {
          height: 100%;
          width: auto;
        } // img
      } // __brandImg
      &-brandTop {
        align-items: flex-start;
        background: $colorBgLightGray;
        color: $colorDarkGray;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        padding-left: 10px;
        text-decoration: none;
        min-width: initial;
        width: 100%;
        &::after {
          content: attr(data-brand-name);
          display: flex;
          align-items: center;
          justify-content: center;
          background: linear-gradient(to bottom, rgba(167, 202, 82, 0.81) 0%, rgba(144, 202, 82, 0.81) 100%);
          //background: rgba(239, 180, 40, 0.8);
          color: white;
          font-weight: bold;
          font-size: 0;
          height: 100%;
          position: absolute;
          transform: scale(0);
          text-transform: uppercase;
          transition: font-size .3s, transform .3s;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.71);
          top: 0;
          left: 0;
          width: 100%;
        } // after
        .imgWrap {
          height: 17px;
          margin-bottom: 5px;
        } // imgWrap
        &__additionalbrand {
          color: $colorDarkGray;
          font-size: 13px;
        } // __additionalBrand
        img {
          height: 100%;
          width: auto;
        } // img
        &:hover {
          cursor: pointer;
          &::after {
            font-size: 15px;
            transform: scale(1);
          } // after
        } // hover
      } // -brandTop
      &-reviews {
        $brandTextWidth: calc((100% - 100px) / 2);
        background: white;
        justify-content: center;
        padding: 0 10px;
        width: $brandTextWidth;
        .reviewsQuantity {
          margin-right: 5px;
        } // reviewsQuantity
        .reviewsIncrease {
          color: $colorRatingGreen;
          font-size: 12px;
        } // reviewsIncrease
      } // __brandText
      &-rating {
        $brandTextWidth: calc((100% - 100px) / 2);
        font-size: 13px;
        font-weight: bold;
        position: relative;
        width: $brandTextWidth;
        span {
          align-items: center;
          background: url(../img/rating_circle.svg) no-repeat center/36px 36px;
          border-radius: 50%;
          //border: 3px solid $colorYellow;
          display: flex;
          justify-content: center;
          height: 40px;
          width: 40px;
        } // span
      } // __rating
      &-quantity {
        $brandTextWidth: calc((100% - 100px) / 2);
        font-size: 13px;
        font-weight: bold;
        position: relative;
        width: $brandTextWidth;
        span {
          align-items: center;
          background: url(../img/rating_circle.svg) no-repeat center/36px 36px;
          border-radius: 50%;
          //border: 3px solid $colorYellow;
          display: flex;
          justify-content: center;
          height: 40px;
          width: 40px;
        } // span
      } // quantity
      &-averageRating {
        width: initial;
        padding: 0 15px;
        .averageRatingNumber {
          margin-right: 3px;
        } // averageRatingNumber
        .averageRatingStar {
          width: 10px;
          &__svg {
            path {
              fill-rule:evenodd;
              clip-rule:evenodd;
              fill: transparent;
            } // path
          } // svg
        } // averageRatingStar
      } // -averageRating
      &-reviewDiagram {
        padding: 0 20px;
        .reviewDiagramBlock {
          display: flex;
          justify-content: center;
          $reviewDiagramWidth: 115px;
          height: 30px;
          min-width: $reviewDiagramWidth;
          width: $reviewDiagramWidth;
          &__item {
            align-items: center;
            color: white;
            display: flex;
            font-size: 14px;
            font-weight: 400;
            justify-content: center;
            min-width: 20px;
            transition: width .5s;
            &-green {
              background: $colorRatingGreen;
              width: 70%;
            } // -green
            &-yellow {
              background: $colorRatingYellow;
              width: 20%;
            } // &-yellow
            &-red {
              background: $colorRatingRed;
              width: 10%;
            } // -red
          } // __item
        } // reviewDiagramBlock
      } // reviewDiagram
      &-country {
        padding: 0 10px;
        .imgFlag {
          border-radius: 3px;
          background-image: url(../img/flags_sprite.jpg);
          height: 17px;
          min-width: 26px;
          width: 26px;
          &-germany {
            background-position: 0 0;
          } // -germany
          &-england {
            background-position: 55px 0;
          } // -england
          &-italy {
            background-position: 27px 0;
          } // -italy
        } // imgFlag
      } // country
      &-site {
        padding: 0 10px;
        &:hover {
          cursor: pointer;
          .linkWrap {
            a {
              color: $colorYellow;
              transform: translateX(-100%);
            } // a
          }
        } // hover
        .linkWrap {
          overflow: hidden;
          position: relative;
          width: 95px;
          &::after {
            background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 20%, white 80%);
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
          } // after
          a {
            color: $colorDarkGray;
            display: block;
            text-decoration: none;
            transition: color .3s, transform 2s;
          } // a
        } // linkWrap
      } // -site
      &-addReview {
        padding: 0 20px;
        text-decoration: none;
      } // -addReview
      &-topBlock {
        overflow: unset;
        &::before {
          content: attr(data-title);
          color: $colorColName;
          font-size: 12px;
          font-weight: 400;
          left: 50%;
          top: -17px;
          position: absolute;
          transform: translateX(-50%);
          white-space: nowrap;
        } // before
      } // topBlock
    } // __item
    &-diffHover {
      &::after {
        display: none;
      } // after
    } // -diffHover
  } // brandsListElement
} // brands
// ==========================================

// automobile block -------------------------
.cars {
  margin-bottom: 60px;
  &__title {
    margin-bottom: 30px;
  } // __title
  &__listsBlock {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  } // __listsBlock
  .carItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &>li {
      width: calc( 1140px / 3 );
    } // li
    &__unvisibleItem {
      display: none;
    } // __unvisibleItem
  } // carItems
  .carItem {
    align-items: center;
    border: 1px solid transparent;
    color: $colorDarkGray;
    display: flex;
    height: 50px;
    justify-content: space-between;
    text-decoration: none;
    padding: 0 10px;
    &:hover {
      cursor: pointer;
      border-color: $colorYellow;
      .carItem__elem-name {
        color: $colorYellow;
      } // carItem__elem-name
    } // hover
    &__elem {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      &-logo {
        $carItemLogoWidth: 70px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: center;
        height: 40px;
        margin-right: 10px;
        min-width: $carItemLogoWidth;
        width: $carItemLogoWidth;
        img {
          height: 100%;
          width: auto;
        } // img
      } // -logo
      &-name {
        padding-right: 5px;
        position: relative;
        transition: color .3s;
        &::after {
          content: '';
          color: $colorYellow;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
        } // after
      } // -name
      &-space {
        border-bottom: 1px dashed $colorLightGray;
        position: relative;
        top: 5px;
        width: 100%;
      } // -space
      &-rating {
        background: $colorBgLightGray;
        color: $colorCountTxt;
        border-radius: 3px;
        margin-left: 5px;
        padding: 5px 7px;
      } // -rating
    } // __elem
  } // carItem
  .showMoreCars {
    width: 100%;
    button {
      margin: 0 auto;
    } // button
  } // showMoreCars
} // cars
// ==========================================

// magazine block ---------------------------
.magazineBlock {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
} // magazineBlock
.magazine {
  width: 70%;
  &__title {
    margin-bottom: 30px;
  } // __title
  &__articles {

  } // ____articles
  .articleTabs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    a {
      color: $colorDarkGray;
      text-decoration: none;
    } // a
  } // articleTabs
  .articleTab {
    margin-right: 30px;
    width: $col2Width;
    &:first-child {
      margin-bottom: 30px;
    } // first-child
    &__thumbnail {
      background: black;
      border-radius: 3px;
      height: 127px;
      margin-bottom: 10px;
      overflow: hidden;
      position: relative;
      &::before, &::after {
        $beforeElemSize: 10px;
        content: '';
        position: absolute;
        transition: transform .3s ;
        top: $beforeElemSize;
        left: $beforeElemSize;
        bottom: $beforeElemSize;
        right: $beforeElemSize;
      } // before
      &::before {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        transform: scale(0, 1);
      } // before
      &::after {
        border-right: 1px solid white;
        border-left: 1px solid white;
        transform: scale(1, 0);
      } // before
      img {
        transition: transform .3s, filter .3s, opacity .3s;
      } // img
      p {
        color: white;
        font-weight: bold;
        opacity: 0;
        position: absolute;
        transform: translate(-50%, -50%) scale(0);
        transition: opacity .3s, transform .3s;
        top: 50%;
        left: 50%;
      } // p
    } // __thumbnail
    &__description {
      font-size: 16px;
      line-height: 18px;
      transition: color .3s;
    } // __description
    &:hover {
      cursor: pointer;
      .articleTab__thumbnail {
        &::before, &::after {
          transform: scale(1,1);
        } // before, after
        img {
          opacity: .5;
          transform: rotate(10deg) scale(1.2);
          filter: blur(1px);
        } // img
        p {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
        } // p
      } // articleTab__thumbnail
      .articleTab__description {
        color: $colorYellow;
        text-decoration: underline;
      } // articleTab__description
    } // hover
  } // articleTab
} // magazine
.activityTape {
  background: $colorBgLightGray;
  border-radius: 3px;
  border: 1px solid $colorLightGray;
  min-height: 440px;
  height: 440px;
  padding: 30px;
  width: $col4Width;
  .activityTapeHeader {
    align-items: center;
    display: flex;
    margin-bottom: 30px;
    &__icon {
      margin-right: 10px;
      height: 20px;
      width: 20px;
      svg {
        width: 100%;
        height: auto;
        path {
          fill: #2c333d;
          fill-rule: evenodd;
        } // path
      } // svg
    } // __icon
    &__text {
      font-weight: normal;
    } // __text
  } // activityTapeHeader
  &__eventBlock {
    overflow-y: scroll;
    padding-right: 10px;
    max-height: 85%;
    /* width */
    &::-webkit-scrollbar {
      width: 13px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      border-radius: 3px;
      background: $colorLightGray;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $colorYellow;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    .event {
      border-bottom: 1px solid $colorLightGray;
      margin-bottom: 20px;
      &__header {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 10px;
      } // header
      &__headerThumbnail {
        $headerThumbnailSize: 35px;

        display: flex;
        align-items: center;
        background: white;
        border-radius: 3px;
        border: 1px solid white;
        margin-right: 10px;
        overflow: hidden;
        height: $headerThumbnailSize;
        width: $headerThumbnailSize;
      } // __headerThumbnail
      &__headerNameDate {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 10px;
        p {
          display: inline-block;
          font-size: 15px;
          font-weight: bold;
          color: $colorGray;
          margin-bottom: 5px;
          position: relative;
          transition: color .3s;
          &::before {
            background: $colorYellow;
            content: '';
            display: block;
            height: 1px;
            position: absolute;
            transition: width .3s;
            bottom: -1px;
            width: 0;
          } // before
          &:hover {
            cursor: pointer;
            color: $colorYellow;
            &::before {
              width: 100%;
            } // before
          } // hover
        } // p
        time {
          font-size: 13px;
          font-weight: normal;
          color: $colorCountTxt;
        }
      } // __headerNameDate
      &__content {
        margin-bottom: 15px;
        p {
          font-size: 15px;
          line-height: 1.2em;
        } // p
        a {
          color: $colorLinkAside;
        } // a
      } // __content
      &__addReview {
        margin-bottom: 15px;
      } // __addReview
    } // events
  } // __eventBlock
} // activityTape
// ==========================================

// comparison block -------------------------
.comparisonBlock {
  margin-bottom: 60px;
  &__header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    .blockTitle {
      margin-bottom: 30px;
    } // blockTitle
  } // __header
  &__content {
    border-radius: 3px;
    background: $colorBgLightGray;
    overflow: hidden;
    padding: 15px;
  } // __content
} // comparisonBlock
.comparisonBlockItems {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
} // comparisonBlockItems
.comparisonBlockItem {
  color: $colorDarkGray;
  max-width: 247px;
  min-width: 220px;
  margin: 15px;
  text-decoration: none;
  &__brands {
    background: white;
    border-radius: 3px;
    margin-bottom: 15px;
    position: relative;
    .brandsBlock {
      $offsetElement: 15px;
      align-items: center;
      display: flex;
      justify-content: center;
      height: 70px;
      &__img {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 30px;
        width: 120px;
      } // __img
      &-top {
        border-bottom: 1px solid $colorLightGray;
        & > div {
          margin-bottom: $offsetElement;
        } // div
      } // -top
      &-bottom {
        & > div {
          margin-top: $offsetElement;
        } // div
      } // -bottom
    } // blockTop
    .blockSeparator {
      $separCircelSize: 41px;
      align-items: center;
      display: flex;
      justify-content: center;
      background: $colorYellow;
      border-radius: 50%;
      color: white;
      font-size: 16px;
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50% , -50%);
      height: $separCircelSize;
      width: $separCircelSize;
    } // blockSeparator
  } // __brands
  &__description {
    font-size: 16px;
    line-height: 18px;
    transition: color .3s;
  } // __description
  &:hover {
    cursor: pointer;
    .comparisonBlockItem__description {
      color: $colorYellow;
      text-decoration: underline;
    }
  } // hover
} // comparisonBlockItem
// ==========================================

// seo text block ---------------------------
.seo {
  margin-bottom: 60px;
  &__title {
    font-weight: normal;
    margin-bottom: 30px;
  } // __title
  &__content {
  } // __content;
  .seoTexts {
    p {
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 30px;
    } // p
  } // seoTexts
} // seo
// ==========================================

// footer -----------------------------------
.siteFooter {
  &__menuBlock {
    $blockPadding: 60px;
    background: $colorDarkGray;
    padding: 60px 0;
  } // __menuBlock
  .footerMenuBlock {
    display: flex;
    justify-content: space-between;
  } // footerMenuBlock
  .footerMenu {
    &__item {
      a {
        color: white;
        font-size: 16px;
        line-height: 30px;
        text-decoration: none;
        &:hover {
          color: $colorYellow;
        } // hover
      } // a
      &-title {
        display: flex;
        align-items: center;
        .h4Title {
          display: inline-block;
          position: relative;
          margin-right: 7px;
          &::after {
            content: '';
            border-bottom: 1px dashed $colorYellow;
            bottom: 5px;
            display: block;
            position: absolute;
            height: 1px;
            transition: width .3s;
            width: 0;
          } // after
          &:hover {
            cursor: pointer;
            &::after {
              width: 100%;
            } // after
          } // hover
          a {
            color: $colorYellow;
            font-size: 16px;
            line-height: 30px;
            text-decoration: none;
          } // a
        } // .h4Title
      } // -title
    } // __item
    &__hiddenBlock {
      overflow: hidden;
      transition: height .3s;
      height: 0;
    } // __hiddenBlock
  } // footerMenu
  &__copyrightBlock {
    padding: 20px 0;
    p {
      text-align: center;
      font-size: 13px;
    } // p
  } // __copyrightBlock
} // siteFooter
// ==========================================