body#ceroxMainPage{
  padding: 60px 0 35px 0;
  font-family: 'proximanova', sans-serif;

  h1 {
    font-size: 33px;
    font-weight: 200;
    line-height: 1;
    text-align: center;
    span {
      display: block;
    }
  } // h1

  img {
    width: 100%;
    height: auto;
  } // img

  // videoBg
  .videoBg {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    video {
      background-blend-mode: color-dodge;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    } // video
    &__overlay {
      background: rgba(11, 97, 113, 0.31);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      &::before, &::after {
        content: '';
        display: block;
        left: 0;
        position: absolute;
        height: 30%;
        width: 100%;
      } // before, after
      &::before {
        top: 0;
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 60%,rgba(255,255,255,0.1) 86%,rgba(255,255,255,0) 100%);
      } // before
      &::after {
        bottom: 0;
        background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 60%,rgba(255,255,255,0.1) 86%,rgba(255,255,255,0) 100%);
      } // after

    } // __overlay
    &__whiteOverlay {
      background: rgba(255, 255, 255, 0.3);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    } // whiteOverlay
  }

  .workItem {
    $size: 260px;
    @include flex(center, center);
    position: relative;
    &:hover {
      cursor: pointer;
      .workItem__img {
        border-color: $colorAquamarine;
        &::after {
          transform: scale(0);
        } // after
        &::before {
          transform: translateY(0);
        } // before
      } // workItem__img
      .workItem__name {
        transform: translateY(80px);
        .name {
          font-size: 18px;
          line-height: 20px;
          text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.51);
        } // name
      } // workItem__img
    } // hover
    &__img {
      border-radius: 50%;
      border: 2px solid white;
      height: $size;
      overflow: hidden;
      position: relative;
      transition: border .3s;
      width: $size;
      &::before, &::after {
        content: '';
        position: absolute;
        left: 0;
        transition: transform .3s;
        width: 100%;
      } // before, after
      &::before {
        background: linear-gradient(to bottom, rgba($colorAquamarine,0) 0%, rgba($colorAquamarine, 100%) 100%);
        bottom: 0;
        height: 50%;
        transform: translateY(100%);
      } // before
      &::after {
        background: $colorAquamarine;
        border-radius: 50%;
        opacity: .7;
        top: 0;
        height: 100%;
      } // after
      img {
        object-fit: cover;
        height: $size;
        width: $size;
      } // img
    } // __img
    &__name {
      position: absolute;
      transition: transform .3s;
      .name {
        color: white;
        display: block;
        font-size: 22px;
        font-weight: 300;
        line-height: 28px;
        text-transform: uppercase;
        text-align: center;
        transition: text-shadow .1s , font-size .3s, line-height .3s;
      } // name
    } // __name
    &-current {
      .workItem__img {
        border-color: $colorAquamarine;
        &::after {
          transform: scale(0);
        } // after
        &::before {
          transform: translateY(0);
        } // before
      } // workItem__img
      .workItem__name {
        transform: translateY(80px);
        .name {
          font-size: 18px;
          line-height: 20px;
          text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.51);
        } // name
      } // workItem__img
    } // current
  } // workItem

  // slider
  .sliderBox {
    position: relative;
    max-width: 100%;
  } // sliderBox;
  .sliderWrap {
    overflow: hidden;
    position: relative;
    max-width: 100%;

  } // sliderWrap
  .mySlider {
    @include flex(center, center);
    .slide {
      padding: 0 17px;
    } // slide
  } // mySlider
  .sliderNavBlock {
    &__btn {
      &:hover {
      } // hover
      &-next {
      } // -left
      &-prev {
      } // -prev
    } // __btn
  } // sliderNavBlock
  .sliderDotBlock {
    $itemColor: $colorAquamarine;
    $itemSize: 20px;
    $marginTop: 10px;
    $itemMarginRight: 15px;
    @include flex(center, center);
    margin-top: $marginTop;
    .dotItem {
      background: transparent;
      border-radius: 50%;
      border: 1px solid white;
      margin-right: $itemMarginRight;
      transition: background .3s, border .3s;
      height: $itemSize;
      min-height: $itemSize;
      min-width: $itemSize;
      width: $itemSize;
      &:hover {
        background: $itemColor;
        border-color: $itemColor;
      } // hover
      &:last-child {
        margin-right: 0;
      } // last-child
      &-current {
        background: $itemColor;
        border-color: $itemColor;
      } // -current
    } // dotItem
  } // sliderDotBlock

} // body



