@import "normalize";
@import "var";
@import "fonts";
@import "mixin";
@import "slick-theme";
@import "slick";

#ceroxMainPage {
  @include flex(center, space-between);
  height: 100vh;
  font-family: 'proximanova', sans-serif;
  flex-direction: column;
  padding: 35px 0;

  @include hideCountArrow();

  h1 {
    font-size: 33px;
    font-weight: 200;
    line-height: 1;
    max-width: 800px;
    text-align: center;
  } // h1

  img, svg {
    display: block;
    height: auto;
    width: 100%;
  } // img

  // mainHeader
  .mainHeader {
    .logoBlock {
      $imgSize: 160px;
      $imgTitleWidth: 266px;
      @include flex(center, flex-start);
      flex-direction: column;
      margin-bottom: 15px;
      &__img {
        height: $imgSize;
        width: $imgSize;
      } // __img
      &__title {
        position: relative;
        left: -10px;
        span {
          display: block;
        } // span
        .logoTitleImg {
          width: $imgTitleWidth;
        } // logoTitleImg
        .logoSubTitle {
          color: $colorAquamarine;
          font-size: 13px;
          font-weight: 400;
          letter-spacing: 5px;
          position: absolute;
          text-transform: uppercase;
          bottom: -5px;
          right: -5px;
        } // logoSubTitle
      } // __title
    } // logoBlock
  } // mainHeader

  // mainContent
  .mainContent {
    @include flex(center, flex-start);
    flex-direction: column;
    .sliderBox {
      max-width: 100%;
      margin-bottom: 60px;
      position: relative;
      // slider
      .mySlider {
        $size: 260px;
        $slidePadding: 17px;
        @include flex(center, center);
        .slick-slide {
          outline: none;
          &>div {
            display: flex;
            justify-content: center;
          }
        } // slick-slide
        .slick-dots {
          bottom: -45px;
          li {
            margin-right: 15px;
            &:last-child{
              margin-right: 0;
            } // last-child
            button {
              &:hover {
                &::before {
                  background: $colorAquamarine;
                  border-color: $colorAquamarine;
                } // before
              } // hover
              &::before {
                content: '';
                border-radius: 50%;
                border: 1px solid white;
                opacity: 1;
              } // before
            } // button
            &.slick-active {
              button {
                &::before {
                  background: $colorAquamarine;
                  border-color: $colorAquamarine;
                } // before
              } // button
            } // slick-active
          } // li
        } // slick-dots
        &__slide {
          .workItem {
            @include flex(center, center);
            position: relative;
            padding: 0 $slidePadding;
            &:hover {
              cursor: pointer;
              .workItem__img {
                border-color: $colorAquamarine;
                &::after {
                  opacity: 0;
                  //transform: translateY(100%);
                } // after
                &::before {
                  transform: translateY(0);
                } // before
              } // workItem__img
              .workItem__name {
                transform: translateY(80px);
                .name {
                  font-size: 18px;
                  line-height: 20px;
                  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.51);
                } // name
              } // workItem__img
            } // hover
            &__img {
              border-radius: 50%;
              border: 2px solid white;
              height: $size;
              min-height: $size;
              overflow: hidden;
              position: relative;
              transition: border .3s;
              min-width: $size;
              width: $size;
              &::before, &::after {
                content: '';
                position: absolute;
                left: 0;
                transition: transform .3s, opacity .3s, border-radius 3s;
                width: 100%;
              } // before, after
              &::before {
                background: linear-gradient(to bottom, rgba($colorAquamarine,0) 0%, rgba($colorAquamarine, 100%) 100%);
                bottom: 0;
                height: 50%;
                transform: translateY(100%);
              } // before
              &::after {
                background: $colorAquamarine;
                border-radius: 50%;
                opacity: .7;
                top: 0;
                height: 100%;
              } // after
              img {
                object-fit: cover;
                height: $size;
                width: $size;
              } // img
            } // __img
            &__name {
              position: absolute;
              transition: transform .3s;
              .name {
                color: white;
                display: block;
                font-size: 22px;
                font-weight: 300;
                line-height: 28px;
                text-transform: uppercase;
                text-align: center;
                transition: text-shadow .1s , font-size .3s, line-height .3s;
              } // name
            } // __name
            &-current {
            } // current
          } // workItem
        } // __slide
      } // mySlider
    } // sliderBox
    .userActionBlock {
      &__userAction {
        @include flex(center, center);
        margin-bottom: 25px;
        .callBtn {
          $btnSize: 95px;
          $iconRatio: .4;
          $iconSize: $btnSize * $iconRatio;
          @include flex(center, center);
          border-radius: 50%;
          border: 2px solid $colorAquamarine;
          height: $btnSize;
          width: $btnSize;
          //transition: background .3s, border .3s;
          text-decoration: none;
          position: relative;
          &:hover {
            cursor: pointer;
            background: $colorAquamarine;
            border-color: white;
            .callBtn__img {
              opacity: 0;
              &-hover {
                opacity: 1;
              } // -hover
            } // callBtn__img
          } // hover
          &__img {
            position: absolute;
            transition: opacity .1s;
            width: $iconSize;
            &-hover {
              opacity: 0;
            } // -hover
          } // __img
          &-call {

          } // call
          &-toCall {
            display: none;
          } // -toCall
        } // callBtn
        .orderBtn {
          $width: 300px;
          $height: $width / 5;
          $btnFontSize: $width / 17.7;
          $borderRadius: calc( #{$height} / 2 );
          @include flex(center, center);
          background: #fc0b39;
          border-radius: $borderRadius;
          border: 2px solid white;
          color: white;
          height: $height;
          font-size: $btnFontSize;
          font-weight: 400;
          margin: 0 45px;
          opacity: .65;
          transition: opacity .3s;
          text-transform: uppercase;
          width: $width;
          &:hover {
            cursor: pointer;
            opacity: 1;
          } // hover
        } // orderBtn
      } // __userAction
      &__description {
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 10px;
        text-align: center;
      } // __description
    } // userActionBlock
  } // mainContent

  // mainFooter
  .mainFooter {
    color: $colorAquamarine;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    a {
      color: $colorAquamarine;
      font-size: 14px;
      text-decoration: none;
    } // a
  } // mainFooter

  // videoBg
  .videoBg {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    } // video
    &__overlay {
      background: rgba(22, 195, 227, 0.60);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      &::before, &::after {
        content: '';
        display: block;
        left: 0;
        position: absolute;
        height: 40%;
        width: 100%;
      } // before, after
      &::before {
        top: 0;
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 60%,rgba(255,255,255,0.5) 80%,rgba(255,255,255,0) 100%);
      } // before
      &::after {
        bottom: 0;
        background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 60%,rgba(255,255,255,0.5) 80%,rgba(255,255,255,0) 100%);
      } // after

    } // __overlay
    &__whiteOverlay {
      //background: rgba(255, 255, 255, 0.3);
      $bgcolor: rgba(255, 255, 255, 0.05);
      $transparent: rgba(255, 255, 255, 0);
      $color-1: rgba(255, 255, 255, 0.3);
      $size: 4px;
      $big-size: $size*2;
      $min: 0;
      $max: $size*.3;

      background:
              radial-gradient(circle,
                      $color-1 $max,
                      $transparent $max*1.3
              ) 0 0,
              radial-gradient(circle,
                      $color-1 $max,
                      $transparent $max*1.3
              ) $size*1.1 $size*1.1;
      background-size:  $big-size $big-size;
      background-color: $bgcolor;
      background-repeat: repeat;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    } // whiteOverlay
  }

  // modalWindow
  .modalWindow {
    @include fullScreenOverlayPosition(transparent, 1, fixed, 1000);
    @include flex(center, center);
    display: none;
    &__overlay {
      @include fullScreenOverlayPosition($colorAquamarine, .7, fixed, 1001);
      opacity: 0;
      transition: opacity .3s;
    } // __overlay
    .popUpForm {
      @include flex(center, flex-start);
      background: $colorPopUpBgColor;
      border-radius: 33px;
      border: 2px solid $colorAquamarine;
      flex-direction: column;
      padding: 25px 15px 30px 15px;
      opacity: 0;
      transition: opacity .3s;
      position: relative;
      z-index: 1002;
      &__logo {
        width: 80px;
        margin-bottom: 15px;
      } // &__logo
      &__title {
        font-size: 16px;
        margin-bottom: 30px;
        text-align: center;
      } // title
      &__content {
        width: 100%;
        .userRequest {
          $fieldHeight: 65px;
          $fieldBorderRadius: $fieldHeight / 2;
          width: 100%;
          &__row {
            @include flex(flex-start, space-between);
            margin-bottom: 10px;
            &:last-child {
              margin-bottom: 0;
            } // last-child
          } // row
          &__col {
            width: 100%;
            $colWidth: 50%;
            &-userData {
              @include widthPercent($colWidth);
              padding-right: 5px;
            } // -userData
            &-orderData {
              @include widthPercent($colWidth);
              padding-left: 5px;
            } // orderData
            &-uploadFile {
              @include widthPercent($colWidth);
              padding-right: 5px;
            } // uploadFile
            &-submit {
              @include widthPercent($colWidth);
              padding-left: 5px;
            } // -submit
          } // __col
          &__field {
            @include flex(center, center);
            background: white;
            border-radius: $fieldBorderRadius;
            border: 2px solid $colorAquamarine;
            margin-bottom: 5px;
            height: $fieldHeight;
            width: 100%;
            &:last-child {
              margin-bottom: 0;
            } // last-child
          } // __filed
          .formBtn {
            @include flex(center, center);
            background: white;
            border-radius: $fieldBorderRadius;
            border: 2px solid white;
            color: white;
            margin-bottom: 5px;
            position: relative;
            transition: background .3s;
            height: $fieldHeight;
            width: 100%;
            span {
              display: block;
              background: transparent;
            } // span
            &__txt {

            } // __txt
            &__icon {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 10px;
              width: 35px;
            } // icon
            &:hover {
              cursor: pointer;
            } // hover
            &-uploadFile {
              background: rgba($colorAquamarine, .65);
              &:hover {
                background: rgba($colorAquamarine, 1);
              } // hover
              label {
                border-radius: $fieldBorderRadius;
                background: transparent;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                &:hover {
                  cursor: pointer;
                } // hover
              } // label
            } // -uploadFile
            &-submit {
              background: rgba($colorBtnRed, .65);
              text-transform: uppercase;
              &:hover {
                background: rgba($colorBtnRed, 1);
              } // hover
            } // submit
          } // formBtn
        } // userRequest
      } // __content
      &__closeBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        .closeBtn {
          $sizeIcon: 20px;
          $sizeIconRatio: 1.5;
          $iconStroke: 2px;
          $iconColor: $colorAquamarine;
          $iconLineDeg: 55deg;
          &__icon {
            display: block;
            position: relative;
            height: $sizeIcon * $sizeIconRatio;
            width: $sizeIcon;
            span {
              background: $iconColor;
              display: block;
              height: $iconStroke;
              position: absolute;
              left: 50%;
              top: 50%;
              transition: transform .3s;
              width: calc( #{$sizeIcon * $sizeIconRatio} * 70 / 100);
              &:first-child {
                transform: translate(-50%, -50%) rotate($iconLineDeg);
              } // first-child
              &:last-child {
                transform: translate(-50%, -50%) rotate(-$iconLineDeg);
              } // first-child
            } // span
            &:hover {
              cursor: pointer;
              border-color: $iconColor;
              span {
                &:first-child {
                  transform: translate(-50%, -50%) rotate(-$iconLineDeg);
                } // first-child
                &:last-child {
                  transform: translate(-50%, -50%) rotate($iconLineDeg);
                } // first-child
              } // span
            } // hover
          } // &__icon
        } // closeBtn
      } // __closeBtn
      &-order {
        $formWidth: 580px;
        width: $formWidth;
      } // -order
      &-callBack {
        $formWidth: 300px;
        width: $formWidth;
      } // -callBack
    } // popUpForm
  } // modalWindow

  // @MEDIA -------------------------------------
  @media screen and ( max-width: 1366px ) {
    padding: 15px 0;

    h1 {
      font-size: 26px;
      margin-bottom: 10px;
      }  // h1

    // mainHeader
    .mainHeader {
      .logoBlock {
        $imgSize: 80px;
        $imgTitleWidth: $imgSize * 1.66;
        margin-bottom: 10px;
        &__img {
          height: $imgSize;
          width: $imgSize;
        } // __img
        &__title {
          position: relative;
          left: -10px;
          .logoTitleImg {
            width: $imgTitleWidth;
          } // logoTitleImg
          .logoSubTitle {
            font-size: 7px;
            font-weight: 700;
            letter-spacing: 2px;
            bottom: -3px;
            right: -2px;
          } // logoSubTitle
        } // __title
      } // logoBlock
    } // mainHeader

    // mainContent
    .mainContent {
      .sliderBox {
        margin-bottom: 50px;
        // slider
        .mySlider {
          $size: 180px;
          $dotSize: 15px;
          $dotMargin: 10px;
          $slidePadding: 17px;
          $itemFontSize: 18px;
          $itemLineHeight: $itemFontSize * 1.2;
          $itemHoverFontSize: $itemFontSize / 1.2;
          $itemHoverLineHeight: $itemHoverFontSize * 1.2;
          $itemTextHoverOffset: 50px;
          .slick-dots {
            bottom: -45px;
            li {
              margin-right: $dotMargin;
              button {
                &::before {
                  height: $dotSize;
                  width: $dotSize;
                } // before
              } // button
            } // li
          } // slick-dots
          &__slide {
            .workItem {
              padding: 0 $slidePadding;
              &:hover {
                .workItem__name {
                  transform: translateY($itemTextHoverOffset);
                  .name {
                    font-size: $itemHoverFontSize;
                    line-height: $itemHoverLineHeight;
                  } // name
                } // workItem__img
              } // hover
              &__img {
                height: $size;
                min-height: $size;
                min-width: $size;
                width: $size;
                img {
                  object-fit: cover;
                  height: $size;
                  width: $size;
                } // img
              } // __img
              &__name {
                .name {
                  font-size: $itemFontSize;
                  line-height: $itemLineHeight;
                } // name
              } // __name
              &-current {
              } // current

            } // workItem
          } // __slide
        } // mySlider
      } // sliderBox
      .userActionBlock {
        $descrFontSize: 16px;
        $descrLineHeight: $descrFontSize * 1.2;
        &__userAction {
          @include flex(center, center);
          margin-bottom: 10px;
          .callBtn {
            $btnSize: 80px;
            $iconRatio: .4;
            $iconSize: $btnSize * $iconRatio;
            height: $btnSize;
            width: $btnSize;
            &__img {
              width: $iconSize;
            } // __img
            &-call {

            } // call
            &-toCall {
            } // -toCall
          } // callBtn
          .orderBtn {
            $width: 250px;
            $height: $width / 5;
            $btnFontSize: $width / 17.7;
            $borderRadius: calc( #{$height} / 2 );
            border-radius: $borderRadius;
            height: $height;
            font-size: $btnFontSize;
            margin: 0 35px;
            width: $width;
          } // orderBtn
        } // __userAction
        &__description {
          font-size: $descrFontSize;
          line-height: $descrLineHeight;
        } // __description
      } // userActionBlock
    } // mainContent

  } // 1366
  @media screen and ( max-width: 700px ) {
    height: initial;
    padding: 25px 15px;

    h1 {
      font-size: 28px;
      max-width: 100%;
      margin-bottom: 15px;
    } // h1

    // mainHeader
    .mainHeader {
      .logoBlock {
        $imgSize: 120px;
        $imgTitleWidth: $imgSize * 1.66;
        margin-bottom: 15px;
        &__img {
          height: $imgSize;
          width: $imgSize;
        } // __img
        &__title {
          .logoTitleImg {
            width: $imgTitleWidth;
          } // logoTitleImg
          .logoSubTitle {
            font-size: 9px;
            font-weight: 300;
            letter-spacing: 4px;
            bottom: -5px;
            right: -2px;
          } // logoSubTitle
        } // __title
      } // logoBlock
    } // mainHeader

    // mainContent
    .mainContent {
      .sliderBox {
        margin-bottom: 50px;
        // slider
        .mySlider {
          $size: 360px;
          $dotSize: 20px;
          $dotMargin: 15px;
          $slidePadding: 17px;
          $itemFontSize: 32px;
          $itemLineHeight: $itemFontSize * 1.2;
          $itemHoverFontSize: $itemFontSize / 1.2;
          $itemHoverLineHeight: $itemHoverFontSize * 1.2;
          $itemTextHoverOffset: 100px;
          .slick-dots {
            bottom: -45px;
            li {
              margin-right: $dotMargin;
              button {
                &::before {
                  height: $dotSize;
                  width: $dotSize;
                } // before
              } // button
            } // li
          } // slick-dots
          &__slide {
            .workItem {
              padding: 0 $slidePadding;
              &:hover {
                .workItem__name {
                  transform: translateY($itemTextHoverOffset);
                  .name {
                    font-size: $itemHoverFontSize;
                    line-height: $itemHoverLineHeight;
                  } // name
                } // workItem__img
              } // hover
              &__img {
                height: $size;
                min-height: $size;
                min-width: $size;
                width: $size;
                img {
                  object-fit: cover;
                  height: $size;
                  width: $size;
                } // img
              } // __img
              &__name {
                .name {
                  font-size: $itemFontSize;
                  line-height: $itemLineHeight;
                } // name
              } // __name
              &-current {
              } // current

            } // workItem
          } // __slide
        } // mySlider
      } // sliderBox
      .userActionBlock {
        $descrFontSize: 16px;
        $descrLineHeight: $descrFontSize * 1.2;
        &__userAction {
          @include flex(center, center);
          flex-wrap: wrap;
          margin-bottom: 25px;
          .callBtn {
            $btnSize: 80px;
            $iconRatio: .4;
            $iconSize: $btnSize * $iconRatio;
            height: $btnSize;
            width: $btnSize;
            margin-right: 45px;
            &__img {
              width: $iconSize;
            } // __img
            &-call {
              margin-right: 0;
            } // call
            &-toCall {
              display: flex;
            } // -toCall
          } // callBtn
          .orderBtn {
            $width: 300px;
            $height: $width / 5;
            $btnFontSize: $width / 17.7;
            $borderRadius: calc( #{$height} / 2 );
            border-radius: $borderRadius;
            height: $height;
            font-size: $btnFontSize;
            margin: 25px 150px;
            order: -1;
            width: $width;
          } // orderBtn
        } // __userAction
        &__description {
          display: none;
          font-size: $descrFontSize;
          line-height: $descrLineHeight;
        } // __description
      } // userActionBlock
    } // mainContent

  } // 700
  @media screen and ( max-width: 600px ) {
    padding: 20px 15px;


    // mainContent
    .mainContent {
      .userActionBlock {
        &__userAction {
          .orderBtn {
            margin: 25px 100px;
          } // orderBtn
        } // __userAction
      } // userActionBlock
    } // mainContent

    // modalWindow
    .modalWindow {
      flex-direction: column;
      justify-content: flex-start;
      overflow-y: scroll;
      .popUpForm {
        &__content {
          .userRequest {
            &__row {
              @include flex(flex-start, space-between);
              flex-direction: column;
              margin-bottom: 0;
            } // row
            &__col {
              width: 100%;
              $colWidth: 100%;
              $colPadding: 0;
              &-userData {
                @include widthPercent($colWidth);
                padding-right: $colPadding;
              } // -userData
              &-orderData {
                @include widthPercent($colWidth);
                padding-left: $colPadding;
              } // orderData
              &-uploadFile {
                @include widthPercent($colWidth);
                padding-right: $colPadding;
              } // uploadFile
              &-submit {
                @include widthPercent($colWidth);
                padding-left: $colPadding;
              } // -submit
            } // __col
            &__field {
              margin-bottom: 5px;
              &:last-child {
                margin-bottom: 5px;
              } // last-child
            } // __filed
            .formBtn {
              &-uploadFile {
                margin-bottom: 5px;
              } // -uploadFile
              &-submit {
              } // submit
            } // formBtn
          } // userRequest
        } // __content
        &__closeBtn {
          position: absolute;
          top: 20px;
          right: 20px;
          .closeBtn {
            $sizeIcon: 20px;
            $sizeIconRatio: 1.5;
            $iconStroke: 2px;
            $iconColor: $colorAquamarine;
            $iconLineDeg: 55deg;
            &__icon {
              display: block;
              position: relative;
              height: $sizeIcon * $sizeIconRatio;
              width: $sizeIcon;
              span {
                background: $iconColor;
                display: block;
                height: $iconStroke;
                position: absolute;
                left: 50%;
                top: 50%;
                transition: transform .3s;
                width: calc( #{$sizeIcon * $sizeIconRatio} * 70 / 100);
                &:first-child {
                  transform: translate(-50%, -50%) rotate($iconLineDeg);
                } // first-child
                &:last-child {
                  transform: translate(-50%, -50%) rotate(-$iconLineDeg);
                } // first-child
              } // span
              &:hover {
                cursor: pointer;
                border-color: $iconColor;
                span {
                  &:first-child {
                    transform: translate(-50%, -50%) rotate(-$iconLineDeg);
                  } // first-child
                  &:last-child {
                    transform: translate(-50%, -50%) rotate($iconLineDeg);
                  } // first-child
                } // span
              } // hover
            } // &__icon
          } // closeBtn
        } // __closeBtn
        &-order {
          $formWidth: 300px;
          width: $formWidth;
        } // -order
        &-callBack {
          $formWidth: 300px;
          width: $formWidth;
        } // -callBack
      } // popUpForm
    } // modalWindow

  } // 700
  @media screen and ( max-width: 400px ) {
    height: initial;

    h1 {
      font-size: 23px;
      margin-bottom: 15px;
    } // h1

    // mainHeader
    .mainHeader {
      .logoBlock {
        $imgSize: 80px;
        $imgTitleWidth: $imgSize * 1.66;
        margin-bottom: 15px;
        &__img {
          height: $imgSize;
          width: $imgSize;
        } // __img
        &__title {
          .logoTitleImg {
            width: $imgTitleWidth;
          } // logoTitleImg
          .logoSubTitle {
            font-size: 7px;
            font-weight: 400;
            letter-spacing: 2px;
            bottom: -3px;
            right: -2px;
          } // logoSubTitle
        } // __title
      } // logoBlock
    } // mainHeader

    // mainContent
    .mainContent {
      .sliderBox {
        margin-bottom: 50px;
        // slider
        .mySlider {
          $size: 260px;
          $dotSize: 20px;
          $dotMargin: 15px;
          $slidePadding: 17px;
          $itemFontSize: 22px;
          $itemLineHeight: $itemFontSize * 1.2;
          $itemHoverFontSize: $itemFontSize / 1.2;
          $itemHoverLineHeight: $itemHoverFontSize * 1.2;
          $itemTextHoverOffset: 70px;
          .slick-dots {
            bottom: -45px;
            li {
              margin-right: $dotMargin;
              button {
                &::before {
                  height: $dotSize;
                  width: $dotSize;
                } // before
              } // button
            } // li
          } // slick-dots
          &__slide {
            .workItem {
              padding: 0 $slidePadding;
              &:hover {
                .workItem__name {
                  transform: translateY($itemTextHoverOffset);
                  .name {
                    font-size: $itemHoverFontSize;
                    line-height: $itemHoverLineHeight;
                  } // name
                } // workItem__img
              } // hover
              &__img {
                height: $size;
                min-height: $size;
                min-width: $size;
                width: $size;
                img {
                  object-fit: cover;
                  height: $size;
                  width: $size;
                } // img
              } // __img
              &__name {
                .name {
                  font-size: $itemFontSize;
                  line-height: $itemLineHeight;
                } // name
              } // __name
              &-current {
              } // current

            } // workItem
          } // __slide
        } // mySlider
      } // sliderBox
      .userActionBlock {
        $descrFontSize: 16px;
        $descrLineHeight: $descrFontSize * 1.2;
        &__userAction {
          @include flex(center, center);
          flex-wrap: wrap;
          margin-bottom: 25px;
          .callBtn {
            $btnSize: 80px;
            $iconRatio: .4;
            $iconSize: $btnSize * $iconRatio;
            height: $btnSize;
            width: $btnSize;
            margin-right: 20px;
            &__img {
              width: $iconSize;
            } // __img
            &-call {
              margin-right: 0;
            } // call
            &-toCall {
              display: flex;
            } // -toCall
          } // callBtn
          .orderBtn {
            $width: 250px;
            $height: $width / 5;
            $btnFontSize: $width / 17.7;
            $borderRadius: calc( #{$height} / 2 );
            border-radius: $borderRadius;
            height: $height;
            font-size: $btnFontSize;
            margin: 25px 50px;
            order: -1;
            width: $width;
          } // orderBtn
        } // __userAction
        &__description {
          display: none;
          font-size: $descrFontSize;
          line-height: $descrLineHeight;
        } // __description
      } // userActionBlock
    } // mainContent

  } // 400
  @media screen and ( max-width: 360px ) {
    height: initial;
    padding: 20px 10px;

    h1 {
      font-size: 23px;
      margin-bottom: 15px;
    } // h1

    // mainHeader
    .mainHeader {
      .logoBlock {
        $imgSize: 80px;
        $imgTitleWidth: $imgSize * 1.66;
        margin-bottom: 15px;
        &__img {
          height: $imgSize;
          width: $imgSize;
        } // __img
        &__title {
          .logoTitleImg {
            width: $imgTitleWidth;
          } // logoTitleImg
          .logoSubTitle {
            font-size: 7px;
            font-weight: 400;
            letter-spacing: 2px;
            bottom: -3px;
            right: -2px;
          } // logoSubTitle
        } // __title
      } // logoBlock
    } // mainHeader

    // mainContent
    .mainContent {
      .sliderBox {
        margin-bottom: 50px;
        // slider
        .mySlider {
          $size: 250px;
          $dotSize: 20px;
          $dotMargin: 15px;
          $slidePadding: 17px;
          $itemFontSize: 22px;
          $itemLineHeight: $itemFontSize * 1.2;
          $itemHoverFontSize: $itemFontSize / 1.2;
          $itemHoverLineHeight: $itemHoverFontSize * 1.2;
          $itemTextHoverOffset: 50px;
          .slick-dots {
            bottom: -45px;
            li {
              margin-right: $dotMargin;
              button {
                &::before {
                  height: $dotSize;
                  width: $dotSize;
                } // before
              } // button
            } // li
          } // slick-dots
          &__slide {
            .workItem {
              padding: 0 $slidePadding;
              &:hover {
                .workItem__name {
                  transform: translateY($itemTextHoverOffset);
                  .name {
                    font-size: $itemHoverFontSize;
                    line-height: $itemHoverLineHeight;
                  } // name
                } // workItem__img
              } // hover
              &__img {
                height: $size;
                min-height: $size;
                min-width: $size;
                width: $size;
                img {
                  object-fit: cover;
                  height: $size;
                  width: $size;
                } // img
              } // __img
              &__name {
                .name {
                  font-size: $itemFontSize;
                  line-height: $itemLineHeight;
                } // name
              } // __name
              &-current {
              } // current

            } // workItem
          } // __slide
        } // mySlider
      } // sliderBox
      .userActionBlock {
        $descrFontSize: 16px;
        $descrLineHeight: $descrFontSize * 1.2;
        &__userAction {
          @include flex(center, center);
          flex-wrap: wrap;
          margin-bottom: 25px;
          .callBtn {
            $btnSize: 80px;
            $iconRatio: .4;
            $iconSize: $btnSize * $iconRatio;
            height: $btnSize;
            width: $btnSize;
            margin-right: 20px;
            &__img {
              width: $iconSize;
            } // __img
            &-call {
              margin-right: 0;
            } // call
            &-toCall {
              display: flex;
            } // -toCall
          } // callBtn
          .orderBtn {
            $width: 250px;
            $height: $width / 5;
            $btnFontSize: $width / 17.7;
            $borderRadius: calc( #{$height} / 2 );
            border-radius: $borderRadius;
            height: $height;
            font-size: $btnFontSize;
            margin: 25px 50px;
            order: -1;
            width: $width;
          } // orderBtn
        } // __userAction
        &__description {
          display: none;
          font-size: $descrFontSize;
          line-height: $descrLineHeight;
        } // __description
      } // userActionBlock
    } // mainContent

    // modalWindow
    .modalWindow {
      .popUpForm {
        &__content {
          .userRequest {
            &__row {
              @include flex(flex-start, space-between);
              flex-direction: column;
              margin-bottom: 0;
            } // row
            &__col {
              width: 100%;
              $colWidth: 100%;
              $colPadding: 0;
              &-userData {
                @include widthPercent($colWidth);
                padding-right: $colPadding;
              } // -userData
              &-orderData {
                @include widthPercent($colWidth);
                padding-left: $colPadding;
              } // orderData
              &-uploadFile {
                @include widthPercent($colWidth);
                padding-right: $colPadding;
              } // uploadFile
              &-submit {
                @include widthPercent($colWidth);
                padding-left: $colPadding;
              } // -submit
            } // __col
            &__field {
              margin-bottom: 5px;
              &:last-child {
                margin-bottom: 5px;
              } // last-child
            } // __filed
            .formBtn {
              &-uploadFile {
                margin-bottom: 5px;
              } // -uploadFile
              &-submit {
              } // submit
            } // formBtn
          } // userRequest
        } // __content
        &__closeBtn {
          position: absolute;
          top: 20px;
          right: 20px;
          .closeBtn {
            $sizeIcon: 20px;
            $sizeIconRatio: 1.5;
            $iconStroke: 2px;
            $iconColor: $colorAquamarine;
            $iconLineDeg: 55deg;
            &__icon {
              display: block;
              position: relative;
              height: $sizeIcon * $sizeIconRatio;
              width: $sizeIcon;
              span {
                background: $iconColor;
                display: block;
                height: $iconStroke;
                position: absolute;
                left: 50%;
                top: 50%;
                transition: transform .3s;
                width: calc( #{$sizeIcon * $sizeIconRatio} * 70 / 100);
                &:first-child {
                  transform: translate(-50%, -50%) rotate($iconLineDeg);
                } // first-child
                &:last-child {
                  transform: translate(-50%, -50%) rotate(-$iconLineDeg);
                } // first-child
              } // span
              &:hover {
                cursor: pointer;
                border-color: $iconColor;
                span {
                  &:first-child {
                    transform: translate(-50%, -50%) rotate(-$iconLineDeg);
                  } // first-child
                  &:last-child {
                    transform: translate(-50%, -50%) rotate($iconLineDeg);
                  } // first-child
                } // span
              } // hover
            } // &__icon
          } // closeBtn
        } // __closeBtn
        &-order {
          $formWidth: 280px;
          width: $formWidth;
        } // -order
        &-callBack {
          $formWidth: 280px;
          width: $formWidth;
        } // -callBack
      } // popUpForm
    } // modalWindow

  } // 360
  // ============================================

} // ceroxMainPage