body {
  color: $mainColor;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
svg, img {
  display: block;
  height: auto;
  width: 100%;
}

html, body {
  height: 100%;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
} // body

article, section, aside, div, p, button, span, a, ul, li {
  box-sizing: border-box;
}

ul, li {
  list-style-type: none;
}
h1, h2, h3 {
  font-family: 'proxima-nova', sans-serif;
  font-weight: bold;
  line-height: normal;
} // h1
button, form, input, select {
  background: transparent;
  box-sizing: border-box;
  border: none;
  font-family: 'Roboto', sans-serif;
  outline: none;
  padding: 0;
  margin: 0;
} // button
img {
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

.blockMainTitle {
  color: white;
  font-size: 55px;
  text-align: center;
  &-dark {
    color: $titleDark;
  } // -dark
}
.blockTitle {
  color: $colorYellow;
  font-size: 33px;
  text-align: center;
} // blockTitle
.innerTitle {
  color: black;
  font-size: 22px;
}

.userAction {
  $itemSize: 100px;
  position: fixed;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  &__item {
    @include flex(center, center);
    background: $colorYellow;
    border-radius: 50%;
    height: $itemSize;
    min-width: $itemSize;
    transition: color .2s;
    width: $itemSize;
    &:hover {
      cursor: pointer;
      color: white;
      svg {
        fill: white;
      } // svg
    } // hover
    svg {
      fill: $colorDark;
      transition: fill .2s;
    } // svg
    &-callBack {
      $itemWidth: 50px;
      svg {
        width: $itemWidth;
      } // svg
    } // -callBack
    &-messenger {
      $itemWidth: 52px;
      svg {
        transform: translateY(5%);
        width: $itemWidth;
      } // svg
    } // -messenger
    &-mail {
      $itemWidth: 47px;
      svg {
        width: $itemWidth;
      } // svg
    } // -mail
  } // __item
  &-desktop {
    .userAction__item {
      margin-bottom: 45px;
      &:last-child {
        margin-bottom: 0;
      } // last-child
    } // userAction__item
  } // desktop
} // userAction

.costCalculator {
  &__title {
    margin-bottom: 25px;
  } // innerTitle
  &__summBlockTitle {
    margin-right: 25px;
  } // __summBlockTitle
  &__option {
    margin-bottom: 65px;
    .parametersBlock {
      @include flex(flex-start, flex-start);
      .line {
        @include flex(flex-start, flex-start);
      } // line
      &__item {
        $radioBtnSize: 32px;
        @include flex(center, flex-start);
        border-bottom: 4px solid $colorUnActive;
        color: $colorUnActive;
        flex-direction: column;
        font-weight: bold;
        margin-right: 1px;
        position: relative;
        padding: 0 25px;
        transition: border-color .2s, color .2s;
        &:hover {
          cursor: pointer;
          border-color: $colorYellow;
          color: $mainColor;
          .radioBtn {
            border-color: $colorYellow;
            background: $colorYellow;
          } // radioBtn
        } // hover
        .innerValue {
          margin-bottom: 13px;
        } // innerValue
        .radioBtn {
          display: block;
          border-radius: 50%;
          border: 2px solid $colorUnActive;
          height: $radioBtnSize;
          margin-bottom: 30px;
          min-width: $radioBtnSize;
          width: $radioBtnSize;
        } // radioBtn
        &-active {
          border-color: $colorYellow;
          color: $mainColor;
          &::before {
            @include drawTriangleTop(17, 19, $colorYellow);
            content: '';
            display: block;
            bottom: -25px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
          } // before
          .radioBtn {
            border-color: $colorYellow;
            background: $colorYellow;
          } // radioBtn
        } // -active
      } // item
    } // parametersBlock
  } // option
  &__summ {
    @include flex(center, flex-end);
    border-top: 2px solid $colorUnActive;
    .totalValue {
      background: $colorYellow;
      font-size: 33px;
      font-weight: bold;
      padding: 10px 45px;
    } // totalValue
  } // summ
} // costCalculator
