@font-face {
  /* -------- Bold ------------*/
  font-family: "proxima-nova";
  src: url("assets/fonts/proxima-nova-bold.eot");
  src: url("assets/fonts/proxima-nova-bold.eot?iefix") format("embedded-opentype"), url("assets/fonts/proxima-nova-bold.woff") format("woff"), url("assets/fonts/proxima-nova-bold.woff2") format("woff2"), url("assets/fonts/proxima-nova-bold.svg") format("svg"), url("assets/fonts/proxima-nova-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  /* -------- Bold ------------*/
  font-family: "proxima-nova";
  src: url("assets/fonts/proxima-nova-semibold.eot");
  src: url("assets/fonts/proxima-nova-semibold.eot?iefix") format("embedded-opentype"), url("assets/fonts/proxima-nova-semibold.woff") format("woff"), url("assets/fonts/proxima-nova-semibold.woff2") format("woff2"), url("assets/fonts/proxima-nova-semibold.svg") format("svg"), url("assets/fonts/proxima-nova-semibold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  /* -------- Regular ------------*/
  font-family: "proxima-nova";
  src: url("assets/fonts/proxima-nova-regular.eot");
  src: url("assets/fonts/proxima-nova-regular.eot?iefix") format("embedded-opentype"), url("assets/fonts/proxima-nova-regular.woff") format("woff"), url("assets/fonts/proxima-nova-regular.woff2") format("woff2"), url("assets/fonts/proxima-nova-regular.svg") format("svg"), url("assets/fonts/proxima-nova-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  /* -------- Light ------------*/
  font-family: "proxima-nova";
  src: url("assets/fonts/proxima-nova-light.eot");
  src: url("assets/fonts/proxima-nova-light.eot?iefix") format("embedded-opentype"), url("assets/fonts/proxima-nova-light.woff") format("woff"), url("assets/fonts/proxima-nova-light.woff2") format("woff2"), url("assets/fonts/proxima-nova-light.svg") format("svg"), url("assets/fonts/proxima-nova-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  /* -------- Thin ------------*/
  font-family: "proxima-nova";
  src: url("assets/fonts/proxima-nova-thin.eot");
  src: url("assets/fonts/proxima-nova-thin.eot?iefix") format("embedded-opentype"), url("assets/fonts/proxima-nova-thin.woff") format("woff"), url("assets/fonts/proxima-nova-thin.woff2") format("woff2"), url("assets/fonts/proxima-nova-thin.svg") format("svg"), url("assets/fonts/proxima-nova-thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: block;
  width: 100%;
  height: auto; }

body {
  color: black;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  font-size: 18px; }

svg, img {
  display: block;
  height: auto;
  width: 100%; }

html, body {
  height: 100%;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400; }

article, section, aside, div, p, button, span, a, ul, li {
  box-sizing: border-box; }

ul, li {
  list-style-type: none; }

h1, h2, h3 {
  font-family: 'proxima-nova', sans-serif;
  font-weight: bold;
  line-height: normal; }

button, form, input, select {
  background: transparent;
  box-sizing: border-box;
  border: none;
  font-family: 'Roboto', sans-serif;
  outline: none;
  padding: 0;
  margin: 0; }

img {
  width: 100%;
  height: auto; }

.wrapper {
  max-width: 1180px;
  margin: 0 auto; }

.blockMainTitle {
  color: white;
  font-size: 55px;
  text-align: center; }
  .blockMainTitle-dark {
    color: #1D1D1B; }

.blockTitle {
  color: #FAB900;
  font-size: 33px;
  text-align: center; }

.innerTitle {
  color: black;
  font-size: 22px; }

.userAction {
  position: fixed;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10; }
  .userAction__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAB900;
    border-radius: 50%;
    height: 100px;
    min-width: 100px;
    transition: color .2s;
    width: 100px; }
    .userAction__item:hover {
      cursor: pointer;
      color: white; }
      .userAction__item:hover svg {
        fill: white; }
    .userAction__item svg {
      fill: #1D1D1B;
      transition: fill .2s; }
    .userAction__item-callBack svg {
      width: 50px; }
    .userAction__item-messenger svg {
      transform: translateY(5%);
      width: 52px; }
    .userAction__item-mail svg {
      width: 47px; }
  .userAction-desktop .userAction__item {
    margin-bottom: 45px; }
    .userAction-desktop .userAction__item:last-child {
      margin-bottom: 0; }

.costCalculator__title {
  margin-bottom: 25px; }

.costCalculator__summBlockTitle {
  margin-right: 25px; }

.costCalculator__option {
  margin-bottom: 65px; }
  .costCalculator__option .parametersBlock {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; }
    .costCalculator__option .parametersBlock .line {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start; }
    .costCalculator__option .parametersBlock__item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 4px solid #C4C4C4;
      color: #C4C4C4;
      flex-direction: column;
      font-weight: bold;
      margin-right: 1px;
      position: relative;
      padding: 0 25px;
      transition: border-color .2s, color .2s; }
      .costCalculator__option .parametersBlock__item:hover {
        cursor: pointer;
        border-color: #FAB900;
        color: black; }
        .costCalculator__option .parametersBlock__item:hover .radioBtn {
          border-color: #FAB900;
          background: #FAB900; }
      .costCalculator__option .parametersBlock__item .innerValue {
        margin-bottom: 13px; }
      .costCalculator__option .parametersBlock__item .radioBtn {
        display: block;
        border-radius: 50%;
        border: 2px solid #C4C4C4;
        height: 32px;
        margin-bottom: 30px;
        min-width: 32px;
        width: 32px; }
      .costCalculator__option .parametersBlock__item-active {
        border-color: #FAB900;
        color: black; }
        .costCalculator__option .parametersBlock__item-active::before {
          width: 0;
          height: 0;
          border-left: 8.5px solid transparent;
          border-right: 8.5px solid transparent;
          border-bottom: 19px solid #FAB900;
          content: '';
          display: block;
          bottom: -25px;
          left: 50%;
          position: absolute;
          transform: translateX(-50%); }
        .costCalculator__option .parametersBlock__item-active .radioBtn {
          border-color: #FAB900;
          background: #FAB900; }

.costCalculator__summ {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 2px solid #C4C4C4; }
  .costCalculator__summ .totalValue {
    background: #FAB900;
    font-size: 33px;
    font-weight: bold;
    padding: 10px 45px; }

.mainHeaderBlock {
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10; }
  .mainHeaderBlock .mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px; }
    .mainHeaderBlock .mainHeader .logo {
      width: 215px; }
    .mainHeaderBlock .mainHeader .mainMenu {
      font-size: 18px;
      font-weight: bold; }
      .mainHeaderBlock .mainHeader .mainMenu__list {
        display: flex;
        align-items: center;
        justify-content: flex-start; }
      .mainHeaderBlock .mainHeader .mainMenu__item {
        margin-right: 1px; }
        .mainHeaderBlock .mainHeader .mainMenu__item:last-child {
          margin-right: 0; }
        .mainHeaderBlock .mainHeader .mainMenu__item a {
          color: black;
          display: block;
          padding: 8px 16px;
          position: relative;
          text-decoration: none; }
          .mainHeaderBlock .mainHeader .mainMenu__item a:hover::before {
            width: 100%; }
          .mainHeaderBlock .mainHeader .mainMenu__item a::before {
            background: #FAB900;
            bottom: 0;
            content: '';
            display: block;
            height: 4px;
            left: 0;
            position: absolute;
            transition: width .3s;
            width: 0; }
        .mainHeaderBlock .mainHeader .mainMenu__item-active a::before {
          width: 100%; }

.contentSection {
  position: relative; }
  .contentSection .contentBlock {
    padding: 115px 0 180px; }
    .contentSection .contentBlock__title {
      margin-bottom: 70px; }
    .contentSection .contentBlock__description {
      margin-bottom: 55px;
      text-align: center; }
    .contentSection .contentBlock__address {
      margin-bottom: 40px; }
      .contentSection .contentBlock__address a {
        color: white;
        font-size: 45px;
        text-decoration: none; }
        .contentSection .contentBlock__address a span {
          font-weight: 500; }
    .contentSection .contentBlock .costCalculatorLink {
      text-align: center; }
      .contentSection .contentBlock .costCalculatorLink__title {
        margin-bottom: 5px; }
      .contentSection .contentBlock .costCalculatorLink__description {
        color: white;
        max-width: 380px;
        margin: 0 auto 35px; }
      .contentSection .contentBlock .costCalculatorLink__btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 35px;
        background: #FAB900;
        color: #1D1D1B;
        font-size: 24px;
        font-weight: bold;
        height: 70px;
        padding-left: 20px;
        padding-right: 5px;
        text-decoration: none;
        transition: color .2s; }
        .contentSection .contentBlock .costCalculatorLink__btn:hover {
          color: white; }
          .contentSection .contentBlock .costCalculatorLink__btn:hover .innerIcon svg {
            fill: white; }
        .contentSection .contentBlock .costCalculatorLink__btn .innerText {
          padding: 0 20px; }
        .contentSection .contentBlock .costCalculatorLink__btn .innerIcon {
          border-radius: 50%;
          height: 60px;
          min-width: 60px;
          width: 60px; }
          .contentSection .contentBlock .costCalculatorLink__btn .innerIcon svg {
            display: block;
            fill: #1D1D1B;
            height: auto;
            transition: fill .2s;
            width: 100%; }
    .contentSection .contentBlock .advantages {
      display: flex;
      align-items: flex-start;
      justify-content: space-between; }
      .contentSection .contentBlock .advantages__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        margin-right: 50px;
        text-align: center; }
        .contentSection .contentBlock .advantages__item:last-child {
          margin-right: 0; }
      .contentSection .contentBlock .advantages__icon {
        height: 100px;
        margin-bottom: 50px; }
        .contentSection .contentBlock .advantages__icon img {
          height: 100%;
          width: auto; }
      .contentSection .contentBlock .advantages__description {
        font-size: 22px; }
    .contentSection .contentBlock .schemeWork__line {
      display: flex;
      align-items: center;
      justify-content: center; }
      .contentSection .contentBlock .schemeWork__line-arrow {
        justify-content: space-between;
        margin: 50px 0; }
      .contentSection .contentBlock .schemeWork__line-reverse {
        flex-direction: row-reverse; }
        .contentSection .contentBlock .schemeWork__line-reverse .schemeWork__item .innerArrow {
          transform: translate(50%, -50%) scale(-1, 1); }
        .contentSection .contentBlock .schemeWork__line-reverse .schemeWork__item:last-child .innerArrow {
          display: block; }
        .contentSection .contentBlock .schemeWork__line-reverse .schemeWork__item:first-child .innerArrow {
          display: none; }
    .contentSection .contentBlock .schemeWork__item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      position: relative;
      width: calc(100% / 5); }
      .contentSection .contentBlock .schemeWork__item:last-child .innerArrow {
        display: none; }
      .contentSection .contentBlock .schemeWork__item .innerIcon {
        height: 90px;
        margin-bottom: 35px; }
        .contentSection .contentBlock .schemeWork__item .innerIcon img {
          height: 100%;
          width: auto; }
      .contentSection .contentBlock .schemeWork__item .innerText {
        font-size: 22px;
        font-weight: bold;
        white-space: nowrap; }
      .contentSection .contentBlock .schemeWork__item .innerArrow {
        position: absolute;
        top: 30%;
        right: 0;
        transform: translate(50%, -50%);
        width: 54px; }
      .contentSection .contentBlock .schemeWork__item-arrowTop {
        justify-content: center; }
        .contentSection .contentBlock .schemeWork__item-arrowTop .innerIcon {
          height: initial;
          width: 54px;
          margin-bottom: 0;
          transform: rotate(-90deg); }
          .contentSection .contentBlock .schemeWork__item-arrowTop .innerIcon img {
            height: auto;
            width: 100%; }
      .contentSection .contentBlock .schemeWork__item-arrowBottom {
        justify-content: center; }
        .contentSection .contentBlock .schemeWork__item-arrowBottom .innerIcon {
          height: initial;
          width: 54px;
          margin-bottom: 0;
          transform: rotate(90deg); }
          .contentSection .contentBlock .schemeWork__item-arrowBottom .innerIcon img {
            height: auto;
            width: 100%; }
    .contentSection .contentBlock .reviewsSlider {
      display: flex;
      align-items: flex-start;
      justify-content: space-between; }
      .contentSection .contentBlock .reviewsSlider .sliderItem {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        max-width: 480px;
        margin-right: 170px; }
        .contentSection .contentBlock .reviewsSlider .sliderItem:last-child {
          margin-right: 0; }
        .contentSection .contentBlock .reviewsSlider .sliderItem__col {
          margin-right: 20px; }
          .contentSection .contentBlock .reviewsSlider .sliderItem__col:last-child {
            margin-right: 0; }
        .contentSection .contentBlock .reviewsSlider .sliderItem__userPhoto {
          height: 100px;
          margin-right: 30px;
          margin-bottom: 20px;
          min-width: 100px;
          width: 100px; }
        .contentSection .contentBlock .reviewsSlider .sliderItem__quotes {
          font-size: 96px;
          opacity: .2;
          text-align: right; }
        .contentSection .contentBlock .reviewsSlider .sliderItem__name {
          text-align: left;
          margin-bottom: 15px; }
        .contentSection .contentBlock .reviewsSlider .sliderItem__workPlace {
          color: white;
          margin-bottom: 15px; }
        .contentSection .contentBlock .reviewsSlider .sliderItem__review {
          line-height: 1.2; }
    .contentSection .contentBlock .sliderDots {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 80px; }
      .contentSection .contentBlock .sliderDots__item {
        border-radius: 50%;
        border: 2px solid #C4C4C4;
        height: 16px;
        margin-right: 30px;
        min-width: 16px;
        width: 16px; }
        .contentSection .contentBlock .sliderDots__item:hover {
          cursor: pointer;
          border-color: #FAB900;
          background: #FAB900; }
        .contentSection .contentBlock .sliderDots__item:last-child {
          margin-right: 0; }
        .contentSection .contentBlock .sliderDots__item-active {
          border-color: #FAB900;
          background: #FAB900; }
  .contentSection-mainScreen {
    background: url("assets/img/main_bg.jpg") no-repeat top/cover;
    height: 100vh;
    padding: 0;
    width: 100%; }
    .contentSection-mainScreen .contentBlock {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100vh; }
      .contentSection-mainScreen .contentBlock__title {
        max-width: 940px;
        margin-bottom: 90px; }
  .contentSection-advantages {
    background: #FAB900; }
  .contentSection-costCalculator .contentBlock__title {
    margin-bottom: 15px; }
  .contentSection-costCalculator .contentBlock__description {
    max-width: 580px;
    margin: 0 auto 55px; }
  .contentSection-schemeWork {
    background: #171717;
    color: white; }
  .contentSection-reviews {
    background: url("assets/img/reviews_bg.jpg") no-repeat top/cover;
    color: white; }
    .contentSection-reviews .contentBlock__title {
      color: #FAB900; }

.mainFooterBlock {
  background: #171717; }
  .mainFooterBlock .footer .contentBlock .topBlock {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 50px; }
    .mainFooterBlock .footer .contentBlock .topBlock__item {
      margin-right: 80px; }
      .mainFooterBlock .footer .contentBlock .topBlock__item:last-child {
        margin-right: 0;
        margin-left: auto; }
    .mainFooterBlock .footer .contentBlock .topBlock__logo {
      width: 240px; }
    .mainFooterBlock .footer .contentBlock .topBlock .footerMenu {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start; }
      .mainFooterBlock .footer .contentBlock .topBlock .footerMenu__col {
        margin-right: 170px; }
        .mainFooterBlock .footer .contentBlock .topBlock .footerMenu__col:last-child {
          margin-right: 0; }
      .mainFooterBlock .footer .contentBlock .topBlock .footerMenu__item {
        margin-bottom: 35px; }
        .mainFooterBlock .footer .contentBlock .topBlock .footerMenu__item:hover .footerMenu__title {
          color: #FAB900; }
        .mainFooterBlock .footer .contentBlock .topBlock .footerMenu__item:last-child {
          margin-bottom: 0; }
      .mainFooterBlock .footer .contentBlock .topBlock .footerMenu__title {
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        transition: color .2s; }
      .mainFooterBlock .footer .contentBlock .topBlock .footerMenu__itemDescription {
        color: white;
        font-size: 14px;
        margin-top: 6px; }
    .mainFooterBlock .footer .contentBlock .topBlock .contactInfo__phone {
      margin-bottom: 20px; }
      .mainFooterBlock .footer .contentBlock .topBlock .contactInfo__phone a {
        color: #FAB900;
        font-size: 24px;
        font-weight: 500;
        text-decoration: none; }
    .mainFooterBlock .footer .contentBlock .topBlock .contactInfo .social {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start; }
      .mainFooterBlock .footer .contentBlock .topBlock .contactInfo .social__item {
        color: white;
        font-size: 16px;
        margin-right: 30px; }
        .mainFooterBlock .footer .contentBlock .topBlock .contactInfo .social__item:last-child {
          margin-right: 0; }
        .mainFooterBlock .footer .contentBlock .topBlock .contactInfo .social__item a {
          display: block;
          height: 31px;
          text-decoration: none; }
          .mainFooterBlock .footer .contentBlock .topBlock .contactInfo .social__item a svg {
            display: block;
            fill: #FAB900;
            stroke: #FAB900;
            height: 100%;
            width: auto; }
  .mainFooterBlock .footer .contentBlock .privacyPolicy {
    color: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px; }
    .mainFooterBlock .footer .contentBlock .privacyPolicy a {
      color: #FAB900;
      text-decoration: none; }

#products .contentSection-mainScreen {
  background: url("assets/img/review_bg.jpg") no-repeat top/cover;
  width: 100%; }
