* {
    margin: 0;
    padding: 0;
}
a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

h1 {
    font: 48px/1.1 Hind;
    color: #fff;
}
h2 {
    font: 36px/1.1 Hind;
    color: #fff;
}
h3 {
    font: 28px/1.1 Hind;
    color: #fff;
}
#wrapper {
    width: 1400px;
    height: 4100px;
    margin: 0 auto;
    font: 14px Hind, sans-serif;
}
#header {
    height: 60px;
    background: #ededed;
}

.clear {
    clear: both;
}

/*Телефон и адрес*/
ul {
    list-style-type: none;
}
#contacts {
    display: inline-block;
    padding: 15px 0 15px 36px;
}
#contacts li {
    float: left;
    margin-right: 30px;
    color: #6a6a69;
}
#contacts img  {
    margin-right: 5px;
}

/*Выбор города*/
.choice_town_btn p {
    margin: 7px 0 7px 15px;
    display: inline-block;
}
.choice_town_btn {
    margin-left: 140px;
    margin-top: 11px;
    width: 127px;
    height: 36px;
    background: #212121 url(images/bottom.png) 100px 15px no-repeat;
    display: inline-block;
    font-weight: 500;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    float: left;
}
.choice_town_btn:hover {
    cursor: pointer;
    background: #212121 url(images/bottom_select.png) 100px 15px no-repeat;

}

/*Социальные сети*/
#social {
    display: block;
    float: right;
    margin-right: 140px;
    margin-top: 20px;
}
.icon {
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 18px;
}
#mail { background:url(images/mail.png) no-repeat; }
#youtube { background:url(images/youtube.png) no-repeat; }
#google { background:url(images/google.png) no-repeat; }
#in { background:url(images/in.png) no-repeat; }
#twitter { background:url(images/tweeter.png) no-repeat; }

#mail:hover {
    cursor: pointer;
    background:url(images/mail_select.png) no-repeat;
}
#youtube:hover {
    cursor: pointer;
    background:url(images/youtube_select.png) no-repeat;
}

#google:hover {
    cursor: pointer;
    background:url(images/google_select.png) no-repeat;
}

#in:hover {
    cursor: pointer;
    background:url(images/in_select.png) no-repeat;
}

#twitter:hover {
    cursor: pointer;
    background:url(images/tweeter_select.png) no-repeat;
}

/*Блок логотипа*/
#logo {
    background-color: #fff;

}
#logo img {
    display: inline-block;
    margin: 37px 0 25px 140px;
    float: left;
}

#chk {
    float: right;
    margin: 30px 95px 30px 0;
}

.black {
    font-weight:700;
}
.gray {
    color: #8c8c8c;
}
.checked {
    float: left;
    padding: 10px 36px 10px 36px;
    display: block;
}
#certefied {
    background: url(images/check.png) 11px 12px no-repeat;
}
#enersys {
    background: url(images/check.png) 11px 12px no-repeat;
    border-left: 1px solid #ededed;
}
#emergenncy {
    background: url(images/check.png) 11px 12px no-repeat;
    border-left: 1px solid #ededed;
}

#certefied:hover {
    background: url(images/check_select.png) 11px 12px no-repeat;
    cursor: pointer;
}

#enersys:hover {
    background: url(images/check_select.png) 11px 12px no-repeat;
    cursor: pointer;
}

#emergenncy:hover {
    background: url(images/check_select.png) 11px 12px no-repeat;
    cursor: pointer;
}

/*slider*/
#slider {
    width: 1400px;
    height: 641px;
    background: url(images/slide1.jpg) no-repeat;
}

/*Menu*/
#menu {
    width: 1400px;
    height: 72px;
    background: url(images/menu_bg.jpg) no-repeat;
}
#menu ul {
    margin-left: 140px;
 }
#menu ul li {
    float: left;
    display: block;
    margin-right: 36px;
    margin-top: 25px;
    padding-bottom: 20px;
}
#menu ul li:hover {
    border-bottom: 3px solid #bd2631;
}

/*Text*/
#text {
    margin-left: 200px;
    margin-top: 200px;
}
#red {
    color: #bd2631;
}

#upper {
    font-weight: 400;
    text-transform: uppercase;
}
.scroll {
    display: block;
}

#left {
    width: 24px;
    height: 42px;
    float: left;
    background: url(images/left.png) no-repeat;
    margin-left: 140px;
    margin-top: -75px;
}

#right {
    width: 24px;
    height: 42px;
    float: right;
    background: url(images/right.png) no-repeat;
    margin-right: 164px;
    margin-top: -75px;
}

#left:hover {
    cursor: pointer;
    background: url(images/lef_selectt.png) no-repeat;
}

#right:hover {
    cursor: pointer;
    background: url(images/right_select.png) no-repeat;
}