body {
  font: 400 normal 16px/1 Arial, san-serif;
  color: $colorDarkGray;
}

div, section, main, header, article, aside, h1, h2, h3, h4, h5, h6, p, input, textarea, button, span, ul, li, table, tbody, tr, th, td {
  box-sizing: border-box;
}

img, svg {
  width: 100%;
  height: auto;
} // img

button, input {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
} // button, input

// Block title style ------------------------
.h1Title {
  color: white;
  font-size: 35px;
} // h1Title
.h2Title, .h3Title {
  color: $colorDarkGray;
} // h2Title, h3Title
.h2Title {
  font-size: 28px;
  //font-weight: bold;
} // h2Title
.h3Title {
  font-size: 22px;
  //font-weight: bold;
} // h3Title
.h4Title {
} // h4title
// ==========================================

.displayNone {
  display: none;
} // displayNone

.wrapper {
  margin: 0 auto;
  max-width: $wrapperMaxWidth;
  padding: $wrapperPadding;
  &-footer {
    position: relative;
  } // footer
} // wrapper

.contentArea {
  width: $col8Width;
} // contentArea

.blockHeader {
  $iconSize: 17px;
  $iconColor: $colorDarkGray;
  @include flex(center, space-between);
  margin-bottom: $blockTitleMarginBottom;
  .blockTitle {
    @include flex(center, flex-start);
    span {
      display: block;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      } // last-child
    } // span
    &__text {
      color: inherit;
      font-size: inherit;
    } // __text
    &__icon {
      width: $iconSize;
      svg {
        fill: $iconColor;
        fill-rule: evenodd;
      } // svg
    } // __icon
  } // __titleBlock
  &__filterBtn {
    @include flex(center, flex-start);
  } // __filterBtn
} // blockHwader

.mainBtn {
  align-items: center;
  border-radius: 3px;
  background: $colorYellow;
  box-shadow: 0 2px 0 $colorYellowShadow;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 10px 25px;
  position: relative;
  transition: background .3s;
  &::before {
    background: rgba(255, 255, 255, 0.26);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transform: skewX(-20deg);
    transition: left .5s;
    top: 0;
    left: -40px;
    width: 30px;
  } // before
  &:hover {
    cursor: pointer;
    &::before {
      left: 110%;
    } // before
  } // hover
  &-addReview {
    color: $colorDarkGray;
  } // -addReview
  &-publish {
    color: $colorDarkGray;
    padding: 10px 60px;
  } // -publish
  &-showFullRating {
    background: white;
    border: 1px solid $colorRatingYellow;
    box-shadow: none;
    height: 30px;
    font-size: 13px;
    padding: 0;
    width: 100%;
    a {
      color: $colorDarkGray;
      text-decoration: none;
    }
    &::before {
      display: none;
    } // before
    &:hover {
      a {
        color: white;
      } // a
      background: $colorRatingYellow;
    } // hover
  } // -showFullRating
  &-showNotRated {
    background: white;
    border: 1px solid $colorRatingYellow;
    box-shadow: none;
    height: 30px;
    font-size: 13px;
    padding: 0;
    width: 100%;
    .innerText {
      margin-right: 10px;
    } // innerText
    .shevronIcon__icon {
      transform: translateY(2px) rotate(-90deg) scale(.7);
    } // shevronIcon__icon
    &::before {
      display: none;
    } // before
    &:hover {
      color: white;
      background: $colorRatingYellow;
      .shevronIcon__icon {
        span {
          background: white;
        }
      } // .shevronIcon__icon
    } // hover
  } // -showNotRated
  &-addReviewMin {
    color: white;
    font-size: 21px;
    height: 28px;
    padding: 0;
    min-width: 30px;
    width: 30px;
  } // -addReviewMin
  &-showAll {
    border: 1px solid $colorYellow;
    box-shadow: unset;
    background: white;
    &::before {
      display: none;
    } // before
    &:hover {
      color: white;
      background: $colorRatingYellow;
    } // hover
    &Disabled {
      background: $colorBgLightGray;
      border-color: $colorBgLightGray;
      &:hover {
        background-color: $colorBgLightGray;
        cursor: default;
        color: $colorGray;
      } // hover
    } // Disabled
  } // -showAll
  &-popUpadditionalBlock {
    background: $colorGray;
    box-shadow: none;
    font-size: 15px;
    width: 100%;
    .shevronIcon__icon {
      span {
        background: white;
      } // span
    } // shevronIcon__icon
  } // -popUpadditionalBlock
} // mainBtn

.filterBtn {
  @include flex(center, center);
  border-top: 1px solid $colorLightGray;
  border-bottom: 1px solid $colorLightGray;
  border-left: 1px solid $colorLightGray;
  color: $colorLightGray;
  height: 35px;
  padding: 0 20px;
  transition: background .3s;
  &:first-child {
    border-radius: 3px 0 0 3px;
    &:hover {
      border-left: 1px solid $colorYellow;
    } // hover
  } // first-child
  &:last-child {
    border-radius: 0 3px 3px 0;
    border-right: 1px solid $colorLightGray;
  }
  &:hover {
    border-color: transparent;
    background: $colorYellow;
    border-left: 1px solid white;
    color: white;
    cursor: pointer;
  } // hover
  &-active {
    border-color: transparent;
    background: $colorYellow;
    color: white;
  } //
  &-new {
    position: relative;
    &::after {
      $blockSize: 21px;
      @include flex(center, center);
      background: $colorRatingGreen;
      border-radius: 50%;
      content: attr(data-new);
      color: white;
      font-size: 12px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      transform: translate(50%, -50%);
      height: $blockSize;
      width: $blockSize;
    } // after
  } // new
} // filterBtn

.showMoreBtn {
  border-bottom: 1px dashed $colorDarkGray;
  color: $colorDarkGray;
  display: block;
  transition: color .3s, border-color .3s;
  &:hover {
    cursor: pointer;
    color: $colorYellow;
    border-color: $colorYellow;
  } // hover
  &-descrBlock {
    background: linear-gradient(to right, rgba(255,255,255,0.5) 0%,
            rgba(255,255,255,1) 50%,
            rgba(255,255,255,0.5) 100%);
    border-color: $colorYellow;
    color: $colorYellow;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
  } // descrBlock
  &-center {
    margin: 0 auto;
  } // -center
} // showMoreBtn

.iconBtn {
  background: none;
  background: transparent;
  display: block;
  &:hover {
    cursor: pointer;
  }  // hover
  &-search {
    position: absolute;
  } // -search
  .cssIcon {
    display: block;
    position: relative;
    &-search {
      height: 12px;
      width: 12px;
    } // -search
    &-toggleMenu {
      align-items: center;
      border-radius: 3px;
      border: 1px solid $colorYellow;
      background: $colorGray;
      display: flex;
      flex-direction: column;
      height: 35px;
      justify-content: center;
      width: 35px;
    } // -toggleMenu
    &__part {
      display: block;
      position: absolute;
      &-circle {
        border-radius: 50%;
        border: 1px solid $colorYellow;
        height: 10px;
        top: 0;
        left: 0;
        width: 10px;
      } // -circle
      &-knob {
        background: $colorYellow;
        left: 8px;
        transform: rotate(45deg);
        top: 10px;
        height: 1px;
        width: 5px;
      } // -knob
      &-line {
        background: white;
        height: 2px;
        position: unset;
        width: 14px;
        margin-bottom: 3px;
        &:last-child {
          margin-bottom: 0;
        } // last-child
      } // -line
    } // __part
  } // cssIcon
} // iconBtn

.closeBtn {
  $sizeIcon: 20px;
  $iconStroke: 2px;
  $iconColor: $colorDarkGray;
  &__icon {
    border-radius: 50%;
    border: 1px solid transparent;
    display: block;
    position: relative;
    transition: border-color .3s;
    height: $sizeIcon;
    width: $sizeIcon;
    span {
      background: $colorDarkGray;
      display: block;
      height: $iconStroke;
      position: absolute;
      left: 50%;
      top: 50%;
      transition: transform .3s;
      width: calc( #{$sizeIcon} * 70 / 100);
      &:first-child {
        transform: translate(-50%, -50%) rotate(45deg);
      } // first-child
      &:last-child {
        transform: translate(-50%, -50%) rotate(-45deg);
      } // first-child
    } // span
    &:hover {
      cursor: pointer;
      border-color: $iconColor;
      span {
        &:first-child {
          transform: translate(-50%, -50%) rotate(-45deg);
        } // first-child
        &:last-child {
          transform: translate(-50%, -50%) rotate(45deg);
        } // first-child
      } // span
    } // hover
  } // &__icon
  &-addReview {
    position: absolute;
    top: 15px;
    right: 15px;
  } // addReview
} // closeBtn

.starsIcon {
  $starIconWidth: 12px;
  $starsIconColor: $colorRatingGreen;
  display: block;
  width: $starIconWidth;
  svg {
    fill: transparent;
    stroke-width: 3px;
    stroke: $starsIconColor;
    &.fill {
      fill: $starsIconColor;
    } // -fill
  } // svg
  &-green {
    $starsIconColor: $colorRatingGreen;
    svg {
      stroke: $starsIconColor;
    } // svg
    &Fill {
      svg {
        fill: $starsIconColor;
      } // svg
    } // -fill
  } // green
  &-yellow {
    $starsIconColor: $colorRatingYellow;
    svg {
      stroke: $starsIconColor;
    } // svg
    &.Fill {
      svg {
        fill: $starsIconColor;
      } // svg
    } // -fill
  } // yellow
  &-red {
    $starsIconColor: $colorRatingRed;
    svg {
      stroke: $starsIconColor;
    } // svg
    &.Fill {
      svg {
        fill: $starsIconColor;
      } // svg
    } // -fill
  } // red
} // startIcon

.ratingCircle {
  $svgSize: 36px;
  $svgColor: $colorRatingGreen;
  border-radius: 50%;
  background: white;
  min-height: $svgSize;
  min-width: $svgSize;
  position: relative;
  height: $svgSize;
  width: $svgSize;
  &::before {
    @include flex(center, center);
    border-radius: 50%;
    content: attr(data-value);
    color: $colorDarkGray;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  } // before
  svg {
    height: auto;
    width: 100%;
    path {
      fill: transparent;
      stroke: $svgColor;
      stroke-width:3;
      stroke-linecap:round;
      stroke-linejoin:round;
      stroke-dasharray: 114px;
      transition: stroke-dashoffset 1s;
      &.static {
        stroke: $colorBgLightGray;
      } // dynamic
    } // path
  } // svg
  &-green {
    $svgColor: $colorRatingGreen;
    svg {
      path.dynamic {
        stroke: $svgColor;
      } // path
    } // svg
  } // -green
  &-yellow {
    $svgColor: $colorRatingYellow;
    svg {
      path.dynamic {
        stroke: $svgColor;
      } // path
    } // svg
  } // -yellow
  &-red {
    $svgColor: $colorRatingRed;
    svg {
      path.dynamic {
        stroke: $svgColor;
      } // path
    } // svg
  } // -red
  &-bigger {
    $svgSize: 50px;
    $svgColor: $colorRatingGreen;
    min-height: $svgSize;
    min-width: $svgSize;
    height: $svgSize;
    width: $svgSize;
    &::before {
      font-size: 16px;
    } // before
  } // -bigger
} // ratingCircle

.typeActivHeaderBtn {
  border-radius: 3px;
  color: $colorDarkGray;
  display: block;
  font-size: 11px;
  padding: 4px 5px;
  //&:hover {
  //  cursor: pointer;
  //  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  //  transform: translateY(-2px);
  //} // hover
  &-voting {
    background: white;
  } // -voting
  &-needHelp {
    background: $colorRatingRed;
    color: white;
  } // -needHelp
  &-newEvent {
    background: $colorRatingGreen;
    color: white;
  } // -newEvent
} // typeActivHeaderBtn

.shevronIcon {
  &__icon {
    display: block;
    position: relative;
    min-height: 21px;
    min-width: 9px;
    span {
      background: $colorDarkGray;
      display: block;
      position: absolute;
      transition: background .3s;
      height: 10px;
      width: 2px;
      &:first-child {
        transform-origin:left bottom;
        transform: rotate(45deg);
        left:0;
        top: 0;
      } // first-child
      &:last-child {
        transform-origin:left top;
        transform: rotate(-45deg);
        left: 0;
        bottom: 0;
      }
    } // span
  } // _icon
  &-sliderNavNext {
    transform: rotate(180deg);
  } // -sliderNavNext
  &-footerMenu {
    align-items: center;
    border-radius: 50%;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    height: 30px;
    transform: rotate(-90deg) scale(.7);
    transition: border-color .3s, transform .3s;
    width: 30px;
    &Rotate {
      transform: rotate(90deg) scale(.7);
    } // Rotate
    &:hover {
      border-color: $colorYellow;
      cursor: pointer;
    } // hover
    span {
      background: $colorYellow;
    } // span
  } // -footerMenu
  &-bottom {
    transform: rotate(-90deg);
  } // -bottom
  &-top {
    transform: rotate(90deg);
  } // -bottom
  &-select {
    transform: rotate(-90deg) scale(.7);
  } // select
} // shevronIcon

// sliders styles
.sliderWrap {
  overflow: hidden;
  position: relative;
  max-width: $wrapperMaxWidth;
} // sliderWrap
.sliderNavBlock {
  $sizeNavBtn: 45px;
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    height: $sizeNavBtn;
    width: $sizeNavBtn;
    z-index: 5;
    &:hover {
      cursor: pointer;
    } // hover
    &-next {
      right: -25px;
    } // -left
    &-prev {
      left: -25px;
    } // -prev
    &-brands {
      top: 53%;
    } // brands
  } // __btn
} // sliderNavBlock

// review --------------------------------------
.review {
  $paddingHeader: 10px 15px;
  $paddingFooter: 10px 15px;
  $paddingContent: 30px;
  $marginBottomInfoBlock: 25px;
  // user info
  $photoSize: 45px;

  border-radius: $mainBorderRadius;
  border: 1px solid $colorLightGray;
  margin-bottom: 30px;
  &__header {
    background: $colorBgLightGray;
    padding: $paddingHeader;
    .breadCrumbs {
      color: $colorCountTxt;
      font-size: 14px;
      &__item {
        position: relative;
        &::before {
          @include makeUnderline($colorCountTxt, -2px);
          width: 100%;
        } // before
      } // __item
      &__separator {
        font-family: "Segoe Print", Arial, sans-serif;
        margin: 0 10px;
      } // separator
    } // breadCrumbs
  } // __header
  &__content {
    padding: $paddingContent;
    .infoBlock {
      margin-bottom: $marginBottomInfoBlock;
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      } // last-child
      &-userInfo {
        @include flex(center, space-between);
        .userInfo {
          @include flex(center, flex-start);
          &__photo {
            background: $colorLightGray;
            border-radius: $mainBorderRadius;
            height: $photoSize;
            margin-right: 20px;
            overflow: hidden;
            position: relative;
            width: $photoSize;
            img {
              object-fit: cover;
              height: $photoSize;
              width: $photoSize
            } // img
            &-johnDoe {
              img {
                bottom: 0;
                left: 50%;
                object-fit: initial;
                position: absolute;
                transform: translateX(-50%);
                width: 90%;
                height: auto;
              } // img
            } // -jonDoe
          } // photo
          &__name {
            color: $colorDarkGray;
            font-size: 15px;
            &::after {
              content: attr(data-last-visit);
              color: $colorCountTxt;
              display: block;
              font-size: 13px;
              margin-top: 8px;
            } // after
          } // name
        } // userInfo
        .userAssessment {
          @include flex(center, flex-start);
          &__item {
            border-right: 1px solid $colorLightGray;
            padding-right: 25px;
            .ratingsBlock {
              $titleFontSize: 14px;
              $titleColor: $colorColName;
              $ratingFontSize: 12px;
              $ratingColor: $colorDarkGray;
              $starsIconSize: 12px;

              @include flex(center, flex-end);
              margin-bottom: 5px;
              &:last-child {
                margin-bottom: 0;
              } // last-child
              &__item {
                margin-right: 5px;
                &:last-child {
                  margin-right: 0;
                } // last-child
                &-title {
                  color: $titleColor;
                  font-size: $titleFontSize;
                  white-space: nowrap;
                } // -title
                &-stars {
                  .starsIconBlock {
                    @include flex(center, center);
                    &__icon {
                      display: block;
                      margin-right: 1px;
                      height: $starsIconSize;
                      width: $starsIconSize;
                      &:last-child {
                        margin-right: 0;
                      } // last-child
                      svg {
                        fill: transparent;
                        stroke-width: 3px;
                        stroke: $colorRatingGreen;
                        &.fill {
                          fill: $colorRatingGreen;
                        } // -fill
                      } // starsIcon
                    } // icon
                  } // starsIconBlock
                } // -stars
                &-rating {
                  color: $titleColor;
                  font-size: $titleFontSize;
                } // rating
              } // ____item
            } // ratingsBlock
            &-average {
              border-right: none;
              padding-right: 0;
              padding-left: 25px;
              .ratingsBlock {
                $titleFontSize: 20px;
                $titleColor: $colorDarkGray;
                $ratingFontSize: 20px;
                $ratingColor: $colorDarkGray;
                $starsIconSize: 20px;

                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                &__item{
                  &-title {
                    color: $titleColor;
                    font-size: $titleFontSize;
                    margin-bottom: 5px;
                    &::after {
                      content: attr(data-value);
                      margin-left: 6px;
                    } // after
                  } // -title
                  &-stars {
                    margin-right: 8px;
                    .starsIconBlock {
                      &__icon {
                        height: $starsIconSize;
                        width: $starsIconSize;
                      } // __icon
                    } // starsIconBlock
                  } // stars
                  &-rating {
                    color: $titleColor;
                    font-size: $titleFontSize;
                  } // -rating
                } // __item
              } // ratingBlock
            } // -average
          } // __ratings
        } // userAssessment
      } // -userInfo
      &-userDescription {
        flex-shrink: 2;
        position: relative;
        max-height: 55px;
        overflow: hidden;
        padding-right: 0;
        &::after {
          content: '';
          background: linear-gradient(to bottom,
                  rgba(255,255,255,0.5) 30%,
                  rgba(255,255,255,1) 100%);
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 15px;
        } // after
        .userDescription {
          color: $colorDarkGray;
          font-size: 15px;
          line-height: 18px;
        } // text
      } // userDescription
      &-mediaData {
        $thumbnailWidth: 65px;
        $thumbnailHeight: 45px;
        $videoIconWidth: 40px;
        $iconRatio: .75;
        $videoIconHeight: calc( #{$videoIconWidth} * #{$iconRatio} );
        @include flex(flex-start, flex-start);
        .mediaItem {
          border-radius: $mainBorderRadius;
          margin-right: 15px;
          text-decoration: none;
          overflow: hidden;
          height: $thumbnailHeight;
          width: $thumbnailWidth;
          &:last-child {
            margin-right: 0;
          } // last-child
          img {
            object-fit: cover;
            height: $thumbnailHeight;
            width: $thumbnailWidth;
          } // img
          .videoIcon {
            display: none;
          } // video
          &-video {
            position: relative;
            .videoIcon {
              display: block;
              opacity: .8;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              transition: opacity .3s;
              height: $videoIconHeight;
              width: $videoIconWidth;
              &:hover {
                opacity: 1;
              } // hover
              img {
                width: 100%;
                height: auto;
              } // img
            } // videoIcon
          } // -video
        } // mediaItem
      } // mediaData
      &-advantages {
        .advantages {
          $iconSize: 18px;
          @include flex(center, flex-start);
          color: $colorDarkGray;
          font-size: 15px;
          margin-bottom: 5px;
          &:last-child {
            margin-bottom: 0;
          } // last-child
          &__title {
            @include flex(center, flex-start);
            font-weight: bold;
            margin-right: 10px;
            width: 130px;
            &:before {
              @include flex(center, center);
              border-radius: 50%;;
              box-sizing: border-box;
              color: white;
              font-weight: normal;
              font-size: 20px;
              margin-right: 7px;
              min-width: $iconSize;
              min-height: $iconSize;
              height: $iconSize;
              width: $iconSize;
            } // before
          } // __title
          &__value {
            color: $colorColName;
          } // __value
          &-positive {
            .advantages__title {
              &:before {
                background: $colorYellow;
                content: '+';
              } // before
            } // advantages__title
          } // -positive
          &-negative {
            .advantages__title {
              &:before {
                background: $colorDarkGray;
                content: '-';
                font-size: 26px;
                padding-bottom: 4px;
              } // before
            } // advantages__title
          } // -positive
        } // advantages
      } // -advantages
      &-carInfo {
        @include flex(center, flex-start);
        color: $colorDarkGray;
        font-size: 15px;
        .carInfo {
          @include flex(center, center);
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          } // last-child
          &__title {
            @include flex(center, center);
            margin-right: 7px;
            span {
              display: block;
            } // span
            .titleIcon {
              margin-right: 7px;
              svg {
                fill: $colorColName;
                fill-rule: evenodd;
              } // svg
            } // titleIcon
            .titleText {
              color: $colorColName;
            } // titleText
          } // __title
          &__data {
            color: $colorDarkGray;
          } // __data
          &-model {
            .carInfo__title {
              .titleIcon {
                width: 25px;
              } // titleIcon
            } // carInfo__title
          } // -model
          &-mileage {
            .carInfo__title {
              .titleIcon {
                width: 20px;
              } // titleIcon
            } // carInfo__title
          } // -mileage
          &-vinCode {
            .carInfo__title {
              .titleIcon {
                width: 14px;
              } // titleIcon
            } // carInfo__title
          } // -vinCode
        } // carInfo
      } // carInfo
    } // innerBlock
  } // __content
  &__footer {
    @include flex(center, space-between);
    border-top: 1px solid $colorLightGray;
    padding: $paddingFooter;
    .userAction {
      margin-right: 25px;
      &:last-child {
        margin-right: 0;
      } // last-child
      .userActionBtn {
        $iconSize: 25px;
        $iconColor: $colorLinkAside;
        @include flex(center, flex-start);
        color: $colorLinkAside;
        span {
          display: block;
        } // span
        &__icon {
          margin-right: 5px;
          width: $iconSize;
          svg {
            fill: $iconColor;
            fill-rule: evenodd;
          } // svg
        } // __icon
        &__text {
          border-bottom: 1px dotted $colorLinkAside;
          font-size: 14px;
        } // __text
        &-edit {
          .userActionBtn__text {
            border-bottom: 1px solid $colorLinkAside;
          } // userActionBtn__text
        } // edit
      } // userActionBtn
      .reviewUtility {
        @include flex(center, flex-start);
        &__title {
          color: $colorDarkGray;
          font-size: 14px;
          margin-right: 10px;
          white-space: nowrap;
        } // __title
        &__feedBack {
          @include flex(center, center);
          .feedBackBtn {
            border: 2px solid transparent;
            border-radius: $mainBorderRadius;
            font-size: 11px;
            height: 25px;
            margin-right: 10px;
            position: relative;
            width: 40px;
            &:last-child {
              margin-right: 0;
            } // last-child
            &::after {
              @include flex(center, center);
              border-radius: 50%;
              color: white;
              content: attr(data-utility);
              font-size: 10px;
              position: absolute;
              transform: translate(50%, -50%);
              top: 0;
              right: 0;
              height: 14px;
              width: 14px;
            } // after
            &-yes {
              border-color: $colorYellow;
              color: $colorYellow;
              &::after {
                background: $colorYellow;
              } // after
            } // -yes
            &-no {
              border-color: $colorDarkGray;
              color: $colorDarkGray;
              &::after {
                background: $colorDarkGray;
              } // after
            } // -no
          } // feedBackBtn
        } // __feedBack
      } // reviewUtility
      .source {
        $imgSize: 23px;
        @include flex(center, flex-start);
        text-decoration: none;
        &__title {
          border-bottom: 1px solid $colorLinkAside;
          color: $colorLinkAside;
          font-size: 12px;
          margin-right: 5px;
        } // __title
        &__logo {
          height: 23px;
          width: 23px;
        } // __logo
      } // source
      .reviewLink {
        $iconColor: $colorColName;
        $iconSize: 16px;
        height: $iconSize;
        width: $iconSize;
        svg {
          fill: $iconColor;
          fill-rule: evenodd;
        } // svg
      } // reviewLink
      .reviewStatus {
        width: 17px;
      } // reviewStatus
    } // userAction
  } // __footer
  .addComment {

  } // addComment
} // review
// =============================================

// popUp windows -------------------------------
.popUpWindowBlock {
  .overlay {
    @include fullScreenOverlayPosition(black, .6, fixed, 1000);
    transition: opacity .3s;
  } // overlay
  .popUpWindow {
    border-radius: $mainBorderRadius;
    background: white;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50px;
    transform: translateX(-50%);
    transition: opacity .3s;
    z-index: 1010;
    .formFieldsTitle {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    } // formFieldsTitle
    label {
      display: block;
    } // label
    &__title {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: $blockTitleMarginBottom;
      text-align: center;
    } // __title
    &__content {
      .manufacturerBlock {
        @include flex(flex-start, space-between);
        margin-bottom: 20px;
        &__selects {
          @include widthPercent(50%);
          padding-right: 30px;
          .selectBlock {
            margin-bottom: 20px;
            &:last-child {
              margin-bottom: 0;
            } // last-child
            .select {

            } // blockSelect
          } // selectBlock
        } // __selects
        &__ratings {
          @include widthPercent(50%);
          padding-left: 30px;
          .ratingsBlock {
            $titleFontSize: 16px;
            $titleColor: $colorColName;
            $ratingFontSize: 18px;
            $ratingColor: $colorDarkGray;
            $starsIconSize: 17px;

            @include flex(center, flex-end);
            margin-bottom: 20px;
            &:last-child {
              margin-bottom: 0;
            } // last-child
            &__item {
              margin-right: 15px;
              &:last-child {
                margin-right: 0;
              } // last-child
              &-title {
                color: $titleColor;
                font-size: $titleFontSize;
                white-space: nowrap;
              } // -title
              &-stars {

              } // -stars
              &-rating {
                color: $titleColor;
                font-size: $titleFontSize;
              } // rating
              .starsIconBlock {
                @include flex(center, center);
                &__icon {
                  display: block;
                  margin-right: 1px;
                  height: $starsIconSize;
                  width: $starsIconSize;
                  &:last-child {
                    margin-right: 0;
                  } // last-child
                  svg {
                    fill: transparent;
                    stroke-width: 3px;
                    stroke: $colorRatingGreen;
                    &.fill {
                      fill: $colorRatingGreen;
                    } // -fill
                  } // starsIcon
                } // icon
              } // starsIconBlock
            } // ____item
            &-averageRating {
              $titleFontSize: 20px;
              $titleColor: $colorDarkGray;
              $ratingFontSize: 20px;
              $ratingColor: $colorDarkGray;
              $starsIconSize: 20px;
              .ratingsBlock__item-title {
                color: $titleColor;
                font-size: $titleFontSize;
              } // -title
              .ratingsBlock__item-stars {
                margin-right: 8px;
              } // -stars
              .starsIconBlock {
                &__icon {
                  height: $starsIconSize;
                  width: $starsIconSize;
                } // __icon
              } // starsIconBlock
              .ratingsBlock__item-rating {
                color: $titleColor;
                font-size: $titleFontSize;
              } // rating
            } // -averageRating
          } // ratingsBlock
        } // __ratings
      } // manufacturerBlock
      .reviewBlock {
        margin-bottom: 40px;
        &__textArea {
          margin-bottom: 15px;
          label {
            display: block;
          } // label
          textarea{
            height: 125px;
            font-family: Arial;
            resize: none;
          } // textarea
        } // __textArea
        &__userAction {
          @include flex(center, space-between);
          .addMediaContent {
            $iconHeight: 20px;
            $iconWidth: 26px;
            $plusIconSize: 11px;
            @include flex(center, flex-start);
            &__text {
              color: $colorDarkGray;
              font-size: 15px;
            } // __text
            &__media {
              @include flex(center, center);
              flex-direction: column;
              margin: 0 10px;
              &:hover {
                cursor: pointer;
                .mediaIcon {
                  &::before {
                    @include flex(center, center);
                    background: $colorRatingGreen;
                    transform: translateY(-2px) scale(1.2);
                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.51);
                  } // before
                } // mediaIcon
              } // hover
              .mediaIcon {
                background-image: url(../img/media_content_icon_sprite.jpg);
                display: block;
                height: $iconHeight;
                margin-bottom: 3px;
                position: relative;
                width: $iconWidth;
                &::before {
                  @include flex(center, center);
                  background: $colorLinkAside;
                  border-radius: 50%;
                  bottom: -4px;
                  color: white;
                  content: '+';
                  height: 11px;
                  font-size: 8px;
                  position: absolute;
                  right: -5px;
                  transition: transform .3s, background .3s;
                  width: 11px;
                } // before
                &-img {
                  @include showSpriteBg(0 0, $iconWidth, $iconHeight);
                } // -img
                &-video {
                  @include showSpriteBg(-26px 0, $iconWidth, $iconHeight);
                } // -img
              } // mediaIcon
              .iconDescription {
                color: $colorLinkAside;
                font-size: 11px;
              } // iconDescription
            } // __media
          } // addMediaContent
        } // __userAction
      } // reviewBlock
      .progressBarBlock {
        margin-bottom: 20px;
        &__progressBar {
          background: $colorBgLightGray;
          height: 20px;
          position: relative;
          width: 100%;
          .progress {
            @include flex(center, center);
            background: $colorRatingGreen;
            color: white;
            height: 100%;
            font-size: 13px;
            position: absolute;
            top: 0;
            left: 0;
            width: 75%;
          } // progress
        } // ____progressBar
      } // progressBarBlock
      .aboutBlock {
        color: $colorColName;
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 40px;
      } // aboutBlock
      .additionalBlock {
        .mainBtn {
          &-popUpadditionalBlock{
            .innerText {
              color: white;
              margin-right: 10px;
            } // innerText
          } // -popUpadditionalBlock
        } // mainBtn
        &__form {
          background: $colorBgLightGray;
          $outerBlocksWidth: 100%;
          $formFieldsGutter: 5px;
          padding: 20px;
          .carInfo {
            margin-bottom: 20px;
            &:last-child {
              margin-bottom: 0;
            } // last-child
            .selectsBlock {
              @include flex(center, flex-start);
              &__item {
                $selectWidth: calc((#{$outerBlocksWidth} - #{$formFieldsGutter * 2}) / 3 );
                margin-right: $formFieldsGutter;
                width: $selectWidth;
                &:last-child {
                  margin-right: 0;
                } // last-child
              } // __item
            } // selectsBlock
            .sparePartsInfo {
              $inputWidth: calc((#{$outerBlocksWidth} - #{$formFieldsGutter}) / 2 );
              margin-right: $formFieldsGutter;
              width: $inputWidth;
              &:last-child {
                margin-right: 0;
              } // last-child
            } // sparePartsInfo
            &-userAction {
              @include flex(flex-start, flex-start);
            } // -userAction
          } // carInfo
        } // form
      } // additionalBlock
    } // __content
    &-addReview {
      width: 755px;
    } // -addReview
  } // popUpWindow
} // popUpWindowBlock
// =============================================

// form elements -------------------------------

.label {
  $labelColor: $colorDarkGray;
  $labelFontSize: 15px;
  $labelFontWeight: bold;
  $labelMarginBottom: 15px;

  color: $labelColor;
  display: block;
  font-size: $labelFontSize;
  font-weight: $labelFontWeight;
  margin-bottom: $labelMarginBottom;
}

.select {
  $selectBorderRadius: $mainBorderRadius;
  $selectBorder: 1px solid $colorInputBorder;
  $selectHeight: 30px;
  $selectWidth: 100%;
  // header
  $headerFontSize: 13px;
  $headerHeight: 30px;
  $headerPadding: 10px;
  // items
  $itemFontize: 13px;
  $itemHeight: 30px;
  $itemPadding: 10px;

  border-radius: $selectBorderRadius;
  border: $selectBorder;
  height: $selectHeight;
  overflow: hidden;
  position: relative;
  width: $selectWidth;
  &__header {
    @include flex(center, space-between);
    height: $headerHeight;
    padding: $headerPadding;
    .innerText {
      font-size: $headerFontSize;
    } // innerText
    .blockIcon {
      .shevronIcon {
        &__icon {
          position: relative;
          min-height: 21px;
          min-width: 9px;
          span {
            background: $colorDarkGray;
            display: block;
            position: absolute;
            transition: background .3s;
            height: 10px;
            width: 2px;
            &:first-child {
              transform-origin:left bottom;
              transform: rotate(45deg);
              left:0;
              top: 0;
            } // first-child
            &:last-child {
              transform-origin:left top;
              transform: rotate(-45deg);
              left: 0;
              bottom: 0;
            }
          } // span
        } // _icon
        &-select {
          transform: rotate(-90deg) scale(.7);
        } // select
      } // shevronIcon
    } // blockIcon
  } // __header
  &__items {

  } // __items
  &__item {
    height: $itemHeight;
    font-size: $itemFontize;
    padding: 10px;
  } // item
} // select

.input, .text-area {
  $inputBorderRadius: $mainBorderRadius;
  $inputBorder: 1px solid $colorInputBorder;
  $inputColor: $colorDarkGray;
  $inputHeight: 30px;
  $inputFontSize: 13px;
  $inputPadding: 10px;
  $inputWidth: 100%;
  // placeholder
  $phFontFamily: arial;
  $phFontSize: 13px;
  $phFontWeight: 400;
  $phFontStyle: normal;
  $phFontColor: $colorDarkGray;

  @include placeholder ($phFontFamily, $phFontSize, $phFontWeight, $phFontStyle, $phFontColor);
  background: inherit;
  border-radius: $inputBorderRadius;
  border: $inputBorder;
  box-sizing: border-box;
  color: $inputColor;
  display: block;
  height: $inputHeight;
  font-size: $inputFontSize;
  outline: none;
  padding: $inputPadding;
  width: $inputWidth;
} // input

.text-area {
  height: 125px;
  font-family: Arial;
  resize: none;
  width: 100%;
} // text-area

// ==============================================


// side bar widgets ------------------------------

.widgetsArea {
  width: $col4Width;
} // widgerArea

.widget {
  // common properties
  $widgetBackground: white;
  $widgetHeight: 475px;
  // header properties
  $iconSize: 20px;
  $iconColor: $colorDarkGray;
  $titleColor: $colorDarkGray;

  background: $widgetBackground;
  border-radius: 3px;
  border: 1px solid $colorLightGray;
  min-height: $widgetHeight;
  height: initial;
  padding: 30px;
  width: 100%;
  &__header {
    @include flex(center, flex-start);
    margin-bottom: 30px;
    &:hover {
      .headerTitle {
        &__text {
          transform: translateX(-15%);
        } // __text
      } // headerTitle
    } // hover
    .headerIcon {
      margin-right: 10px;
      height: initial;
      width: $iconSize;
      svg {
        width: 100%;
        height: auto;
        path {
          fill: $iconColor;
          fill-rule: evenodd;
        } // path
      } // svg
      &-noFill {
        svg {
          path {
            fill: transparent;
            fill-rule: evenodd;
            stroke: $iconColor;
          } // path
        } // svg
      } // -noFill
    } // headerIcon
    .headerTitle {
      max-width: 270px;
      overflow: hidden;
      position: relative;
      &:after {
        background: linear-gradient(to right,
                rgba(255, 255, 255, 0) 0,
                white 100%);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
      } // after
      &__text {
        color: $titleColor;
        font-weight: normal;
        transition: transform 1s;
        white-space: nowrap;
      } // __text
    } // headerTitle
  } // __header
  .widgetContent {
    .ratingList {
      &__items {
        margin-top: -30px;
      } // __items
      &__item {
        $rowHeight: 90px;
        $brandWidth: 50px;
        $brandHeight: 20px;
        border-bottom: 1px solid $colorLightGray;
        &:last-child {
          border-bottom: none;
        } // last-child
        a {
          @include flex(center, space-between);
          color: $colorDarkGray;
          height: $rowHeight;
          font-size: 14px;
          position: relative;
          text-decoration: none;
          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            transition: opacity 0.3s ease;
            background-size: 30px 30px;
            background-image: linear-gradient(45deg, rgba(gray, 0.1) 25%,
                    transparent 25%, transparent 50%,
                    rgba(gray, 0.1) 50%, rgba(gray, 0.1) 75%,
                    transparent 75%, transparent );
            animation: barberpole .7s linear infinite;
          } // before
          &:hover {
            &::before {
              opacity: 1;
            } // before
            .infoBlock {
              &__title {
                span {
                  color: $colorYellow;
                  &::before {
                    width: 100%;
                  } // before
                } // span
              } // __title
              &__feedBack {
                .feedBack {
                  svg {
                    fill: $colorRatingGreen;
                  } // svg
                  &::after {
                    content: attr(data-value);
                    color: $colorDarkGray;
                    font-size: 12px;
                    margin-right: 15px;
                  } // after
                } // feedBack
              } // __feedBack
            } // infoBlock
          } // hover
          .count {
            color: $colorCountTxt;
            font-size: 16px;
            font-weight: bold;
            padding-right: 15px;
          } // count
          .brandLogo {
            height: $brandHeight;
            min-width: $brandWidth;
            width: $brandWidth;
          } // brandLogo
          .infoBlock {
            padding: 0 15px;
            &__title {
              @include flex(flex-start, flex-start);
              flex-direction: column;
              margin-bottom: 15px;
              span {
                position: relative;
                transition: color .3s;
                &::before {
                  @include makeUnderline($colorYellow, -1px);
                } // before
                &:last-child {
                  margin-top: 5px;
                } // last-child
              } // span
            } // __title
            &__feedBack {
              @include flex(center, flex-start);
              .feedBack {
                &:last-child {
                  &::after {
                    margin-right: 0;
                  } // after
                } // last-child
                svg {
                  transition: fill .3s;
                  fill: $colorCountTxt;
                } // svg
                &::after {
                  content: attr(data-value);
                  color: $colorDarkGray;
                  font-size: 12px;
                  margin-right: 15px;
                } // after
                &-users {
                  svg {
                    width: 12px;
                  } // svg
                } // -users
                &-voted {
                  svg {
                    width: 8px;
                  } // svg
                } // -voted
              } // feedBack
            } // __feedBack
          } // infoBlock
        } // a
      } // __item
    } // ratingList
  } // widgetContent
} // widget

// ===============================================



