#modelSpareParts {

  // pageHeaderBlock ---------------------------
  // in _custom.scss
  // ===========================================

  // rating table block ------------------------
  // in _custom.scss
  // ===========================================

  // reviewsBlock ------------------------------
  .reviewsBlock {
    @include flex(flex-start, space-between);
    margin-bottom: $outerBlockMargin;
    .contentArea {
      &__reviews {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        } // last-child
        .review {
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0;
          } // last-child
        } // review
      } // reviews
      &__pagination {
        margin-bottom: 30px;
      } // pagination
      &__addReview {
      } // __addReview
    } // contentArea
    .widgetsArea {
      .widget {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        } // last-child
      } // widget
    } // widgetsArea

    // @MEDIA ---------------------------
    @media screen and ( max-width: 1170px ) {
      flex-direction: column;
      .contentArea {
        margin-bottom: 30px;
        width: 100%;
      } // contentArea
      .widgetsArea {
        @include flex(flex-start, center);
        width: 100%;
        .widget {
          @include widthPercent(50%);
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          } // last-child
          .widgetContent {
          } // widgetContent
        } // widget
      } // widgetArea
    } // 1170
    // ==================================

  } // reviewBlock;
  // ===========================================

} // modelSpareParts