$sea : #1abc9c;
$sea_l : lighten( $sea, 5% );
$seaText : #a6ffed;

$callback : #904faa;
$callback_l : lighten( $callback, 5% );

$inputText : #eed3fa;
$inputPlaceholder : darken( $inputText, 5% );

$education : #3498db;
$club : #e67e22;

$footerText : #6a7f94;

$sidebarBg : #f5f5f5;

$breadCrumbs : #b7b7b7;


