* {
  box-sizing: border-box;
} // *

body {
  $mainFontSize: 16px;
  background: #040101;
  color: white;
  font: 200 $mainFontSize 'proxima-nova',sans-serif;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
} // body

img {
  display: block;
  width: 100%;
  height: auto;
} // img

a {
  color: white;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
} // a

h1 {
  color: inherit;
  font-size: 33px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

h3 {
  color: white;
  font-size: 17px;
  opacity: $unactiveElOpacity;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
} // h3

h4 {
  font-size: 18px;
  opacity: $unactiveElOpacity;
  text-align: center;
  text-transform: uppercase;
} // h4

h5 {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
} // h5

button {
  display: block;
  background: transparent;
  border: none;
  margin: 0;
  outline: none;
  padding: 0;
} // button

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input {
  background: $inputBg;
  border: none;
  display: block;
  outline: none;
  margin: 0;
  padding: 15px 25px;
  @include placeholder(proxima-nova, 18px, 300, normal, black)
  width: 100%;
} // input

textarea {
  background: $inputBg;
  border: none;
  display: block;
  outline: none;
  margin: 0;
  padding: 15px 25px;
  @include placeholder(proxima-nova, 18px, 300, normal, black)
  width: 100%
}

.btn {
  align-items: center;
  color: white;
  display: flex;
  font-size: inherit;
  justify-content: center;
  opacity: $unactiveElOpacity;
  transition: border-color .3s, opacity .3s;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
    opacity: 1;
  } // hover
  &-linkBtn {
    $btnSize: 260px;
    border-radius: 50%;
    border: 1px solid white;
    justify-content: space-between;
    flex-direction: column;
    padding: 35px;
    height: $btnSize;
    min-height: $btnSize;
    width: $btnSize;
    min-width: $btnSize;
    &:hover {
      border-color: $mainColor;
    } // hover
  } // &-linkBtn
  &-order {
    $btnOrderWidth: 313px;
    $btnOrderRatio: 4.5;
    $btnOrderHeight: calc( #{$btnOrderWidth} / #{$btnOrderRatio});
    border-radius: 7px;
    border: 2px solid white;
    background: rgba(255, 0, 0, 0.6);
    width: $btnOrderWidth;
    height: $btnOrderHeight;
  } // -order
  &-viewPresentation {
    $btnVwPresWidth: 75px;
    $btnVwPresRatio: 1.35;
    $btnVwPresHeight: calc( #{$btnVwPresWidth} / #{$btnVwPresRatio});
    border-radius: 2px;
    border: 2px solid white;
    width: $btnVwPresWidth;
    height: $btnVwPresHeight;
    position: relative;
    &:after {
      content: '';
      @include drawTriangle(19, 22, white);
    } // -after
  } // -viewPresentation
  &-playVideo {
    $btnPlayVideoSize: 210px;
    border-radius: 50%;
    border: 2px solid white;
    width: $btnPlayVideoSize;
    height: $btnPlayVideoSize;
    position: relative;
    &:after {
      content: '';
      background: url(./assets/img/icon_play.png);
      margin-left: 15px;
      width: 67px;
      height: 76px;
    } // -after
    &:hover {
      border-color: $mainColor;
    } // hover
  } // -playVideo
  &-headerContactBtn {
    opacity: $unactiveElOpacity;
    text-transform: uppercase;
    transition: opacity .3s;
    &:hover {
      cursor: pointer;
      opacity: 1;
    } // hover
  } // -headerContactBtn
  &-formSubmit {
    $btnSubmitWidth: 200px;
    $btnSubmitRatio: 3.3;
    $btnSubmitHeight: calc( #{$btnSubmitWidth} / #{$btnSubmitRatio});
    border-radius: 7px;
    border: 2px solid white;
    background: rgba(255, 0, 0, 0.6);
    width: $btnSubmitWidth;
    height: $btnSubmitHeight;
  }
} // btn

.btnClose {
  $btnCloseWidth: 45px;
  $btnCloseHeight: 55px;
  $btnLineDeg: 50deg;
  &__icon {
    height: $btnCloseHeight;
    position: relative;
    width: $btnCloseWidth;
    span {
      display: block;
      background: grey;
      height: 2px;
      left: 50%;
      margin-left: -63%;
      position:absolute;
      transition: background .3s;
      top: 50%;
      width: $btnCloseHeight;
      &:first-child {
        transform: rotate($btnLineDeg);
      } // first-child
      &:last-child {
        transform: rotate(-($btnLineDeg));
      } // first-child
    } // span
    &:hover {
      cursor: pointer;
      span {
        background: white;
      } // span
    } // hover
  } // __icon
  &-mainContactForm {
  } // -mainContactForm
  &-submitReportWindow {

  } // -submitReportWindow
  &-fullScreenSlider {

  } // -fullScreenSlider
  &-actionForCategory {
  } // -actionForCategory
} // btnClose

.sliderWrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  &-ourClients {

  } // -ourClients
  &-instaPageImgBlock {

  }
} // sliderWrap

.mySliderArrow {
  $arrowWidth: 20px;
  $arrowHeight: 60px;
  $arrowOffset: -15px;
  width: $arrowWidth;
  height: $arrowHeight;
  color: white;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  .arrowIcon {
    position: relative;
    width: $arrowWidth;
    height: $arrowHeight;
    .arrow {
      width: $arrowWidth;
      height: $arrowHeight;
      position: relative;
      span {
        display: block;
        background: $mainColor;
        height: 2px;
        position: absolute;
        transform-origin: 0 100%;
        width: 30px;
        &:first-child {
          transform: rotate(-60deg);
          top: 50%;
          left: 1px;
        } // first-child
        &:last-child {
          transform: rotate(60deg);
          top: 50%
        } // last-child
      } // span
    } // arrow
  } // arrowIcon
  &-prev {
    left: $arrowOffset;
  } // -prev
  &-next {
    right: $arrowOffset;
    transform-origin: center;
    transform: rotate(180deg);
  } // -prev
} // mySliderArrow

.serviceChatBlock {
  //border: 2px solid white;
  $chatTitleIconSize: 31px;
  $chatBlockScale: 1;
  $chatBlockTopOffset: 100px;
  background: url(./assets/img/chat_unactive.png) no-repeat center/contain;
  opacity: $unactiveElOpacity;
  position: fixed;
  top: $chatBlockTopOffset;
  right: -5px;
  transform-origin: 100% 100%;
  transform: scale($chatBlockScale) rotate(-90deg);
  transition: opacity .3s, transform .3s;
  height: 83px;
  width: 353px;
  z-index: 2000;
  &:hover {
    cursor: pointer;
    opacity: 1;
  } // hover
  .serviceChat {
    position: relative;
    height: 83px;
    width: 353px;
    display: flex;
    justify-content: center;
    align-items: center;
    .serviceChatTitle {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-left: 15px;
      position: absolute;
      &__icon {
        width: $chatTitleIconSize;
        height: $chatTitleIconSize;
        margin-right: 15px;
        svg {
          fill: white;
        } // svg
      } // &__icon
      &__text {
        text-transform: uppercase;
        width: 100%;
      } // __text
    } // serviceChatTitle
  } // serviceChat

  // @MEDIA ----------------------------
  @media only screen and (max-width: 1366px){
    //border: 2px solid white;
    $chatTitleIconSize: 31px;
    $chatBlockScale: .7;
    $chatBlockTopOffset: 100px;
    top: $chatBlockTopOffset;
    transform: scale($chatBlockScale) rotate(-90deg);
  } // 1366
  // ===================================

} // serviceChatBlock

.mainContactForm {
  $speedMoveContactFormBlock: .5s;
  $marginBetweenBlock: 30px;
  $phoneNumberFontSize: 45px;
  $mainContactFormInputFontSize: 18px;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 50%;
  left: 50%;
  transition: transform $speedMoveContactFormBlock;
  transform: translate(-50%, -50%);
  z-index: 1000;
  .btnClose {
    &-mainContactForm {
      align-self: flex-end;
    } // -mainContactForm
  } // btnClose
  .contactFormPhone {
    margin-bottom: $marginBetweenBlock;
    &__title {
      margin-bottom: $marginBetweenBlock;
    } // __title
    &__item {
      font-size: $phoneNumberFontSize;
      line-height: 1;
    } // &__item
  } // contactFormPhone
  .contactFormSubmit {
    &__title {
      margin-bottom: $marginBetweenBlock;
    } // __title
    .mainSubmitForm {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 750px;
      .formUserData {
        align-items: stretch;
        display: flex;
        justify-content: space-between;
        margin-bottom: $marginBetweenBlock;
        width: 100%;
        &__userInfo {
          margin-right: 30px;
          width: 48%;
          input {
            font-family: proxima-nova;
            font-size: $mainContactFormInputFontSize;
            margin-bottom: 10px;
            &:last-child {
              margin-bottom: 0;
            } // last-child
          } // input
        } // __userInfo
        &__userMessage {
          font-family: proxima-nova;
          font-size: $mainContactFormInputFontSize;
          width: 48%;
        } // __userMessage
      } // formUserData
      .btn {
        &-formSubmit {
          margin-bottom: $marginBetweenBlock;
        } // -formSubmit
      } // btn
    } // mainSubmitForm
  } // contactFormSubmit
} // mainContactForm

.submitReport {
  $overlayOpacity: .9;
  $modalWindowContentWidth: 585px;
  $modalWindowContentHeight: 185px;
  $modalWindowFontSize: 18px;
  $modalWindowLineHeight: 26px;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 2000;
  &__overlay {
    background: black;
    opacity: $overlayOpacity;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  } // __overlay
  .submitReportWindow {
    background: black;
    border: 2px solid $mainColor;
    opacity: 1;
    position: relative;
    width: $modalWindowContentWidth;
    height: $modalWindowContentHeight;
    .closeBtn {
      &-submitReportWindow {
        top: -8px;
        right: -60px;
        position: absolute;
      } // -submitReportWindow
    } // closeBtn
    &__bg {
      background: url(./assets/img/window_report_bg.png) no-repeat top right/cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    } // __bg
    &__content {
      align-items: center;
      background: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      font-size: $modalWindowFontSize;
      line-height: $modalWindowLineHeight;
      position: relative;
      text-transform: uppercase;
      width: 100%;
      height: 100%;
    } // __content
  } // submitReportWindow
} // submitReport

.meansOfCommunication {
  display: flex;
  justify-content: center;
  align-items: center;
  &__item {
    $mOfComIconSize: 43px;
    align-items: center;
    display: flex;
    border-radius: 50%;
    border: 1px solid white;
    height: $mOfComIconSize;
    justify-content: center;
    margin-right: 15px;
    opacity: $unactiveElOpacity;
    transition: opacity 0.3s, border-color .3s;
    width: $mOfComIconSize;
    &:last-child {
      margin-right: 0;
    } // last-child
    .headerIcon {
      width: 21px;
    } // headerIcon
    &:hover {
      border-color: $mainColor;
      cursor: pointer;
      opacity: 1;
    } // hover
  } // __item
} // meansOfCommunication

// slick slider style ------------------------
.slick-slide {
  outline: none;
  &>div {
    display: flex;
    justify-content: center;
  }
} // slick-slide
// ============================================

.goOutsideLeft {
  transform: translateX(-100%);
} // goOutsideLeft
.goOutsideRight {
  transform: translate(150%, -50%);
}
.activeColor {
  color: $mainColor;
  opacity: 1;
} // activeColor

.hide {
  opacity: 0;
} // hide
