@font-face {  /* -------- Thin ------------*/
  font-family: "Proxima-nova";
  src: url("../fonts/proxima-nova/proxima-nova-thin.eot");
  src: url("../fonts/proxima-nova/proxima-nova-thin.eot?iefix") format("embedded-opentype"),
  url("../fonts/proxima-nova/proxima-nova-thin.woff") format("woff"),
  url("../fonts/proxima-nova/proxima-nova-thin.woff2") format("woff2"),
  url("../fonts/proxima-nova/proxima-nova-thin.svg") format("svg"),
  url("../fonts/proxima-nova/proxima-nova-thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {    /* -------- Light ------------*/
  font-family: "Proxima-nova";
  src: url("../fonts/proxima-nova/proxima-nova-light.eot");
  src: url("../fonts/proxima-nova/proxima-nova-light.eot?iefix") format("embedded-opentype"),
  url("../fonts/proxima-nova/proxima-nova-light.woff") format("woff"),
  url("../fonts/proxima-nova/proxima-nova-light.woff2") format("woff2"),
  url("../fonts/proxima-nova/proxima-nova-light.svg") format("svg"),
  url("../fonts/proxima-nova/proxima-nova-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {    /* -------- Regular ------------*/
  font-family: "Proxima-nova";
  src: url("../fonts/proxima-nova/proxima-nova-regular.eot");
  src: url("../fonts/proxima-nova/proxima-nova-regular.eot?iefix") format("embedded-opentype"),
  url("../fonts/proxima-nova/proxima-nova-regular.woff") format("woff"),
  url("../fonts/proxima-nova/proxima-nova-regular.woff2") format("woff2"),
  url("../fonts/proxima-nova/proxima-nova-regular.svg") format("svg"),
  url("../fonts/proxima-nova/proxima-nova-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {    /* -------- Semi-bold ------------*/
  font-family: "Proxima-nova";
  src: url("../fonts/proxima-nova/proxima-nova-semibold.eot");
  src: url("../fonts/proxima-nova/proxima-nova-semibold.eot?iefix") format("embedded-opentype"),
  url("../fonts/proxima-nova/proxima-nova-semibold.woff") format("woff"),
  url("../fonts/proxima-nova/proxima-nova-semibold.woff2") format("woff2"),
  url("../fonts/proxima-nova/proxima-nova-semibold.svg") format("svg"),
  url("../fonts/proxima-nova/proxima-nova-semibold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {    /* -------- Bold ------------*/
  font-family: "Proxima-nova";
  src: url("../fonts/proxima-nova/proxima-nova-bold.eot");
  src: url("../fonts/proxima-nova/proxima-nova-bold.eot?iefix") format("embedded-opentype"),
  url("../fonts/proxima-nova/proxima-nova-bold.woff") format("woff"),
  url("../fonts/proxima-nova/proxima-nova-bold.woff2") format("woff2"),
  url("../fonts/proxima-nova/proxima-nova-bold.svg") format("svg"),
  url("../fonts/proxima-nova/proxima-nova-bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
