// slider color
$colorArrow: white;
$colorArrowBg: transparent;

// wrapper
$wrapperWidth: 1170px;

// styles
$unactiveElOpacity: .35;


// colors
$mainColor: #006cc7;
$unActiveBorderColor: #777778;
$inputBg: #c9c9c9;

