$colorTopSiteBar: #2ba8e0;
$colorUnderMenuBlockLighten: #2ba8e0;
$colorUnderMenuBlockDarken: #006196;
$colorLink: #2ba8e0;
$colorBtn: #006196;
$colorBtnHover: #2ba8e0;
$colorText: black;
$colorHeader: black;
$colorMain: black;
$colorSecondary: #4c4c4c;
$colorThird: #c8cbcc;
$colorOrange: #ff8200;

$fontFamily: Josefin Sans, sans-serif;
$fontFamilyBtn: Josefin Sans, sans-serif;

$fontSizeText: 15px;
$fontSizeMenu: 14px;
$fontSizeInput: 16px;
$fontSizeFigcaption: 19px;
$fontSizeBtn: 15px;
$fontWeightText: 400;
$fontWeightMenuHeader: 700;

$colorMenuItemHover: #edf0f1;

