@import "main";
@import "sidebar";
.aboutInstitute {
  padding: $mainPadding;
  padding-bottom: $mainPadding * 2;
  background: $sea;
  & .header {
    margin-bottom: $mainPadding;
    & h3 {
      color: white;
    } // h3
  } // header
  &__links {
    & ul {
      & li {
        & a {
          color: $seaText;
          display: block;
          text-decoration: underline;
          padding: 4px 8px 5px 0px;
          &:hover {
            color: white;
          }
          &.activeLink {
            color:white;
            text-decoration: none;
          }
        } // a
      } // li
      & .teachers {
        &__teacher {
          display: none;
          list-style-type: disc;
          position: relative;
          left: 15px;
          color: $seaText;
          & a {
            text-decoration: underline;
            color: $seaText;
          } // a
          &_active {
            display: block;
          } // active
        } // __teacher
      } // teachers
    } // ul
  } // __links
} // aboutInstitute

.mainNews {
  padding: $mainPadding;
  &__header {
    margin-bottom: $mainPadding;
    & h3 {
      color: #606060;
    } // h3
  } // __header
  &__links {
    & ul {
      display: block;
      list-style-type: disc;
      & li {
        margin: 0 0 0.25em 1.5em;
        & a {
          font-family:'Helvetica', Arial, sans-serif;
          font-size: 14px;
          color: #0074ce;
          &:hover {
            text-decoration: underline;
          } // hover
        } // a
      } // li
    } // ul
  } // __links
} // news

.mainLayout__content {
  padding: $mainPadding $mainPadding * 2;
} // mainLayout__content

.titleBlock {
  &__header {
    margin-bottom: 32px;
  } // __header
  &__content {
    & p {
      white-space: pre-line;
    }
  } // content
} // titleBlock

.advantagesBlock {
  margin: 32px 0;
  &__item {
    padding-bottom: 20px;
    & p {
      position: relative;
      padding-left: 54px;
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 77px;
        height: 77px;
        background-image: url(../../assets/img/icons.png);
        background-position: 0 -624px;
        background-repeat: no-repeat;
        overflow: hidden;
        left: -40px;
      }
    } // p
  } // __item
} // advantagesBlock

.videoBlocks {
  margin-bottom: 32px;
  .videoBlock {
    width: 500px;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
    &__wrap {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      & iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      } // iframe
    } // __wrap
  } // videoBlock
} // videoBlocks

.sertificatesBlock {
  margin-bottom: 32px;
  &__item {
    display: inline-block;
    margin: 0 22px 22px 0;
  } // __item
} // sertificatesBlock

.documentsBlocks {
  color: #606060;
  margin-bottom: 32px;
  & h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  } // h2, h3
  & h3, .h3 {
    font-size: 24px;
  } // h3
  & h2, .h2 {
    font-size: 30px;
  } // h2
  & p {
    margin: 0 0 10px;
    color: inherit;
  } // p
  & ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
  }
  &__doc1 {

  }
} // documentsBlock

/* task-goals */
.titleBlock {
  &__header {
  } // __header
  &__content {
    & p {
    } // p
    & .videoBlock {
      width: $col-4 * 2;
      margin-bottom: $mainPadding;
      margin-top: $mainPadding;
      &__wrap {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        & iframe, object, embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        } // iframe
      } // __wrap
    } // videoBlock
  } // content
  // модификаторы
  &_taskGoals {
  } // _taskGoals
} // titleBlock

/* Director */
.titleBlock {
  &__header {
  } // __header
  &__content {
    & p {
    } // p
    & .thumbnailsBlock {
      margin: $mainPadding 0;
      width: 100%;
      & img {
        width: 100%;
        height: auto;
      }
    } // thumbnailsBlock
  } // content
  // модификаторы
  &_director {
  } // _taskGoals
} // titleBlock

/* Teachers */
.titleBlock {
  &__header {
  } // __header
  &__content {
    & p {
    } // p
    & .thumbnailsBlock {
      margin: $mainPadding 0;
      width: 100%;
      & img {
        width: 100%;
        height: auto;
      }
    } // thumbnailsBlock
  } // content
  // модификаторы
  &_director {
  } // _taskGoals
} // titleBlock

.teachersBlock {
  width: 100%;
  &__row {
    display: flex;
    justify-content: center;
    & a {
      display: block;
      width: 50%;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    & .oneTeacher {
      display: flex;
      justify-content: flex-start;
      color: #000000;
      width: 100%;
      height: 131px;
      background: #e7e7e7;
      font-size: 12px;
      padding: 22px 17px 22px 17px;
      &:hover {
        cursor: pointer;
        background: $sea;
      }
      &__photo {
        margin-right: 17px;
      } // __photo
      &__name {
        font-size: 16px;
        font-weight: bold;
        font-family: Arial;
      } // __name
    } // oneTeacher
  } // __row
} // teachersBlock

/* theTeacher */
.titleBlock {
  &__header {
  } // __header
  &__content {
    & p {
    } // p
    & .theTeacher {
      &__photo {
        & img {
          //width: 100%;
          //height: auto;
          margin: 0 $mainMargin $mainMargin 0;
          float: left;
        } // img
      } // __photo
      &__description {
        margin-bottom: $mainMargin * 2;
      } // __description
      &__biographic {
        margin-bottom: $mainMargin;
        & p {
          color: rgb(51, 51, 51);
          font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
          font-size: 13px;
        } // p
      } // __biographic
    } // theTeacher
  } // content
  // модификаторы
  &_theTeacher {
  } // _taskGoals
} // titleBlock

/* history */
.titleBlock {
  margin-bottom: $mainMargin;
  &__header {
  } // __header
  &__content {
    & h2 {
      margin-bottom: 16px;
    }
    & p {
    } // p
  } // content
  // модификаторы
  &_history {
  } // _taskGoals
} // titleBlock

/* club */
.titleBlock {
  margin-bottom: $mainMargin;
  &__header {
  } // __header
  &__content {
    margin-bottom: $mainMargin;
    & p {
    } // p
  } // content
  & .imgBlock {
    &__header h2 {
      margin-bottom: 16px;
    } // h2
    &__description {
      margin: $mainMargin 0;
    } // __description
    &__img {
      & img {
        width: 100%;
        height: auto;
      } // img
    } // __img
  } // imgBlock
  // модификаторы
  &_club {
  } // _club
} // titleBlock

/* knowledge */
.titleBlock {
  margin-bottom: $mainMargin;
  &__header {
  } // __header
  &__content {
    margin-bottom: $mainMargin;
    & p {
      margin-bottom: $mainMargin;
    } // p
    & img {
      width: 100%;
      height: auto;
      margin-bottom: $mainMargin;
    } // img
  } // content
  // модификаторы
  &_knowledge {
  } // _knowledge
} // titleBlock

/* vacansies */
.titleBlock {
  margin-bottom: $mainMargin;
  &__header {
  } // __header
  &__content {
    margin-bottom: $mainMargin;
    & p {
      margin-bottom: $mainMargin;
    } // p
    & .vacanList {
      line-height: 30px;
      margin-bottom: $mainMargin * 2;
      & li {
        position: relative;
        list-style: none;
        line-height: 20px;
        padding: 5px;
        &:before {
          content: '';
          position: relative;
          display: inline-block;
          width: 7px;
          height: 7px;
          background: #1abc9c;
          border-radius: 50%;
          margin-right: 9px;
        } // before
      } // li
    } // vacanList
  } // content
  // модификаторы
  &_vacansies {
  } // _vacansies
} // titleBlock

/* news */
.titleBlock {
  margin-bottom: $mainMargin;
  &__header {
  } // __header
  &__content {
    margin-bottom: $mainMargin;
    &>a {
      display: block;
      &:hover {
        cursor: pointer;
        .newsRow__date {
          background: darken( $sea, 10% );
        }
        .newsRow__event {
          background: $sea;
        }
      } // hover
    } // a
      & .newsRow {
        margin-bottom: 20px;
        display: flex;
        &__date {
          padding: 20px;
          background: #e7ebed;
          color: #9C9C9C;
          width: $col-3;
        } // __date
        &__event {
          padding: 20px;
          width: 100%;
          background: #f4f6f7;
          & a {
            color: #0074ce;
            &:hover {
              text-decoration: underline;
            }
          } // a
      } // __event
    } // newsRow
  } // content
  // модификаторы
  &_news {
  } // _news
} // titleBlock