@import "normal";
@import "colors";
@import "grid";
@import "customize";
@import "selecter";
@import "var";
@import "owl_carousel";
//@import "fonts";

.mainWrapperContent {
  max-width: $maxWidth;
  margin: 0 auto;
  height: inherit;
}

.mainHeader {
  background: #f5f5f5;
  & .mainWrapperContent {
    position: relative;
    height: 124px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  // mainWrapperContent
  &__logo {
    display: block;
    width: 245px;
    height: inherit;
    background: #e7ebed;
    & .mainLogo {
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
    } // mainLogo
  }   // __logo
  &__nav {
    li {
      display: inline-block;
      padding-left: 36px;
    } // li
    & a {
      display: block;
      color: #333;
      margin: 5px 0;
      span.menuItem {
        display: inline-block;
        border-bottom: 1px solid #bfc5ca;
        height: 18px;
      } // span.menuItem
      &:hover span{
        color: $sea;
        border-color: $sea;
      }
    } // a
  }  // __nav
  &__phone {
    position: absolute;
    top: 5px;
    right: 0;
    font-weight: 600;
    color: #5e7287;
    & .sityCod {
      color: $sea;
    } // sityCod
  } // __phone
}// mainHeader

.sliderSection {
  width: 100%;
  max-width: 100%;
  height: 347px;
  & .owl-carousel {
    &__item {
      position: relative;
      & .slideTextBlock {
        width: 50vw;
        color: white;
        font-size: 14px;
        line-height: 1.41em;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
        box-sizing: border-box;
        word-wrap: break-word;
        background: rgba(66,83,99,0.8);
        position: absolute;
        bottom: 0;
        right: 0;
        height: 225px;
        padding-left: 21px;
        padding-bottom: 3px;
        &__title {
          text-transform: uppercase;
          font-family: 'Scada',sans-serif;
          font-size: 26px;
          margin-top: 15px;
          margin-bottom: -1px;
          font-weight: 100;
          width: 320px;
          line-height: 1.3em;
        } // title
        &__descr {
          & p {
            width: 450px;
          } // p
        } // descr
      } // slideTextBlock
    } // __item
    & .owl-item {
      img {
        width: auto;
        height: 100%;
      } // img
    } // owl-item
  } // owl-carousel
  // модификаторы
  &_nonSlider {
    height: auto;
    background: none;
    & img {
      display: block;
    } // img
  } // _nonSlider
  &_displayNone {
    display: none;
  }
} // sliderSection


.sheduleAndVideo {
  width: 100%;
  display: flex;
  .calendarBlock {
    width: $col-4;
    position: relative;
    background: $sea;
    padding: 28px;
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 12px 11.5px 0 11.5px;
      border-color: #1abc9c transparent transparent transparent;
      bottom: -12px;
      left: 50%;
      margin-left: -11.5px;
      z-index: 500;
    }
    &:hover {
      background: $sea_l;
    } // hover
    &:hover:after {
      border-color: $sea_l transparent transparent transparent;
    } // hover
    &__shedule {
      & .header {
        margin-bottom: 13px;
        & h3 {
          color: white;
          &:before {
            content: "";
            position: relative;
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 10px;
            background-image: url(../../assets/img/icons.png);
            background-position: -125px 0;
            background-repeat: no-repeat;
            overflow: hidden;
            left: 0;
          } // before
        } // h3
      } // header
      & .description {
        color: #a6ffed;
        line-height:20px;
      } // description
    } // shedule
  } // calendarBlock
  .videoBlock {
    width: $col-9;
    &__wrap {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      & iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      } // iframe
    } // __wrap
  } // videoBlock
} // sheduleAndVideo

.dailyShedule {
  display: flex;
  &__item {
    width: $col-4;
    padding: 28px;
    border: 1px solid #eee;
    &:hover {
      cursor: pointer;
      background: #f0f7f6;
    }
    & .itemTitle {
      font-size: 16px;
      margin-bottom: 18px;
      font-weight: bold;
    }
    & .itemShedule {
      & .eventLine {
        display: flex;
        justify-content: flex-start;
        &__time {
          float: left;
          font-weight: bold;
          line-height: 20px;
        } // time
        &__descr {
          padding-left: 7px;
          color: #7c7c7c;
        } // __descr
      } // eventLine
    } // itemShedule
    & .itemMore {
      text-align: center;
      padding-top: 18px;
      color: #7c7c7c;
      font-size: 20px;
      &:hover {
        cursor: pointer;
      } // hover
    } // itemMore
  } // __item
} //dailyShedule

.calbackFormAndAbout {
  display: flex;
  .aboutInstitute {
    width: $col-4;
    padding: 28px;
    border: 1px solid #eee;
    &:hover {
      cursor: pointer;
      background: #f0f7f6;
    }
    & .header {
      margin-bottom: 13px;
      text-align: center;
      & h3 {
        &:before {
          content: "";
          position: relative;
          display: block;
          height: 64px;
          width: 72px;
          background-image: url(../../assets/img/icons.png);
          background-position: 0 -319px;
          background-repeat: no-repeat;
          overflow: hidden;
          left: 56px;
          margin-bottom: 28px;
        } // before
      } // h3
    } // header
    & .description {
      color: #7c7c7c;
      line-height:20px;
    } // description
  } // aboutInstitute
  .callbackForm {
    display: flex;
    &__descr {
      width: $col-4;
      padding: 28px;
      background: $callback;
      & .header {
        margin-bottom: 28px;
        text-align: center;
        & h3 {
          color: white;
          &:before {
            content: "";
            position: relative;
            display: inline-block;
            height: 18px;
            width: 27px;
            margin-right: 10px;
            background-image: url(../../assets/img/icons.png);
            background-position: -17px -46px;
            background-repeat: no-repeat;
            left: 0;
          } // before
        } // h3
      } // header
      & .description {
        color: #cd9de1;
        line-height: 20px;
      } // description
    } // __descr
    &__mail {
      width: $col-4 * 2;
      padding: 28px;
      background: $callback_l;
      font-size: 16px;
    } // __mail
    & .mailForm {
      &__all {
        margin-bottom: 15px;
        font-size: 16px;
        width: 100%;
        &_submit input{
          width: auto;
          &:hover {
            cursor: pointer;
            width: auto;
            color: $callback_l;
            background: #eed3fa;
          } // hover
        } // _submit input
        & input[type="checkbox"] {
          display: none;
        } // input[type="checkbox"]
        & label {
          span {
            color: $inputText;
            border-bottom: 1px solid $inputText;
            height: 18px;
            a {
              color: inherit;
            }
          } // span
        } // label
      } // __all
      & .twoField {
        display: flex;
        justify-content: space-between;
        width: 100%;
        & .mailForm__all {
          margin-right: 15px;
          &:last-child {
            margin: 0;
          } // last-child
        } // mailForm__all
      } // twoField
    } // mailForm
  } // calbackForm
} // calbackFormAndAbout

.news {
  display: flex;
  &__control {
    padding: $mainPadding;
    width: $col-4;
    position: relative;
    background: #e7ebed;
    & .header {
      & h3 {
        &:before {
          content: "";
          position: relative;
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-right: 10px;
          background-image: url(../../assets/img/icons.png);
          background-position: -87px -585px;
          background-repeat: no-repeat;
          overflow: hidden;
          left: 0;
        } // before
      } // h3
    } // header
  } // __control
  & .newsList {
    padding: $mainPadding;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    &__date {
      color: #7c7c7c;
      margin-right: 20px;
    } // __date
    &__title {

    } // title
  } // newsList
} // news

.educationAndClub {
  display: flex;
  & .education {
    width: $col-6;
    background: $education;
    display: flex;
    &:hover {
      cursor: pointer;
      background: lighten( $education, 5% );
    } // hover
    &__header {
      padding: $mainPadding;
      width: $col-4;
      display: flex;
      justify-content: center;
      align-items: center;
      & .header {
        color: white;
        & h3 {
          text-align: center;
          position: relative;
          &:after {
            content: "";
            position: relative;
            display: block;
            height: 64px;
            width: 58px;
            left: 70px;
            top: 15px;
            background-image: url(../../assets/img/icons.png);
            background-position: 0 -246px;
            background-repeat: no-repeat;
            overflow: hidden;
          } // after
        } // h3
      } // header
    } // __header
    &__description {
      padding: $mainPadding;
      width: $col-4;
      & .description {
        color: white;
        line-height:20px;
      } // description
    } // __description
  } // education
  & .club {
    width: $col-6;
    background: $club;
    display: flex;
    &:hover {
      cursor: pointer;
      background: lighten( $club, 5% );
    } // hover
    &__header {
      padding: $mainPadding;
      width: $col-4;
      display: flex;
      justify-content: center;
      align-items: center;
      & .header {
        color: white;
        & h3 {
          text-align: center;
          &:after {
            content: "";
            position: relative;
            display: block;
            height: 62px;
            width: 62px;
            left: 15px;
            top: 15px;
            background-image: url(../../assets/img/icons.png);
            background-position: -60px -184px;
            background-repeat: no-repeat;
            overflow: hidden;
          } // after
        } // h3
      } // header
    } // __header
    &__description {
      padding: $mainPadding;
      width: $col-4;
      & .description {
        color: white;
        line-height:20px;
      } // description
    } // __description
  } // club

} // educationAndClub

// FOOTER

.paySystem {
  padding: $mainPadding / 2;
  text-align: center;
  background: #1c3d50;
  &__icon {
    display: inline-block;
  } // icon
} // paySystem

.footer {
  display: flex;
  & .footerMenu {
    width: $col-6;
    background: #2c3e50;
    padding: $mainPadding;
    &__header {
      margin-bottom: 13px;
      & h3 {
        color: white;
      } // h3
    } // __header
    &__links {
      display: flex;
      & ul li {
        padding: 5px 0;
        &:first-child {
          padding-top: 0;
        }
        a {
          display: block;
          color: #6a7f94;
          font-weight: bold;
          &:hover {
            color: lighten( $footerText, 10% );
            text-decoration: underline;
          }
        } // a
      } // li
      & .menu1 {
        margin-right: 28px;
      }
    } // links
  } // footerMenu
  & .footerContacts {
    width: $col-4;
    background: #34495e;
    color: $footerText;
    padding: $mainPadding;
    &__header {
      margin-bottom: 13px;
      & h3 {
        color: white;
      } // h3
    } // header
    &__data {
      line-height: 25px;
    }
  } // footerContacts
  & .footerSocial {
    width: $col-4;
    background: #3f556c;
    color: $footerText;
    padding: $mainPadding;
    & p {
      line-height: 25px;
    }
    &__header {
      margin-bottom: 13px;
      & h3 {
        color: white;
      } // h3
    } // header
    &__icon {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 13px;
      & .iconItem {
        position: relative;
        background: #495e73;
        height: 30px;
        width: 30px;
        margin-right: 9px;
        border-radius: 15px;
        cursor: pointer;
        display: inline-block;
        &__vk {
          & circle {
            fill: transparent;
          } // circle
          &:hover {
            circle {
              fill: #517397;
            }
          } // hover
          &:after {
            content: "";
            position: absolute;
            display: block;
            width: 12px;
            height: 13px;
            background-image: url(../../assets/img/icons.png);
            background-position: -108px -33px;
            background-repeat: no-repeat;
            overflow: hidden;
            top: 8px;
            left: 9px;
          } // after
        } // __vk
        &__google {
          & circle {
            fill: transparent;
          } // circle
          &:hover {
            circle {
              fill: #ac4b4b;
            }
          } // hover
          &:after {
            content: "";
            position: absolute;
            display: block;
            width: 17px;
            height: 16px;
            background-image: url(../../assets/img/icons.png);
            background-position: -34px -1px;
            background-repeat: no-repeat;
            overflow: hidden;
            top: 7px;
            left: 8px;
          } // after
        } // __google
        &__youtube {
          & circle {
            fill: transparent;
          } // circle
          &:hover {
            circle {
              fill: #CC191E;
            }
          } // hover
        } // __youtube
      } // // iconItem
    } // icon
    &__copyright {
      color: $footerText;
    }
    &__dzen {
      p {
        color: white;
        & span {
          color: $sea;
        } // span
      } // p
    } // __dzen
  } // footerSocial
} // footer

.footerCopyright {
  background: #2c3e50;
  text-align: left;
  padding: $mainPadding / 2 $mainPadding;
  color: white;
  & p {
    color: white;
    font-size: 11px;
    & span {
      &:hover {
        border-bottom: 1px solid white;
      }
      & a {
        color: inherit;
        font-size: inherit;
      } // a
    } // span
  } // p
} // footerCopyright

// about
