@import "reset";
@import "var";
@import "functions";
@import "animate";
@import "fonts";
@import "mixin";
@import "slick-theme";
@import "slick";
@import "custom";

.parallax {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &::after {
    content: '';
    background: black;
    opacity: $unactiveElOpacity;
    position: absolute;
    transition: opacity .3s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } // after
  &-overlay {
    &::after {
      content: '';
      transition: opacity .3s;
      opacity: 0;
    } // after
  } // parallaxOverlay
  .scene {
    $cloudTopPosition: 20px !important;
    $lineTopPosition: 100px !important;
    $manTopPosition: 100px !important;
    $cloudSize: 100%;
    $lineSize: 100%;
    $manSize: 100%;
    &__item {
      img {
        margin: 0 auto;
      } // img
      &-cloud {
        width: 100%;
        top: $cloudTopPosition;
        img {
          width: $cloudSize;
        } // img
      } // -cloud
      &-line {
        width: 100%;
        top: $lineTopPosition;
        img {
          width: $lineSize;
        } // img
      } // -line
      &-flyMan {
        width: 100%;
        top: $manTopPosition;
        img {
          width: $manSize;
        } // img
      } // flyMan
    } // __item
  } // scene

  // @MEDIA -------------------------
  @media only screen and(max-width: 1366px) {
    .scene {
      $cloudTopPosition: 60px !important;
      $lineTopPosition: 120px !important;
      $manTopPosition: 120px !important;
      $cloudSize: 100%;
      $lineSize: 100%;
      $manSize: 70%;
      &__item {
        &-cloud {
          width: 100%;
          top: $cloudTopPosition;
          img {
            width: $cloudSize;
          } // img
        } // -cloud
        &-line {
          width: 100%;
          top: $lineTopPosition;
          img {
            width: $lineSize;
          } // img
        } // -line
        &-flyMan {
          width: 100%;
          top: $manTopPosition;
          img {
            width: $manSize;
          } // img
        } // flyMan
      } // __item
    } // scene
  } // 1366
  // ================================

} // parallax

.foregroundPlan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  z-index: 1000;
} // foregroundPlan

.wrapper {
  width: 100%;
  max-width: $wrapperWidth;
  margin: 0 auto;
  &-fsSlider {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 10;
  } // fsSlider
} // wrapper

.mainHeader {
  $mainHeaderElemScale: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  &-insta {
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,
                                           rgba(0,0,0,0.9) 65%,
                                           rgba(0,0,0,0) 100%
                                );
  } // -insta
  .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    &__logo {
      $logoSize: 115px;
      transition: transform .3s;
      transform: scale($mainHeaderElemScale);
      height: $logoSize;
      width: $logoSize;
    } // __logo
    .headerMenu {
      transition: transform .3s;
      transform: scale($mainHeaderElemScale);
      .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        &__item {
          margin-right: 30px;
          &:last-child {
            margin-right: 0;
          } // last-child
          a {
            color: white;
            opacity: $unactiveElOpacity;
            transition: opacity .3s;
            &:hover {
              opacity: 1;
            } // hover
          } // a
          &-active {
            a {
              color: $mainColor;
              opacity: 1;
            } // a
          } // -active
        } // __item
      } // menu
    } //headerMenu
    .contactBlock {
      align-items: center;
      display: flex;
      justify-content: center;
      transition: transform .3s;
      transform: scale($mainHeaderElemScale);
      .btn {
        &-headerContactBtn {
          margin-right: 30px;
        } // -headerContactBtn
      } // btn
      &__item {
        $contactIconSize: 43px;
        align-items: center;
        display: flex;
        border-radius: 50%;
        border: 1px solid white;
        height: $contactIconSize;
        justify-content: center;
        margin-right: 15px;
        opacity: $unactiveElOpacity;
        transition: opacity 0.3s, border-color .3s;
        width: $contactIconSize;
        &:last-child {
          margin-right: 0;
        } // last-child
        .headerIcon {
          width: 21px;
        } // headerIcon
        &:hover {
          border-color: $mainColor;
          cursor: pointer;
          opacity: 1;
        } // hover
      } // __item
    } // contactBlock
  } // headerContent

  // @MEDIA ------------------------------------
  @media only screen and(max-width: 1366px) {
    $mainHeaderElemScale: 1;
    //background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,
    //                                       rgba(0,0,0,0.9) 65%,
    //                                       rgba(0,0,0,0) 100%
    //                            );
    .headerContent {
      &__logo {
        transform: scale($mainHeaderElemScale);
      } // __logo
      .headerMenu {
        transform: scale($mainHeaderElemScale);
      } //headerMenu
      .contactBlock {
        transform: scale($mainHeaderElemScale);
      } // contactBlock
    } // headerContent
  } // 1366
  // ===========================================

} // mainHeader

.headerOffsetBlock {
  height: 145px;
} // headerOffsetBlock

.mainContent {
  margin-top: auto;
} // mainContent

.page {
  $speedMovePageBlock: .5s;
  transition: transform $speedMovePageBlock;
} // pageMain

// mainPage ------------------------------------
.mainActionBlock {
  $mainActionBlockScale: 1;
  $speedMoveActionBlock: .5s;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  transition: transform $speedMoveActionBlock;
  width: 100%;
  .btn {
    transform: scale($mainActionBlockScale);
    transition: transform 0.3s, opacity .3s;
    &__icon {
      $instaIconWidth: 65px;
      $mpIconWidth: 84px;
      &-instagram {
        width: $instaIconWidth;
      } // -instagram
      &-marketPlace {
        position: relative;
        left: 5px;
        width: $mpIconWidth;
      } // -marketPlace
    } // __icon
    &__title {
      text-transform: uppercase;
      text-align: center;
    } // __title
  } // btn
  .orderAndPresentation {
    $orderAndPresentationFontSize: 17px;
    $orderAndPresentationSideMargin: 60px;
    align-items: center;
    display: flex;
    font-size: $orderAndPresentationFontSize;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 $orderAndPresentationSideMargin;
    position: relative;
    top: 70px;
    transform: scale($mainActionBlockScale);
    transition: transform 0.3s;
    .viewPresentation {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      opacity: $unactiveElOpacity;
      transition: opacity .3s;
      &:hover {
        cursor: pointer;
        opacity: 1;
        .btn {
          &-viewPresentation {
            border-color: $mainColor;
            opacity: 1;
          } // -viewPresentation
        } // btn
      } // hover
      .btn {
        margin-bottom: 20px;
      } // btn
      &__title {
        text-align: center;
        text-transform: uppercase;
      } // &__title
    } // viewPresentation
  } // orderAndPresentation

  // @MEDIA ----------------------------
  @media only screen and(max-width: 1366px) {
    $mainActionBlockScale: .7;
    transform: scale($mainActionBlockScale);
  } // 1366
  // ===================================

} // mainActionBlock
.ourClientsBlock {
  $speedMovePageBlock: .5s;
  margin-top: auto;
  transition: transform $speedMovePageBlock;
  .ourClients {
    $ourClientItemSize: 165px !important;
    $clientsUrlFontSize: 17px;
    $clientsTitleFontSize: 17px;
    $clientsFollowerFontSize: 35px;
    $followerDescrFontSize: 12px;
    $itemDescrBottomPos: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: auto;
    &__title {
      font-size: $clientsUrlFontSize;
      margin-bottom: 40px;
    } // &__title
    .ourClientsSlider {
      display: flex;
      width: 100%;
      .slick-slide {
        outline: none;
        &>div {
          display: flex;
          justify-content: center;
        }
      } // slick-slide
      // ============================
      &__item {
        position: relative;
        background-image: url(./assets/img/our_clients_img.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 7px;
        border: 2px solid #777778;
        color: white;
        margin: 0 10px;
        min-width: $ourClientItemSize;
        min-height: $ourClientItemSize;
        overflow: hidden;
        transition: border-color .3s;
        text-align: center;
        height: $ourClientItemSize;
        width: $ourClientItemSize;
        &:hover {
          cursor: pointer;
          border-color: $mainColor;
          &::after {
            //transform: translateX(100%);
            opacity: 0;
          } // after
          &::before {
            //transform: translateX(0);
            opacity: 1;
          }
        } // hover
        &::after {
          background: rgba(0, 0, 0, 0.56);
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          transition: opacity .3s, transform .3s;
          height: 100%;
          width: 100%;
          z-index: 2;
        } // after
        &::before {
          background: rgba(0, 0, 0, 0.25);
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          transition: opacity .3s, transform .3s;
          //transform: translateX(100%);
          opacity: 0;
          height: 100%;
          width: 100%;
          z-index: 1;
        } // before
        .itemDescr {
          bottom: $itemDescrBottomPos;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
          z-index: 3;
          .clientsUrl {
            font-size: $clientsUrlFontSize;
            display: inline-block;
            position: relative;
            margin-bottom: 5px;
            &::after {
              content: '';
              display: block;
              background: white;
              bottom: 0;
              opacity: $unactiveElOpacity;
              position: absolute;
              left: 0;
              height: 1px;
              width: 100%;
            } // after
          } // clientsUrl
          .clientsFollower {
            font-size: $clientsFollowerFontSize;
          } // clientsFollower
          .followerDescr {
            margin-top: -5px;
            font-size: $followerDescrFontSize;
          } // followerDescr
        } // itemDescr
        // slider styles --------------
      } // __item
    } // ourClientsSlider

    // @MEDIA ---------------------------
    @media only screen and( max-width: 1366px ) {
      $ourClientItemSize: 120px !important;
      $clientsUrlFontSize: 14px;
      $clientsUrlFontSize: 14px;
      $clientsFollowerFontSize: 28px;
      $followerDescrFontSize: 12px;
      $itemDescrBottomPos: 25px;
      &__title {
        font-size: $clientsUrlFontSize;
        margin-bottom: 20px;
      } // &__title
      .ourClientsSlider {
        &__item {
          min-width: $ourClientItemSize;
          min-height: $ourClientItemSize;
          height: $ourClientItemSize;
          width: $ourClientItemSize;
          .itemDescr {
            bottom: $itemDescrBottomPos;
            .clientsUrl {
              font-size: $clientsUrlFontSize;
            } // clientsUrl
            .clientsFollower {
              font-size: $clientsFollowerFontSize;
            } // clientsFollower
            .followerDescr {
              font-size: $followerDescrFontSize;
            } // followerDescr
          } // itemDescr
          // slider styles --------------
        } // __item
      } // ourClientsSlider
    } // 1366
    // ==================================

  } // ourClients
} // ourClientsBlock
// =============================================

// pageInstagramm ------------------------------
.mainVideoBlock {
  margin-bottom: 50px;
  margin-top: 90px;
  .mainVideo {
    //align-items: flex-start;
    display: flex;
    justify-content: space-between;
    height: 100%;
    &__video {
      align-items: center;
      border-radius: 7px;
      border: 2px solid $unActiveBorderColor;
      background: url(./assets/img/video_block_bg.jpg) no-repeat center/cover;
      display: flex;
      justify-content: center;
      min-width: 554px;
      margin-right: 35px;
      overflow: hidden;
      height: 390px;
      width: 554px;
    } // __video
    .mainVideoDescription {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100%;
      max-width: 570px;
      .videoTitleBlock {
        &__title {
          color: $mainColor;
          margin-bottom: 20px
        } // __title
        &__descr {
          color: #969797;
          font-size: 22px;
          min-height: 100%;
        } // __descr
      } // videoTitleBlock
      &__content {
      } // __content
    } // mainVideoDescription
  } // mainVideo
} // mainVideoBlock
.pageContentBlock {
  p {
    color: white;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
    &:nth-child(2) {
      margin-bottom: 60px;
    }
  } // p
  &__imgBlock {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    .imgBlockSlider {
      $pageInstaSlItemWidth: 262px !important;
      $pageInstaSlItemHeight: 165px !important;
      $clientsUrlFontSize: 17px;
      display: flex;
      width: 100%;
      &__item {
        position: relative;
        background-image: url(./assets/img/our_clients_img.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 7px;
        border: 2px solid #777778;
        color: white;
        margin: 0 10px;
        min-width: $pageInstaSlItemWidth;
        min-height: $pageInstaSlItemHeight;
        overflow: hidden;
        transition: border-color .3s;
        text-align: center;
        height: $pageInstaSlItemHeight;
        width: $pageInstaSlItemWidth;
        &:hover {
          cursor: pointer;
          border-color: $mainColor;
          &::after {
            //transform: translateX(100%);
            opacity: 0;
          } // after
          &::before {
            //transform: translateX(0);
            opacity: 1;
          }
        } // hover
        &::after {
          background: rgba(0, 0, 0, 0.56);
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          transition: opacity .3s, transform .3s;
          height: 100%;
          width: 100%;
          z-index: 2;
        } // after
        &::before {
          background: rgba(0, 0, 0, 0.25);
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          transition: opacity .3s, transform .3s;
          //transform: translateX(100%);
          opacity: 0;
          height: 100%;
          width: 100%;
          z-index: 1;
        } // before
        // slider styles --------------
      } // __item
    } // imgBlockSlider
  } // __imgBlock
} // pageContentBlock
.viewFullScreenSliderBlock {
  $fsSliderWidth: 1100px;
  $fsSliderHeight: 800px;
  display: none;

  justify-content: center;
  align-items: center;
  @include posFixedFullScreen(2000);
  &__overlay {
    @include fullScreenOverlay(black, .7, 10);
  } // __overlay
  .fullScreenSliderBlock {
    width: $fsSliderWidth;
    height: $fsSliderHeight;
    position: relative;
    .closeBtn {
      &-fullScreenSlider {
        top: -8px;
        right: -60px;
        position: absolute;
      } // -fullScreenSlider
    } // closeBtn
    .fullScreenSlider {
      &__item {
        width: $fsSliderWidth;
        min-width: $fsSliderWidth;
        height: $fsSliderHeight;
        border-radius: 7px;
        border: 2px solid white;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      } // __item
    } // fullScreenSlider
    .mySliderBigArrow {
      $arrowWidth: 62px;
      $arrowHeight: 220px;
      $arrowOffset: -60px;
      $spanWidth: 100px;
      width: $arrowWidth;
      height: $arrowHeight;
      color: white;
      cursor: pointer;
      position: absolute;
      top: 50%;
      z-index: 1000;
      .arrowIcon {
        position: relative;
        width: $arrowWidth;
        height: $arrowHeight;
        .arrow {
          width: $arrowWidth;
          height: $arrowHeight;
          position: relative;
          span {
            display: block;
            background: $mainColor;
            height: 4px;
            position: absolute;
            transform-origin: 0 100%;
            width: $spanWidth;
            &:first-child {
              transform: rotate(-60deg);
              top: 50%;
              left: 1px;
            } // first-child
            &:last-child {
              transform: rotate(60deg);
              top: 50%
            } // last-child
          } // span
        } // arrow
      } // arrowIcon
      &-prev {
        left: $arrowOffset;
        transform: translateY(-50%);
      } // -prev
      &-next {
        right: $arrowOffset;
        transform-origin: center;
        transform: rotate(180deg) translateY(50%);
      } // -prev
    } // mySliderBigArrow
  } // fullScreenSliderBlock

} // viewFullScreenSliderBlock
// =============================================

// pageMarketing -------------------------------
.categoryBlock {
  margin-top: 40px;
  .categoryWrap {
    .category {
      $categoryBlockSize: 263px;
      $categoryNameFontSize: 20px;
      $categoryItemMargin: 14px;
      align-items: flex-start;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      &__item {
        align-items: center;
        display: flex;
        background: url(./assets/img/category_item.jpg);
        border-radius: 7px;
        border: 2px solid $unActiveBorderColor;
        justify-content: center;
        margin: $categoryItemMargin;
        position: relative;
        width: $categoryBlockSize;
        height: $categoryBlockSize;
        &:hover {
          cursor: pointer;
          border-color: $mainColor;
          &::after {
            //transform: translateX(100%);
            opacity: 0;
          } // after
          &::before {
            //transform: translateX(0);
            opacity: 1;
          }
        } // hover
        &::after {
          background: rgba(0, 0, 0, 0.56);
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          transition: opacity .3s, transform .3s;
          height: 100%;
          width: 100%;
          z-index: 2;
        } // after
        &::before {
          background: rgba(0, 0, 0, 0.25);
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          transition: opacity .3s, transform .3s;
          //transform: translateX(100%);
          opacity: 0;
          height: 100%;
          width: 100%;
          z-index: 1;
        } // before
        .categoryName {
          color: white;
          font-size: $categoryNameFontSize;
          position: relative;
          z-index: 3;
          text-transform: uppercase;
        } // categoryName
      } // __item
    } // category
  } // categoryWrap
} // categoryBlock
.choosingFinPlan {
  $choosingFinPlanPaddingTop: 150px;
  // -----------------------
  $additParamItemSize: 165px;
  $additParamItemMargin: 15px;
  // -----------------------
  $finPlansItemHeight: 416px;
  $finPlansItemRatio: 1.15;
  $finPlansItemWidth: $finPlansItemHeight / $finPlansItemRatio;
  $finPlansItemMargin: 25px;
  $finPlansItemPadding: 45px 20px;
    // ---------------------
    $finPlansItemNameFontSize: 45px;
    $finPlansItemTagFontSize: 22px;
    $finPlansItemTagFontPrice: 55px;
  // -----------------------

  display: none;

  justify-content: center;
  align-items: flex-start;
  padding-top: $choosingFinPlanPaddingTop;
  @include posFixedFullScreen(3000);
  &__overlay {
    @include fullScreenOverlay(black, .7, 10);
  } // __overlay
  .actionForCategory {
    opacity: 0;
    transform: translateY(-200%);
    transition: opacity .3s, transform .3s;
    position: relative;
    z-index: 10;
    &-goOutsideTop {
      opacity: 1;
      transform: translateY(0);
    } // -goOutsideTop
    .closeBtn {
      &-actionForCategory {
        top: -8px;
        right: -60px;
        position: absolute;
      } // -actionForCategory
    } // closeBtn
    .additionalParameters {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      &__item {
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 7px;
        border: 2px solid $unActiveBorderColor;
        background-image: url(./assets/img/category_item.jpg);
        @include backgroundOptions(no-repeat, center, cover);
        position: relative;
        width: $additParamItemSize;
        height: $additParamItemSize;
        margin-right: $additParamItemMargin;
        &:last-child {
          margin-right: 0;
        } // last-child
        &:hover {
          cursor: pointer;
          border-color: $mainColor;
          &::after {
            //transform: translateX(100%);
            opacity: 0;
          } // after
          &::before {
            //transform: translateX(0);
            opacity: 1;
          }
        } // hover
        &::after {
          background: rgba(0, 0, 0, 0.56);
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          transition: opacity .3s, transform .3s;
          height: 100%;
          width: 100%;
          z-index: 2;
        } // after
        &::before {
          background: rgba(0, 0, 0, 0.25);
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          transition: opacity .3s, transform .3s;
          //transform: translateX(100%);
          opacity: 0;
          height: 100%;
          width: 100%;
          z-index: 1;
        } // before
      } // __item
    } // additionalParameters
    .finPlans {
      align-items: center;
      display: flex;
      justify-content: space-between;
      &Item {
        border-radius: 7px;
        border: 2px solid $unActiveBorderColor;
        display: flex;
        flex-direction: column;
        @include backgroundOptions(no-repeat, center, cover);
        justify-content: space-between;
        margin-right: $finPlansItemMargin;
        position: relative;
        padding: $finPlansItemPadding;
        text-align: center;
        height: $finPlansItemHeight;
        width: $finPlansItemWidth;
        p {
          color: white;
          line-height: 1;
          position: relative;
          z-index: 10;
        } // p
        &__name {
          font-size: $finPlansItemNameFontSize;
          font-weight: bold;
          text-transform: uppercase;
        } // __name
        &Tag {
          font-size: $finPlansItemTagFontSize;
          &__item {
            margin-bottom: 15px;
            &:last-child {
              margin-bottom: 0;
            }
          } // item
        } // __tag
        &__price {
          font-size: $finPlansItemTagFontPrice;
          font-weight: bold;
        } // __pice
        .btn {
          position: relative;
          z-index: 10;
          &-order {
            margin: 0 auto;
          } // -order
        } // btn
        &:last-child {
          margin-right: 0;
        } // last-child
        &:hover {
          cursor: pointer;
          border-color: $mainColor;
          &::after {
            //transform: translateX(100%);
            opacity: 0;
          } // after
          &::before {
            //transform: translateX(0);
            opacity: 1;
          }
        } // hover
        &::after {
          background: rgba(0, 0, 0, 0.56);
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          transition: opacity .3s, transform .3s;
          height: 100%;
          width: 100%;
          z-index: 2;
        } // after
        &::before {
          background: rgba(0, 0, 0, 0.25);
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          transition: opacity .3s, transform .3s;
          //transform: translateX(100%);
          opacity: 0;
          height: 100%;
          width: 100%;
          z-index: 1;
        } // before
      } // __item
    } // finPlans
  } // actionForCategory
} // choosingFinPlan
// =============================================

.mainFooter {
  $footerFontSize: 14px;
  font-size: $footerFontSize;
  padding: 30px 0;
  &-insta {
    padding: 30px 0;
  } // -insta
  .footerContent {
    opacity: $unactiveElOpacity;
    text-align: center;
    .copyright {

    } // copyright
    .createdBy {
      a {
        color: white;
        display: inline-block;
        text-decoration: underline;
        text-transform: none;
      } // span
    } // createdBy
  } // footerContent
} // mainFooter

