@import "reset";
@import "var";
@import "mixin";
@import "custom";

.mainHeader {
  .topSiteBar {
    height: 30px;
    background: $colorTopSiteBar;
  } // topSiteBar
  .changeLangBlock {
    align-items: center;
    border-bottom: 1px solid $colorThird;
    display: flex;
    height: 30px;
    justify-content: flex-end;
    .changeLang {
      font-family: $fontFamily;
      font-size: 14px;
      &::before {
        content: '';
        background-image: url(assets/img/lang.png);
        background-position: -66px 0;
        display: inline-block;
        width: 22px;
        height: 14px;
      } // bofore
      &::after {
        content: 'EN';
        color: $colorLink;
      } // after
    } // changeLang
    &:hover {
      cursor: pointer;
    } // hover
  } // changeLangBlock
  .logoBlock {
    padding: 30px;
    display: flex;
    align-items: center;
    &>a {
      display: block;
      margin-right: auto;
    } // a
    .logo {
      align-items: center;
      display: flex;
      &__img {
        width: 70px;
        margin-right: 10px;
      } // __img
    } // logo
    .userAction {
      display: flex;
      &__item {
        margin-right: 25px;
        display: flex;
        align-items: center;
        line-height: 1.2;
        font-weight: 400;
        .icon {
          background-image: url(assets/img/user-action-img.png);
          background-repeat: no-repeat;
          width: 35px;
          height: 35px;
          margin-right: 10px;
          &-help {
            background-position: -35px 0;
          } // -help
          &-signUp {
            background-position: -70px 0px;
          } // -signUp
          &-cart {
            background-position: -105px 0;
          } // -cart
        } // icon
        .text {
          &-help {
            p {
              &:first-child {
                color: $colorOrange;
                font-weight: bold;
              } // first-child
              &:last-child {
                color: $colorThird;
              } //
            } // p
          } // -help
          &-signUp {
            p {
              &:first-child {
                color: $colorMain;
              } // first-child
              &:last-child {
                color: $colorThird;
              } //
            } // p
          } // -signUp
          &-signUp {
            p {
                color: $colorThird;
            } // p
          } // -signUp
        } // text
        &:last-child {
          margin-right: 0;
        } // last-child
        &-help {
        &:hover {
          .icon {
            &-help {
              background-position: -35px -35px;
            } // -help
          } // icon
        } // hover
      } // -help
        &-signUp {
          &:hover {
            .icon {
              &-signUp {
                background-position: -70px -35px;
              } // signUp
            } // icon
          } // hover
        } // -signUp
        &-cart {
          &:hover {
            .icon {
              &-cart {
                background-position: -105px -35px;
              } // -cart
            } // icon
          } // hover
        } // -cart
        &:hover {
          cursor: pointer;
          .text {
            p {
              &:nth-child(2) {
                color: black;
              }
            } // p
          } // text
        } // hover
      } // __item
    } // userAction
  } // logoblock
  .mainNav {
    .mainMenu {
      display: flex;
      font-size: $fontSizeMenu;
      font-weight: $fontWeightMenuHeader;
      margin-left: 30px;
      margin-bottom: 5px;
      &>li {
        border-left: 1px solid $colorThird;
        border-top: 2px solid transparent;
        position: relative;
        &:last-child {
          border-right: 1px solid $colorThird;
        } // last-child
        &:first-child {
          &::after {
            content: '';
            display: block;
            bottom: -2px;
            border-top: 4px solid white;
            position: absolute;
            width: 100%;
            z-index: 2;
          } // after
        } // first-child
        a {
          text-align: center;
          padding: 10px 30px;
          height: 100%;
          &.activePage {
            border-top: 2px solid $colorMain;
          } // activePage
        } // a
        &:hover {
          border-top: 2px solid $colorMain;
          .subMenu {
            display: block;
          } // subMenu
        } // hover
        .subMenu {
          display: none;
          background: white;
          border: 1px solid $colorThird;
          position: absolute;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
          padding: 15px 5px;
          left: -1;
          width: 220px;
          z-index: 1;
          li {
            font-weight: 400;
            a {
              text-align: left;
              display: block;
              padding: 10px 30px;
              color: $colorMain;
              &:hover {
                background: $colorMenuItemHover;
                text-decoration: underline;
              } //
            } // a
          } // li
        } // __subMenu
      } // li
    } // mainMenu
  } // mainNav
  .underMenuSiteBar {
    display: flex;
    height: 40px;
    &__itemLeft {
      background: $colorUnderMenuBlockDarken;
      width: 100%;
      position: relative;
      &::after {
        border-top: 40px solid $colorUnderMenuBlockDarken;
        border-right: 40px solid transparent;
        content: '';
        position: absolute;
        top: 0;
        right: -40px;
        width: 0; height: 0;
        z-index: 1;
      } // after
    } // __itemLeft
    &__itemRight {
      background: $colorUnderMenuBlockLighten;
      min-width: 30%;
      position: relative;
    } // __itemRight
  } // underMenuSiteBar
} // mainHeader

.mainContent {
  padding-top: 15px;
  .mainBuner {
    display: flex;
    background: url(assets/img/main-buner.jpg) no-repeat center / cover;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    height: 30vw;
    width: 100%;
    a {
      display: inline-block;
      h1 {
        margin-bottom: 20px;
      } // h1
      p {
        color: #006196;
        margin-bottom: 20px;
        font-size: 35px;
      } // p
      button {
        margin: 0 auto;
      } // button
    } // a
  } // mainBuner
  .productblock {
    &__title {
      text-align: center;
      margin-bottom: 15px;
      position: relative;
      &::before {
        content: '';
        display: inline-block;
        background: $colorThird;
        position: absolute;
        height: 1px;
        left: 0;
        top: 5px;
        width: 43%;
      } // before
      &::after {
        content: '';
        display: inline-block;
        background: $colorThird;
        position: absolute;
        height: 1px;
        right: 0;
        top: 5px;
        width: 43%;
      } // after
    } // __title
    &__items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &>a {
        &:nth-child(5) {
          margin-right: auto;
          margin-left: 54px;
        } // nth-child(5)
      } // a
      .productItem {
        margin-bottom: 40px;
        &__img {
          height: 300px;
          overflow: hidden;
          margin-bottom: 15px;
          width: 300px;
        } //
        &__descr {
          font-size: $fontSizeInput;
          font-weight: bold;
        } // __descr
      } // productItem
    } // __item
  } // productBlock
} // mainContent

.mainFooter {
  border-top: 1px solid $colorThird;
  padding: 40px 0;
  .footerNav {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    li {
      border-right: 1px solid $colorThird;
      &:last-child {
        border: none;
      } // last-child
      a {
        padding: 0 10px;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        } // hover
      } // a
    } // li
  } // footerNav
  .contactBlock {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    &__item {
      h3 {
        margin-bottom: 7px;
      } // h3
      .social {
        &__item {
          width: 31px;
          height: 31px;
          background-image: url(assets/img/social.png);
          background-position: 0 0;
        } // __item
      } // social
      .subscribe {
        &__form {
          width: 400px;
          position: relative;
          input {
            padding-right: 70px;
            &::-webkit-input-placeholder { font-style: italic; }
            &:-moz-placeholder { font-style: italic; }
          } // input
          button {
            background-image: url(assets/img/mail.png);
            background-size: 22px 14px;
            background-position: center center;
            background-repeat: no-repeat;
            border-left: 1px solid $colorThird;
            position: absolute;
            right: 0;
            top: 0;
            width: 64px;
            height: 40px;
            &:hover {
              cursor: pointer;
            } // hover
          } // button
        } // __form
      } // subscribe
    } // __item
  } // contactBlock
  .bbb {
    margin-bottom: 40px;
    text-align: center;
    img {
      width: 100px;
      display: inline;
    } // img
  } // bbb
  .copyright {
    text-align: center;
  } // copyright
} // mainFooter





