html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  font: 16px 'Scada', Arial, sans-serif; }

body {
  font: 14px / 1.42 Helvetica, Arial, sans-serif;
  color: #333; }

b, strong {
  font-weight: bold; }

h1 {
  text-transform: uppercase;
  /* font-family: proxima_nova_rgbold; */
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 1px;
  line-height: 31px; }

h2 {
  font-size: 22px;
  text-transform: none;
  letter-spacing: 0;
  color: #000;
  font-weight: bold; }

h3 {
  font-family: 'Scada', Arial, sans-serif;
  font-size: 22px; }

select, input, textarea {
  border: 1px solid #c886e3;
  color: #eed3fa;
  padding: 9px 10px;
  outline: none;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1em;
  border-radius: 0;
  outline-offset: 0;
  font-size: inherit;
  width: inherit; }

select:hover, input:hover, textarea:hover {
  border-color: #eed3fa; }

select:focus, input:not([type="submit"]):focus, textarea:focus {
  outline: 2px solid #eed3fa; }

label {
  color: #eed3fa;
  font-size: inherit; }

label::before {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid #c886e3;
  margin-right: 10px;
  padding: 9px;
  background: #fff;
  background-clip: content-box;
  transition: .3s; }

input[type=checkbox]:checked + label {
  color: white; }

input[type=checkbox]:checked + label:before {
  padding: 2px 2px 2px 1px;
  border-color: #fff; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #e5bcf7;
  font-family: 'Helveica',sans-serif;
  font-size: inherit; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #e5bcf7;
  font-family: 'Raleway',sans-serif;
  font-size: inherit; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #e5bcf7;
  font-family: 'Raleway',sans-serif;
  font-size: inherit; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #e5bcf7;
  font-family: 'Raleway',sans-serif;
  font-size: inherit; }

.breadCrumbs {
  margin-bottom: 5px; }
  .breadCrumbs ul {
    position: relative; }
    .breadCrumbs ul li {
      display: inline-block; }
      .breadCrumbs ul li a {
        display: block;
        font: 12px 'Helvetica', Arial, sans-serif;
        text-decoration: none;
        color: #b7b7b7; }
        .breadCrumbs ul li a:after {
          content: "";
          position: relative;
          display: inline-block;
          width: 5px;
          height: 13px;
          background-image: url(../../assets/img/icons.png);
          background-position: -12px -46px;
          background-repeat: no-repeat;
          overflow: hidden;
          top: 3px;
          right: 0;
          margin-left: 7px;
          margin-right: 10px; }

/* 
 * Selecter v3.2.3 - 2014-10-24 
 * A jQuery plugin for replacing default select elements. Part of the Formstone Library. 
 * http://formstone.it/selecter/ 
 * 
 * Copyright 2014 Ben Plum; MIT Licensed 
 */
.selecter {
  position: relative;
  display: block;
  z-index: 1;
  /*max-width: 30%;*/ }

.selecter:focus {
  box-shadow: none;
  outline: none; }

.selecter,
.selecter * {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; }

.selecter,
.selecter *,
.selecter *:before,
.selecter *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.selecter-element {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  z-index: -1; }

.selecter-element,
.selecter-element:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent; }

.no-opacity .selecter-element {
  left: -999999px; }

.selecter-selected {
  position: relative;
  background: #9c5eb4;
  border: 1px solid #c886e3;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  margin: 0;
  overflow: hidden;
  padding: 10px 10px;
  text-overflow: clip;
  z-index: 2;
  line-height: 1em; }

.selecter-selected:after {
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #c886e3;
  content: '';
  display: block;
  margin: auto 0; }

.selecter-selected:hover {
  color: #fff;
  border: 1px solid #eed3fa; }

.selecter.disabled .selecter-selected:hover {
  color: #fff; }

.selecter-options {
  width: 100%;
  max-height: 260px;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #c886e3;
  border-top: 1px solid transparent;
  background-color: #9c5eb4;
  display: none;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
  padding: 0;
  z-index: 50; }

.selecter-options:hover {
  border: 1px solid #eed3fa; }

.selecter-options.scroller {
  position: absolute; }

.no-opacity .selecter-options {
  width: auto; }

.selecter-group {
  border-bottom: 1px solid rgba(200, 134, 227, 0);
  color: #cd9de1;
  display: block;
  font-size: 1px;
  padding: 10px 15px;
  text-transform: uppercase; }

.selecter-item {
  width: 100%;
  background: #9c5eb4;
  color: #cd9de1;
  cursor: pointer;
  display: block;
  font-size: 16px;
  margin: 0;
  overflow: hidden;
  padding: 10px 15px;
  text-decoration: none;
  text-overflow: ellipsis; }

.selecter-item.placeholder {
  display: none; }

.selecter-item.selected {
  background: #9c5eb4; }

.selecter-item.disabled {
  color: #faff51;
  cursor: default; }

.selecter-item:first-child {
  border-radius: 0; }

.selecter-item:last-child {
  border-bottom: 0;
  border-radius: 0 0 2px 2px; }

.selecter-item:hover,
.selecter-item.selected:hover {
  color: #cd9de1;
  background-color: #eed3fa; }

.selecter-item.disabled,
.selecter-item.disabled:hover {
  color: red;
  background-color: green; }

.selecter.open {
  z-index: 3; }

.selecter.open .selecter-selected {
  z-index: 51; }

.selecter.open .selecter-selected,
.selecter.focus .selecter-selected {
  background-color: #9c5eb4; }

.selecter.cover .selecter-options {
  border-width: 1px;
  top: 0; }

.selecter.cover.open .selecter-selected {
  z-index: 49; }

.selecter.bottom .selecter-options {
  top: auto;
  bottom: 100%;
  border-width: 1px 1px 0; }

.selecter.bottom .selecter-item:last-child {
  border: none; }

.selecter.bottom .cover .selecter-options {
  top: auto;
  bottom: 0; }

.selecter.multiple .selecter-options {
  width: 100%;
  position: static;
  border-width: 1px;
  display: block;
  box-shadow: none; }

.selecter.disabled .selecter-selected {
  background: #ff00c4;
  border-color: #cccccc;
  color: #cccccc;
  cursor: default; }

.selecter.disabled .selecter-options {
  background: #ffbc03;
  border-color: #cccccc; }

.selecter.disabled .selecter-group,
.selecter.disabled .selecter-item {
  border-color: #cccccc;
  color: #cccccc;
  cursor: default; }

.selecter.disabled .selecter-item.selected,
.selecter.disabled .selecter-item.selected:hover {
  background: #fafafa; }

.selecter.disabled .selecter-item,
.selecter.disabled .selecter-item:hover {
  color: #cccccc;
  background-color: #ffffff; }

.selecter-options.scroller {
  overflow: hidden; }

.selecter-options.scroller .scroller-content {
  max-height: 260px;
  padding: 0; }

@media screen and (max-width: 740px) {
  .selecter {
    max-width: 40%; } }

@media screen and (max-width: 500px) {
  .selecter {
    max-width: 100%; } }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

.mainWrapperContent {
  max-width: 979px;
  margin: 0 auto;
  height: inherit; }

.mainHeader {
  background: #f5f5f5; }
  .mainHeader .mainWrapperContent {
    position: relative;
    height: 124px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .mainHeader__logo {
    display: block;
    width: 245px;
    height: inherit;
    background: #e7ebed; }
    .mainHeader__logo .mainLogo {
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center; }
  .mainHeader__nav li {
    display: inline-block;
    padding-left: 36px; }
  .mainHeader__nav a {
    display: block;
    color: #333;
    margin: 5px 0; }
    .mainHeader__nav a span.menuItem {
      display: inline-block;
      border-bottom: 1px solid #bfc5ca;
      height: 18px; }
    .mainHeader__nav a:hover span {
      color: #1abc9c;
      border-color: #1abc9c; }
  .mainHeader__phone {
    position: absolute;
    top: 5px;
    right: 0;
    font-weight: 600;
    color: #5e7287; }
    .mainHeader__phone .sityCod {
      color: #1abc9c; }

.sliderSection {
  width: 100%;
  max-width: 100%;
  height: 347px; }
  .sliderSection .owl-carousel__item {
    position: relative; }
    .sliderSection .owl-carousel__item .slideTextBlock {
      width: 50vw;
      color: white;
      font-size: 14px;
      line-height: 1.41em;
      margin-left: 0;
      margin-right: 0;
      padding-right: 0;
      box-sizing: border-box;
      word-wrap: break-word;
      background: rgba(66, 83, 99, 0.8);
      position: absolute;
      bottom: 0;
      right: 0;
      height: 225px;
      padding-left: 21px;
      padding-bottom: 3px; }
      .sliderSection .owl-carousel__item .slideTextBlock__title {
        text-transform: uppercase;
        font-family: 'Scada',sans-serif;
        font-size: 26px;
        margin-top: 15px;
        margin-bottom: -1px;
        font-weight: 100;
        width: 320px;
        line-height: 1.3em; }
      .sliderSection .owl-carousel__item .slideTextBlock__descr p {
        width: 450px; }
  .sliderSection .owl-carousel .owl-item img {
    width: auto;
    height: 100%; }
  .sliderSection_nonSlider {
    height: auto;
    background: none; }
    .sliderSection_nonSlider img {
      display: block; }
  .sliderSection_displayNone {
    display: none; }

.sheduleAndVideo {
  width: 100%;
  display: flex; }
  .sheduleAndVideo .calendarBlock {
    width: 244.75px;
    position: relative;
    background: #1abc9c;
    padding: 28px; }
    .sheduleAndVideo .calendarBlock:after {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 12px 11.5px 0 11.5px;
      border-color: #1abc9c transparent transparent transparent;
      bottom: -12px;
      left: 50%;
      margin-left: -11.5px;
      z-index: 500; }
    .sheduleAndVideo .calendarBlock:hover {
      background: #1dd2af; }
    .sheduleAndVideo .calendarBlock:hover:after {
      border-color: #1dd2af transparent transparent transparent; }
    .sheduleAndVideo .calendarBlock__shedule .header {
      margin-bottom: 13px; }
      .sheduleAndVideo .calendarBlock__shedule .header h3 {
        color: white; }
        .sheduleAndVideo .calendarBlock__shedule .header h3:before {
          content: "";
          position: relative;
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-right: 10px;
          background-image: url(../../assets/img/icons.png);
          background-position: -125px 0;
          background-repeat: no-repeat;
          overflow: hidden;
          left: 0; }
    .sheduleAndVideo .calendarBlock__shedule .description {
      color: #a6ffed;
      line-height: 20px; }
  .sheduleAndVideo .videoBlock {
    width: 734.25px; }
    .sheduleAndVideo .videoBlock__wrap {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden; }
      .sheduleAndVideo .videoBlock__wrap iframe, .sheduleAndVideo .videoBlock__wrap object, .sheduleAndVideo .videoBlock__wrap embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }

.dailyShedule {
  display: flex; }
  .dailyShedule__item {
    width: 244.75px;
    padding: 28px;
    border: 1px solid #eee; }
    .dailyShedule__item:hover {
      cursor: pointer;
      background: #f0f7f6; }
    .dailyShedule__item .itemTitle {
      font-size: 16px;
      margin-bottom: 18px;
      font-weight: bold; }
    .dailyShedule__item .itemShedule .eventLine {
      display: flex;
      justify-content: flex-start; }
      .dailyShedule__item .itemShedule .eventLine__time {
        float: left;
        font-weight: bold;
        line-height: 20px; }
      .dailyShedule__item .itemShedule .eventLine__descr {
        padding-left: 7px;
        color: #7c7c7c; }
    .dailyShedule__item .itemMore {
      text-align: center;
      padding-top: 18px;
      color: #7c7c7c;
      font-size: 20px; }
      .dailyShedule__item .itemMore:hover {
        cursor: pointer; }

.calbackFormAndAbout {
  display: flex; }
  .calbackFormAndAbout .aboutInstitute {
    width: 244.75px;
    padding: 28px;
    border: 1px solid #eee; }
    .calbackFormAndAbout .aboutInstitute:hover {
      cursor: pointer;
      background: #f0f7f6; }
    .calbackFormAndAbout .aboutInstitute .header {
      margin-bottom: 13px;
      text-align: center; }
      .calbackFormAndAbout .aboutInstitute .header h3:before {
        content: "";
        position: relative;
        display: block;
        height: 64px;
        width: 72px;
        background-image: url(../../assets/img/icons.png);
        background-position: 0 -319px;
        background-repeat: no-repeat;
        overflow: hidden;
        left: 56px;
        margin-bottom: 28px; }
    .calbackFormAndAbout .aboutInstitute .description {
      color: #7c7c7c;
      line-height: 20px; }
  .calbackFormAndAbout .callbackForm {
    display: flex; }
    .calbackFormAndAbout .callbackForm__descr {
      width: 244.75px;
      padding: 28px;
      background: #904faa; }
      .calbackFormAndAbout .callbackForm__descr .header {
        margin-bottom: 28px;
        text-align: center; }
        .calbackFormAndAbout .callbackForm__descr .header h3 {
          color: white; }
          .calbackFormAndAbout .callbackForm__descr .header h3:before {
            content: "";
            position: relative;
            display: inline-block;
            height: 18px;
            width: 27px;
            margin-right: 10px;
            background-image: url(../../assets/img/icons.png);
            background-position: -17px -46px;
            background-repeat: no-repeat;
            left: 0; }
      .calbackFormAndAbout .callbackForm__descr .description {
        color: #cd9de1;
        line-height: 20px; }
    .calbackFormAndAbout .callbackForm__mail {
      width: 489.5px;
      padding: 28px;
      background: #9c5eb4;
      font-size: 16px; }
    .calbackFormAndAbout .callbackForm .mailForm__all {
      margin-bottom: 15px;
      font-size: 16px;
      width: 100%; }
      .calbackFormAndAbout .callbackForm .mailForm__all_submit input {
        width: auto; }
        .calbackFormAndAbout .callbackForm .mailForm__all_submit input:hover {
          cursor: pointer;
          width: auto;
          color: #9c5eb4;
          background: #eed3fa; }
      .calbackFormAndAbout .callbackForm .mailForm__all input[type="checkbox"] {
        display: none; }
      .calbackFormAndAbout .callbackForm .mailForm__all label span {
        color: #eed3fa;
        border-bottom: 1px solid #eed3fa;
        height: 18px; }
        .calbackFormAndAbout .callbackForm .mailForm__all label span a {
          color: inherit; }
    .calbackFormAndAbout .callbackForm .mailForm .twoField {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .calbackFormAndAbout .callbackForm .mailForm .twoField .mailForm__all {
        margin-right: 15px; }
        .calbackFormAndAbout .callbackForm .mailForm .twoField .mailForm__all:last-child {
          margin: 0; }

.news {
  display: flex; }
  .news__control {
    padding: 28px;
    width: 244.75px;
    position: relative;
    background: #e7ebed; }
    .news__control .header h3:before {
      content: "";
      position: relative;
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 10px;
      background-image: url(../../assets/img/icons.png);
      background-position: -87px -585px;
      background-repeat: no-repeat;
      overflow: hidden;
      left: 0; }
  .news .newsList {
    padding: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px; }
    .news .newsList__date {
      color: #7c7c7c;
      margin-right: 20px; }

.educationAndClub {
  display: flex; }
  .educationAndClub .education {
    width: 489.5px;
    background: #3498db;
    display: flex; }
    .educationAndClub .education:hover {
      cursor: pointer;
      background: #4aa3df; }
    .educationAndClub .education__header {
      padding: 28px;
      width: 244.75px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .educationAndClub .education__header .header {
        color: white; }
        .educationAndClub .education__header .header h3 {
          text-align: center;
          position: relative; }
          .educationAndClub .education__header .header h3:after {
            content: "";
            position: relative;
            display: block;
            height: 64px;
            width: 58px;
            left: 70px;
            top: 15px;
            background-image: url(../../assets/img/icons.png);
            background-position: 0 -246px;
            background-repeat: no-repeat;
            overflow: hidden; }
    .educationAndClub .education__description {
      padding: 28px;
      width: 244.75px; }
      .educationAndClub .education__description .description {
        color: white;
        line-height: 20px; }
  .educationAndClub .club {
    width: 489.5px;
    background: #e67e22;
    display: flex; }
    .educationAndClub .club:hover {
      cursor: pointer;
      background: #e98b39; }
    .educationAndClub .club__header {
      padding: 28px;
      width: 244.75px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .educationAndClub .club__header .header {
        color: white; }
        .educationAndClub .club__header .header h3 {
          text-align: center; }
          .educationAndClub .club__header .header h3:after {
            content: "";
            position: relative;
            display: block;
            height: 62px;
            width: 62px;
            left: 15px;
            top: 15px;
            background-image: url(../../assets/img/icons.png);
            background-position: -60px -184px;
            background-repeat: no-repeat;
            overflow: hidden; }
    .educationAndClub .club__description {
      padding: 28px;
      width: 244.75px; }
      .educationAndClub .club__description .description {
        color: white;
        line-height: 20px; }

.paySystem {
  padding: 14px;
  text-align: center;
  background: #1c3d50; }
  .paySystem__icon {
    display: inline-block; }

.footer {
  display: flex; }
  .footer .footerMenu {
    width: 489.5px;
    background: #2c3e50;
    padding: 28px; }
    .footer .footerMenu__header {
      margin-bottom: 13px; }
      .footer .footerMenu__header h3 {
        color: white; }
    .footer .footerMenu__links {
      display: flex; }
      .footer .footerMenu__links ul li {
        padding: 5px 0; }
        .footer .footerMenu__links ul li:first-child {
          padding-top: 0; }
        .footer .footerMenu__links ul li a {
          display: block;
          color: #6a7f94;
          font-weight: bold; }
          .footer .footerMenu__links ul li a:hover {
            color: #8899a9;
            text-decoration: underline; }
      .footer .footerMenu__links .menu1 {
        margin-right: 28px; }
  .footer .footerContacts {
    width: 244.75px;
    background: #34495e;
    color: #6a7f94;
    padding: 28px; }
    .footer .footerContacts__header {
      margin-bottom: 13px; }
      .footer .footerContacts__header h3 {
        color: white; }
    .footer .footerContacts__data {
      line-height: 25px; }
  .footer .footerSocial {
    width: 244.75px;
    background: #3f556c;
    color: #6a7f94;
    padding: 28px; }
    .footer .footerSocial p {
      line-height: 25px; }
    .footer .footerSocial__header {
      margin-bottom: 13px; }
      .footer .footerSocial__header h3 {
        color: white; }
    .footer .footerSocial__icon {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 13px; }
      .footer .footerSocial__icon .iconItem {
        position: relative;
        background: #495e73;
        height: 30px;
        width: 30px;
        margin-right: 9px;
        border-radius: 15px;
        cursor: pointer;
        display: inline-block; }
        .footer .footerSocial__icon .iconItem__vk circle {
          fill: transparent; }
        .footer .footerSocial__icon .iconItem__vk:hover circle {
          fill: #517397; }
        .footer .footerSocial__icon .iconItem__vk:after {
          content: "";
          position: absolute;
          display: block;
          width: 12px;
          height: 13px;
          background-image: url(../../assets/img/icons.png);
          background-position: -108px -33px;
          background-repeat: no-repeat;
          overflow: hidden;
          top: 8px;
          left: 9px; }
        .footer .footerSocial__icon .iconItem__google circle {
          fill: transparent; }
        .footer .footerSocial__icon .iconItem__google:hover circle {
          fill: #ac4b4b; }
        .footer .footerSocial__icon .iconItem__google:after {
          content: "";
          position: absolute;
          display: block;
          width: 17px;
          height: 16px;
          background-image: url(../../assets/img/icons.png);
          background-position: -34px -1px;
          background-repeat: no-repeat;
          overflow: hidden;
          top: 7px;
          left: 8px; }
        .footer .footerSocial__icon .iconItem__youtube circle {
          fill: transparent; }
        .footer .footerSocial__icon .iconItem__youtube:hover circle {
          fill: #CC191E; }
    .footer .footerSocial__copyright {
      color: #6a7f94; }
    .footer .footerSocial__dzen p {
      color: white; }
      .footer .footerSocial__dzen p span {
        color: #1abc9c; }

.footerCopyright {
  background: #2c3e50;
  text-align: left;
  padding: 14px 28px;
  color: white; }
  .footerCopyright p {
    color: white;
    font-size: 11px; }
    .footerCopyright p span:hover {
      border-bottom: 1px solid white; }
    .footerCopyright p span a {
      color: inherit;
      font-size: inherit; }

.mainLayout {
  display: flex;
  width: 100%; }
  .mainLayout__sidebar {
    width: 244.75px;
    background: #f5f5f5; }
  .mainLayout__content {
    width: 734.25px; }

.aboutInstitute {
  padding: 28px;
  padding-bottom: 56px;
  background: #1abc9c; }
  .aboutInstitute .header {
    margin-bottom: 28px; }
    .aboutInstitute .header h3 {
      color: white; }
  .aboutInstitute__links ul li a {
    color: #a6ffed;
    display: block;
    text-decoration: underline;
    padding: 4px 8px 5px 0px; }
    .aboutInstitute__links ul li a:hover {
      color: white; }
    .aboutInstitute__links ul li a.activeLink {
      color: white;
      text-decoration: none; }
  .aboutInstitute__links ul .teachers__teacher {
    display: none;
    list-style-type: disc;
    position: relative;
    left: 15px;
    color: #a6ffed; }
    .aboutInstitute__links ul .teachers__teacher a {
      text-decoration: underline;
      color: #a6ffed; }
    .aboutInstitute__links ul .teachers__teacher_active {
      display: block; }

.mainNews {
  padding: 28px; }
  .mainNews__header {
    margin-bottom: 28px; }
    .mainNews__header h3 {
      color: #606060; }
  .mainNews__links ul {
    display: block;
    list-style-type: disc; }
    .mainNews__links ul li {
      margin: 0 0 0.25em 1.5em; }
      .mainNews__links ul li a {
        font-family: 'Helvetica', Arial, sans-serif;
        font-size: 14px;
        color: #0074ce; }
        .mainNews__links ul li a:hover {
          text-decoration: underline; }

.mainLayout__content {
  padding: 28px 56px; }

.titleBlock__header {
  margin-bottom: 32px; }

.titleBlock__content p {
  white-space: pre-line; }

.advantagesBlock {
  margin: 32px 0; }
  .advantagesBlock__item {
    padding-bottom: 20px; }
    .advantagesBlock__item p {
      position: relative;
      padding-left: 54px; }
      .advantagesBlock__item p:before {
        content: "";
        position: absolute;
        display: block;
        width: 77px;
        height: 77px;
        background-image: url(../../assets/img/icons.png);
        background-position: 0 -624px;
        background-repeat: no-repeat;
        overflow: hidden;
        left: -40px; }

.videoBlocks {
  margin-bottom: 32px; }
  .videoBlocks .videoBlock {
    width: 500px;
    margin-bottom: 5px; }
    .videoBlocks .videoBlock:last-child {
      margin-bottom: 0; }
    .videoBlocks .videoBlock__wrap {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden; }
      .videoBlocks .videoBlock__wrap iframe, .videoBlocks .videoBlock__wrap object, .videoBlocks .videoBlock__wrap embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }

.sertificatesBlock {
  margin-bottom: 32px; }
  .sertificatesBlock__item {
    display: inline-block;
    margin: 0 22px 22px 0; }

.documentsBlocks {
  color: #606060;
  margin-bottom: 32px; }
  .documentsBlocks h2, .documentsBlocks h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit; }
  .documentsBlocks h3, .documentsBlocks .h3 {
    font-size: 24px; }
  .documentsBlocks h2, .documentsBlocks .h2 {
    font-size: 30px; }
  .documentsBlocks p {
    margin: 0 0 10px;
    color: inherit; }
  .documentsBlocks ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px; }

/* task-goals */
.titleBlock__content .videoBlock {
  width: 489.5px;
  margin-bottom: 28px;
  margin-top: 28px; }
  .titleBlock__content .videoBlock__wrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden; }
    .titleBlock__content .videoBlock__wrap iframe, .titleBlock__content .videoBlock__wrap object, .titleBlock__content .videoBlock__wrap embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

/* Director */
.titleBlock__content .thumbnailsBlock {
  margin: 28px 0;
  width: 100%; }
  .titleBlock__content .thumbnailsBlock img {
    width: 100%;
    height: auto; }

/* Teachers */
.titleBlock__content .thumbnailsBlock {
  margin: 28px 0;
  width: 100%; }
  .titleBlock__content .thumbnailsBlock img {
    width: 100%;
    height: auto; }

.teachersBlock {
  width: 100%; }
  .teachersBlock__row {
    display: flex;
    justify-content: center; }
    .teachersBlock__row a {
      display: block;
      width: 50%;
      margin-right: 10px;
      margin-bottom: 10px; }
    .teachersBlock__row .oneTeacher {
      display: flex;
      justify-content: flex-start;
      color: #000000;
      width: 100%;
      height: 131px;
      background: #e7e7e7;
      font-size: 12px;
      padding: 22px 17px 22px 17px; }
      .teachersBlock__row .oneTeacher:hover {
        cursor: pointer;
        background: #1abc9c; }
      .teachersBlock__row .oneTeacher__photo {
        margin-right: 17px; }
      .teachersBlock__row .oneTeacher__name {
        font-size: 16px;
        font-weight: bold;
        font-family: Arial; }

/* theTeacher */
.titleBlock__content .theTeacher__photo img {
  margin: 0 32px 32px 0;
  float: left; }

.titleBlock__content .theTeacher__description {
  margin-bottom: 64px; }

.titleBlock__content .theTeacher__biographic {
  margin-bottom: 32px; }
  .titleBlock__content .theTeacher__biographic p {
    color: #333333;
    font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
    font-size: 13px; }

/* history */
.titleBlock {
  margin-bottom: 32px; }
  .titleBlock__content h2 {
    margin-bottom: 16px; }

/* club */
.titleBlock {
  margin-bottom: 32px; }
  .titleBlock__content {
    margin-bottom: 32px; }
  .titleBlock .imgBlock__header h2 {
    margin-bottom: 16px; }
  .titleBlock .imgBlock__description {
    margin: 32px 0; }
  .titleBlock .imgBlock__img img {
    width: 100%;
    height: auto; }

/* knowledge */
.titleBlock {
  margin-bottom: 32px; }
  .titleBlock__content {
    margin-bottom: 32px; }
    .titleBlock__content p {
      margin-bottom: 32px; }
    .titleBlock__content img {
      width: 100%;
      height: auto;
      margin-bottom: 32px; }

/* vacansies */
.titleBlock {
  margin-bottom: 32px; }
  .titleBlock__content {
    margin-bottom: 32px; }
    .titleBlock__content p {
      margin-bottom: 32px; }
    .titleBlock__content .vacanList {
      line-height: 30px;
      margin-bottom: 64px; }
      .titleBlock__content .vacanList li {
        position: relative;
        list-style: none;
        line-height: 20px;
        padding: 5px; }
        .titleBlock__content .vacanList li:before {
          content: '';
          position: relative;
          display: inline-block;
          width: 7px;
          height: 7px;
          background: #1abc9c;
          border-radius: 50%;
          margin-right: 9px; }

/* news */
.titleBlock {
  margin-bottom: 32px; }
  .titleBlock__content {
    margin-bottom: 32px; }
    .titleBlock__content > a {
      display: block; }
      .titleBlock__content > a:hover {
        cursor: pointer; }
        .titleBlock__content > a:hover .newsRow__date {
          background: #148f77; }
        .titleBlock__content > a:hover .newsRow__event {
          background: #1abc9c; }
    .titleBlock__content .newsRow {
      margin-bottom: 20px;
      display: flex; }
      .titleBlock__content .newsRow__date {
        padding: 20px;
        background: #e7ebed;
        color: #9C9C9C;
        width: 244.75px; }
      .titleBlock__content .newsRow__event {
        padding: 20px;
        width: 100%;
        background: #f4f6f7; }
        .titleBlock__content .newsRow__event a {
          color: #0074ce; }
          .titleBlock__content .newsRow__event a:hover {
            text-decoration: underline; }
