// margin -----------------------------
$blockTitleMarginBottom: 70px;
// ====================================


// fontSize ---------------------------
$menuFontSize: 18px;
$menuFontWeight: bold;
// ====================================

// colors -----------------------------
$mainColor: black;
$colorDark: #1D1D1B;
$colorYellow: #FAB900;
$colorUnActive: #C4C4C4;
$colorBgDark: #171717;
  // title
  $titleDark: $colorDark;
  // link
  $colorUnderLine: $colorYellow;
// =====================================