#brandsSparePartsPage {

  // pageHeaderBlock ---------------------------
  .pageHeaderBlock {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    margin-bottom: $outerBlockMargin;
    & .blockTitle {
      color: $colorDarkGray;
    } // blockTitle
    &__thumbnail {
      @include flex(center, flex-start);
      margin-bottom: $blockTitleMarginBottom;
      .innerImage {
        $imgSize: 70px;
        @include flex(center, center);
        border-radius: $mainBorderRadius;
        border: 1px solid $colorBorderLightGray;
        height: $imgSize;
        min-width: $imgSize;
        margin-right: 15px;
        padding: 10px;
        width: $imgSize;
      } // innerImage
    } // __thumbnail
    &__content {
      width: 100%;
      .headerBlockContent {
        @include flex(flex-start, flex-start);
        flex-direction: column;
        &__item {
          @include flex(center, space-between);
          border-bottom: 1px solid $colorBorderLightGray;
          flex-shrink: 1;
          max-height: 87px;
          position: relative;
          padding: 15px 0;
          width: 100%;
          &:last-child {
            border-bottom: none;
          } // last-child
          .innerBlockTitle {
            color: $colorColName;
            font-size: 14px;
            position: relative;
            text-align: center;
            .innerText {
              position: relative;
              &-link {
                color: $colorColName;
                text-decoration: none;
                &::before {
                  @include makeUnderline($colorLightGray, -1px);
                  width: 100%;
                } // before
              } // link
            } // innerText
            .additInfo {
              $infoBlockSize: 14px;
              $iconColor: $colorColName;
              @include flex(center, center);

              background: white;
              border-radius: 50%;
              border: 1px solid $iconColor;
              color: $iconColor;
              font-size: 10px;
              position: absolute;
              right: -15px;
              top: -5px;
              height: $infoBlockSize;
              width: $infoBlockSize;
              &:hover {
                border-color: $colorYellow;
                color: $colorYellow;
                cursor: pointer;
              } // hover
            } // additInfo
            &-description {
              color: $colorDarkGray;
              font-weight: bold;
              margin-bottom: 10px;
            } // -description
            &-bestProperty {
              $iconSize: 15px;
              @include flex(center, center);
              background: $colorGray;
              border-radius: 3px 3px 0 0;
              margin-bottom: 0;
              padding: 5px 0;
              width: 100%;
              .innerIcon {
                width: $iconSize;
                margin-right: 8px;
                svg {
                  fill: $colorYellow;
                } // svg
              } // innerIcon
              .innerTxt {
                color: white;
                font-size: 14px;
              } // innerTxt
            } // -bestProperty
          } // blockTitle
          .innerBlockContent {
            @include flex(center, flex-start);
            @include widthPercent(50%);
            padding-left: 15px;
            .assessment {
              @include flex(center, center);
              margin-right: 10px;
              &__value {
                color: $colorDarkGray;
                font-size: 20px;
                margin-right: 5px;
                text-decoration: none;
              } // __value
              &__icon {
                width: 15px;
                svg {
                  fill: $colorRatingYellow;
                } // svg
              } // icon
            } // assessment
            .imgFlag {
              margin-right: 5px;
            } // imgFlag
            .brandRatingInfo {
              color: $colorDarkGray;
              font-size: 16px;
              width: 100%;
              &__vote {
                .voteRatio {
                  @include flex(center, center);
                  &__review {
                    $voteRatioIconSize: 14px;
                    @include flex(center, center);
                    @include widthPercent(50%);
                    border-radius: $mainBorderRadius;
                    border: 1px solid transparent;
                    font-size: inherit;
                    padding: 5px 5px 5px 9px;
                    transition: background .2s, transform .2s;
                    max-width: 90px;
                    &:hover {
                      cursor: pointer;
                    } // hover
                    .voteRatioIcon {
                      width: 14px;
                    } // voteRatioIcon
                    &-positive {
                      border-color: $colorRatingGreen;
                      margin-right: 5px;
                      .voteRatioValue {
                        margin-left: 10px;
                      } // voteRatioValue
                      .voteRatioIcon {
                        svg {
                          fill: $colorRatingGreen;
                        } // svg
                      } // voteRatioIcon
                      &:hover {
                        background: $colorRatingGreen;
                        border-color: $colorRatingGreen;
                        box-shadow: 0 2px 0 darken($colorRatingGreen, 10);
                        color: white;
                        transform: translateY(-2px);
                        .voteRatioIcon {
                          svg {
                            fill: white;
                          } // svg
                        } // voteRatioIcon
                      } // hover
                    } // positive
                    &-negative {
                      border-color: $colorRatingRed;
                      .voteRatioValue {
                        margin-right: 10px;
                      } // voteRatioValue
                      .voteRatioIcon {
                        svg {
                          fill: $colorRatingRed;
                          transform: rotate(180deg);
                        } // svg
                      } // voteRatioIcon
                      &:hover {
                        background: $colorRatingRed;
                        border-color: $colorRatingRed;
                        box-shadow: 0 2px 0 darken($colorRatingRed, 10);
                        color: white;
                        transform: translateY(-2px);
                        .voteRatioIcon {
                          svg {
                            fill: white;
                          } // svg
                        } // voteRatioIcon
                      } // hover
                    } // positive
                  } // __review
                } // voteRatio
              } // __vote
            } // brandRatingInfo
            .ratingCircle {
              margin-bottom: 20px;
            } // ratingCircle
            .ratingDescription {
              line-height: 18px;
              margin-bottom: 15px;
              &__item {
                text-align: center;
                white-space: nowrap;
                span {
                  font-weight: bold;
                } // span
              } // item
            } // ratingDescription
            .totalRespondents {
              color: $colorColName;
              margin-top: 10px;
              text-align: center;
              span {
                font-weight: bold;
              } // span
            } // totalRespondents
            .userAssessment {
              @include flex(center, flex-start);
              flex-direction: column;
              &__item {
                .ratingsBlock {
                  $titleFontSize: 14px;
                  $titleColor: $colorDarkGray;
                  $ratingFontSize: 12px;
                  $ratingColor: $colorDarkGray;
                  $starsIconSize: 12px;

                  @include flex(center, flex-end);
                  margin-bottom: 5px;
                  &:last-child {
                    margin-bottom: 0;
                  } // last-child
                  &__item {
                    margin-right: 5px;
                    &:last-child {
                      margin-right: 0;
                    } // last-child
                    &-title {
                      color: $titleColor;
                      font-size: $titleFontSize;
                      white-space: nowrap;
                    } // -title
                    &-stars {
                      .starsIconBlock {
                        @include flex(center, center);
                        &__icon {
                          display: block;
                          margin-right: 1px;
                          height: $starsIconSize;
                          width: $starsIconSize;
                          &:last-child {
                            margin-right: 0;
                          } // last-child
                          svg {
                            fill: transparent;
                            stroke-width: 3px;
                            stroke: $colorRatingGreen;
                            &.fill {
                              fill: $colorRatingGreen;
                            } // -fill
                          } // starsIcon
                          &-fillGreen {
                            svg {
                              fill: $colorRatingGreen !important;
                              stroke: $colorRatingGreen !important;
                            } // svg
                          } // -fillGreen
                          &-fillYellow {
                            svg {
                              fill: $colorRatingYellow !important;
                              stroke: $colorRatingYellow !important;
                            } // svg
                          } // -fillYellow
                          &-fillRed {
                            svg {
                              fill: $colorRatingRed !important;
                              stroke: $colorRatingRed !important;
                            } // svg
                          } // -fillRed
                          &-strokeGreen {
                            svg {
                              fill: transparent !important;
                              stroke: $colorRatingGreen !important;
                            } // svg
                          } // -strokeGreen
                          &-strokeYellow {
                            svg {
                              fill: transparent !important;
                              stroke: $colorRatingYellow !important;
                            } // svg
                          } // -strokeYellow
                          &-strokeRed {
                            svg {
                              fill: transparent !important;
                              stroke: $colorRatingRed !important;
                            } // svg
                          } // -strokeRed
                        } // icon
                        &__value {
                          margin-left: 10px;
                        } // __value
                      } // starsIconBlock
                    } // -stars
                    &-rating {
                      color: $titleColor;
                      font-size: $titleFontSize;
                    } // rating
                  } // ____item
                } // ratingsBlock
                &-average {
                  margin: 25px 0;
                  .ratingsBlock {
                    $titleFontSize: 20px;
                    $titleColor: $colorDarkGray;
                    $ratingFontSize: 20px;
                    $ratingColor: $colorDarkGray;
                    $starsIconSize: 20px;

                    align-items: flex-start;
                    justify-content: center;
                    &__item{
                      &-title {
                        color: $titleColor;
                        font-size: $titleFontSize;
                        margin-bottom: 5px;
                        &::after {
                          content: attr(data-value);
                          margin-left: 6px;
                        } // after
                      } // -title
                      &-stars {
                        margin-right: 8px;
                        .starsIconBlock {
                          &__icon {
                            height: $starsIconSize;
                            width: $starsIconSize;
                          } // __icon
                        } // starsIconBlock
                      } // stars
                      &-rating {
                        color: $titleColor;
                        font-size: $titleFontSize;
                      } // -rating
                    } // __item
                  } // ratingBlock
                } // -average
              } // __ratings
            } // userAssessment
            .diagramBlock {
              margin-top: 20px;
              width: 100%;
            } // diagramBlock
            .brandSparePartsInfoBlock {
              $blockInnerMargin: 15px;
              &__header {
                $thumbWidth: 60px;
                $thumbHeight: 50px;
                @include flex(center, flex-start);
                margin-bottom: $blockInnerMargin;
                .blockThumbnail {
                  border: 1px solid $colorBorderLightGray;
                  border-radius: $mainBorderRadius;
                  margin-right: 15px;
                  padding: 5px;
                  height: $thumbHeight;
                  width: $thumbWidth;
                  img {
                    @include imgFit(contain, center);
                  } // img
                } // blockThumbnail
                .blockInfo {
                  &__item {
                    margin-bottom: 3px;
                    white-space: nowrap;
                    .innerText {
                    } // innerText
                    &:last-child {
                      margin-bottom: 0;
                    } // last-child
                    &-brandName {
                      color: $colorDarkGray;
                      font-size: 16px;
                      font-weight: bold;
                    } // -brandName
                    &-country {
                      @include flex(center, flex-start);
                      .imgFlag {
                        transform: scale(.8);
                      } // imgFlag
                      .innerText {
                        color: $colorColName;
                        font-size: 13px;
                      } // innerText
                    } // country
                    &-link {
                      color: $colorLinkAside;
                      font-size: 14px;
                      position: relative;
                      text-decoration: none;
                      transition: color .3s;
                      &:hover {
                        color: $colorYellow;
                        &::after {
                          width: 100%;
                        } // before
                      } // hover
                      &::before {
                        @include makeUnderline($colorLinkAside, -1px);
                        width: 100%;
                      } // before
                      &::after {
                        @include makeUnderline($colorYellow, -1px);
                      } //after
                    } // link
                  } // __item
                } // blockInfo
              } // __header
              &__description {
                $mainFontSize: 13px;
                margin-bottom: $blockInnerMargin;
                .infoBlock {
                  &-userDescription {
                    flex-shrink: 2;
                    position: relative;
                    max-height: 65px;
                    overflow: hidden;
                    padding-right: 0;
                    transition: height .3s, max-height .3s;
                    &::after {
                      content: '';
                      background: linear-gradient(to bottom,
                              rgba(255,255,255,0.8) 0%,
                              rgba(255,255,255,1) 100%);
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      width: 100%;
                      height: 15px;
                    } // after
                    .userDescription {
                      color: $colorDarkGray;
                      font-size: $mainFontSize;
                      line-height: $mainFontSize * 1.3;
                    } // text
                  } // userDescription
                } // infoBlock
              } // __description
              &__ratingTotal {
                @include flex(center, center);
                background: $colorGray;
                border-radius: $mainBorderRadius;
                color: white;
                font-size: 15px;
                margin-bottom: $blockInnerMargin;
                padding: 7px;
                text-decoration: none;
                white-space: nowrap;;
                .innerIcon {
                  display: block;
                  height: 15px;
                  svg {
                    height: 100%;
                    width: auto;
                  } // svg
                  &-rating {
                    svg {
                      fill: $colorYellow;
                    } // svg
                  } // rating
                  &-lighting {
                    svg {
                      fill: $colorRatingGreen;
                    } // svg
                  } // lighting
                } // innerIcon
                .innerText {
                  margin: 0 15px;
                } // innerText
              } // __ratingTotal
            } // brandSparePartsInfoBlock
            &__data {
              @include flex(center, flex-start);
              color: $colorDarkGray;
              font-size: 20px;
              &::after {
                content: attr(data-growth);
                font-size: 16px;
                margin-left: 5px;
              } // after
              &-country {
                font-size: 14px;
              } // -country
              &-positiveGrowth {
                $elemColor: $colorRatingGreen;
                &::after {
                  content: attr(data-growth);
                  color: $elemColor;
                  font-size: 14px;
                  margin-left: 5px;
                } // after
                svg {
                  width: 20px;
                  fill: $elemColor;
                } // svg
              } // -positiveGrowth
              &-negativeGrowth {
                $elemColor: $colorRatingRed;
                &::after {
                  content: attr(data-growth);
                  color: $elemColor;
                  font-size: 14px;
                  margin-left: 5px;
                } // after
                svg {
                  @include flip(vert);
                  width: 20px;
                  fill: $elemColor;
                } // svg
              } // -positiveGrowth
              &-manufacturer {
                &::after {
                  color: $colorLightGray;
                } // after
              } // -manufacturer
              &-review {
                &::after {
                  color: $colorRatingGreen;
                } // after
              } // -review
              &-vote {
                &::after {
                  color: $colorRatingGreen;
                } // after
              } // -vote
              &-additional {
                color: $colorLightGray;
                font-size: 16px;
                .innerSeparator {
                  margin: 0 5px;
                  &-plus {
                    margin: 0 0 0 5px;
                  } // -plus
                } // innerSeparator
              } // -additional
            } // data
            &__text {
              color: $colorDarkGray;
              font-size: 13px;
              line-height: 17px;
            } // text
            &-description {
              max-width: 475px;
            } // -description
            &-bestProperty {
              background: $colorBgLightGray;
              flex-direction: column;
              padding-left: 0;
              width: 100%;
              a {
                border-bottom: 1px solid $colorBorderLightGray;
                display: block;
                padding: 11px 0;
                position: relative;
                text-decoration: none;
                width: 100%;
                &:last-child {
                  border-bottom: none;
                } // last-child
              } // a
              .propItem {
                $propItemWidth: auto;
                $propItemTitlePadding: 0 15px;
                @include flex(center, flex-start);
                color: $colorDarkGray;
                width: $propItemWidth;
                &__title {
                  @include widthPercent(50%);
                  font-size: 13px;
                  padding: $propItemTitlePadding;
                } // title
                &__rating {
                  @include flex(center, flex-start);
                  @include widthPercent(50%);
                  .brandName {
                    font-size: 16px;
                    margin-right: 10px;
                    max-width: 80px;
                    overflow: hidden;
                    position: relative;
                    white-space: nowrap;
                    width: 85px;
                    &::after {
                      @include gradientBorderColor($colorBgLightGray, 20px, 100%);
                    } // after
                  } // brandName
                  .brandRating {
                    @include flex(center, center);
                    &__value {
                      font-size: 20px;
                      margin-right: 5px;
                    } // __value
                    &__starIcon {
                      transition: transform .3s;
                      width: 12px;
                      svg {
                        &.topRating {
                          fill: $colorRatingGreen;
                        } // topRating
                        &.middleRating {
                          fill: $colorRatingYellow;
                        } // middleRating
                        &.lowRating {
                          fill: $colorRatingRed;
                        } // lowRating
                      } // svg
                    } // __starIcon
                  } // brandRating
                } // __rating
              } // propItem
            } // -bestProperty
          } // innerBlockContent
          .showAdditInfo {
            @include flex(center, flex-end);
            color: white;
            flex-direction: column-reverse;
            position: absolute;
            left: 0;
            top: 5px;
            transform: translateY(-100%);
            width: 300px;
            &::before {
              @include drawTriangleBottom(10, 10, $colorGray);
              content: '';
              display: block;
              transform: translateY(-1px);
            } // before
            &__innerText {
              background: $colorGray;
              border-radius: $mainBorderRadius;
              font-size: 14px;
              line-height: 1.2;
              padding: 10px;
            } // __innerText
          } // showAdditInfo
          &-site {
            flex-grow: 1;
            text-decoration: none;
            &:hover {
              cursor: pointer;
              .innerBlockTitle {
                .innerText {
                  color: $colorYellow;
                  &::before {
                    width: 100%;
                  } // before
                } // innerText
                .additInfo {
                  $infoBlockSize: 14px;
                  $iconColor: $colorColName;
                  @include flex(center, center);

                  background: white;
                  border-radius: 50%;
                  border: 1px solid $iconColor;
                  color: $iconColor;
                  font-size: 10px;
                  position: absolute;
                  right: -15px;
                  top: -5px;
                  height: $infoBlockSize;
                  width: $infoBlockSize;
                  &:hover {
                    border-color: $colorYellow;
                    color: $colorYellow;
                    cursor: pointer;
                  } // hover
                } // additInfo
                &-description {
                  color: $colorDarkGray;
                  font-weight: bold;
                  margin-bottom: 10px;
                } // -description
                &-bestProperty {
                  $iconSize: 15px;
                  @include flex(center, center);
                  background: $colorGray;
                  margin-bottom: 0;
                  padding: 5px 0;
                  .innerIcon {
                    width: $iconSize;
                    margin-right: 8px;
                    svg {
                      fill: $colorYellow;
                    } // svg
                  } // innerIcon
                  .innerTxt {
                    color: white;
                    font-size: 14px;
                  } // innerTxt
                } // -bestProperty
              } // blockTitle
              .innerText {
                color: $colorYellow !important;
              } // innerText
            } // hover
            .innerBlockTitle {
              margin-bottom: 20px;
              color: $colorColName;
              font-size: 14px;
              position: relative;
              text-align: center;
              .innerText {
                position: relative;
                color: $colorColName;
                white-space: nowrap;
                &::before {
                  @include makeUnderline($colorYellow, -1px);
                } // before
              } // innerText
              .additInfo {
                $infoBlockSize: 14px;
                $iconColor: $colorColName;
                @include flex(center, center);

                background: white;
                border-radius: 50%;
                border: 1px solid $iconColor;
                color: $iconColor;
                font-size: 10px;
                position: absolute;
                right: -15px;
                top: -5px;
                height: $infoBlockSize;
                width: $infoBlockSize;
                &:hover {
                  border-color: $colorYellow;
                  color: $colorYellow;
                  cursor: pointer;
                } // hover
              } // additInfo
              &-description {
                color: $colorDarkGray;
                font-weight: bold;
                margin-bottom: 10px;
              } // -description
              &-bestProperty {
                $iconSize: 15px;
                @include flex(center, center);
                background: $colorGray;
                margin-bottom: 0;
                padding: 5px 0;
                .innerIcon {
                  width: $iconSize;
                  margin-right: 8px;
                  svg {
                    fill: $colorYellow;
                  } // svg
                } // innerIcon
                .innerTxt {
                  color: white;
                  font-size: 14px;
                } // innerTxt
              } // -bestProperty
            } // blockTitle
            .innerBlockContent {
              &__data {
                .innerText {
                  color: $colorDarkGray;
                  font-size: 16px;
                  max-width: 120px;
                  overflow: hidden;
                  position: relative;
                  text-decoration: none;
                  &::before {
                    @include gradientBorderColor(white, 40px, 100%);
                  } // before
                } // innerText
                .innerIcon {
                  $iconSize: 12px;
                  background: $colorYellow;
                  border-radius: 3px;
                  color: white;
                  font-size: 12px;
                  height: $iconSize;
                  margin-left: 5px;
                  position: relative;
                  width: $iconSize;
                  &::before {
                    content: '\27A0';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                  } // before
                } // innerIcon
              } // __data
            } // innerBlockContent
          } // site
          &-noBorder {
            border-bottom: none;
          } // -noBorder
          &-bestProperty {
            flex-direction: column;
            justify-content: center;
            border-radius: 3px 3px 0 0 ;
            flex-shrink: 1;
            max-height: initial;
            padding: 0;
          } // -bestProperty
        } // __item
      } // headerBlockContent
    } // __content
    &-sparePartsBrands {
      align-items: flex-start;
      .pageHeaderBlock__thumbnail {
        .innerImage {
          $imgWidth: 320px;
          $imgHeight: 280px;
          @include flex(center, center);
          border: none;
          height: $imgHeight;
          min-width: $imgWidth;
          overflow: hidden;
          padding: 0;
          width: $imgWidth;
          img {
            object-fit: cover;
            object-position: center;
            height: $imgHeight;
            width: $imgWidth;
          } // img
        } // innerImage
      } // pageHeaderBlock__thumbnail
      .pageHeaderBlock__content {
        .headerBlockContent {
          align-items: flex-start;
          justify-content: flex-start;
          &__item {
            flex-direction: column;
            max-height: initial;
            padding: 20px 0;
            &:last-child {
              padding-right: 0;
            } // last-child
            .innerBlockTitle {
              margin-bottom: 10px;
            } // blockTitle
            .innerBlockContent {
              align-items: center;
              justify-content: flex-start;
              flex-direction: column;
              width: 100%;
            } // innerBlockContent
            .showAdditInfo {
              top: 10px;
              left: 50%;
              transform: translate(-50%, -100%);
            } // showAdditInfo
          } // __item
        } // headerBlockContent
      } // pageHeaderBlock__content

      // @MEDIA -----------------------------
      @media screen and ( max-width: 1100px ) {
        align-items: flex-start;
        flex-direction: column;
        & .blockTitle {
          padding-left: 20px;
          margin-bottom: 0;
        } // blockTitle
        .pageHeaderBlock__thumbnail {
          @include flex(center, flex-start);
          margin-bottom: $blockTitleMarginBottom;
          .innerImage {
            $imgSize: 85px;
            height: $imgSize;
            min-width: $imgSize;
            width: $imgSize;
          } // innerImage
        } // pageHeaderBlock__thumbnail
        .pageHeaderBlock__content {
          .headerBlockContent {
            &__item {
              &:first-child {
                padding-left: 0;
              } // first-child
              .innerBlockContent {
                @include flex(center, center);
                &-bestProperty {
                  .propItem {
                    $propItemPadding: 0 15px;
                    padding: $propItemPadding;
                  } // propItem
                } // -bestProperty
              } // innerBlockContent
            } // __item
          } // headerBlockContent
        } // pageHeaderBlock__content
      } // 1000
      // ====================================

    } // -sparePartsBrands
  } // pageHeaderBlock
  // ===========================================

  // manufacturerBlock -------------------------
  .manufacturer {
    margin-bottom: $outerBlockMargin;
    .blockHeader {
      @include flex(center, space-between);
      flex-direction: column;
      .blockTitle {
        @include flex(center, flex-start);
        margin-bottom: 15px;
        span {
          display: block;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          } // last-child
        } // span
        &__text {
          color: inherit;
          font-size: inherit;
        } // __text
      } // __titleBlock
      &__filterBtn {
        @include flex(center, flex-start);
      } // __filterBtn
    } // blockHwader
    &__content {
      background: $colorBgLightGray;
      border-radius: $mainBorderRadius;
      padding: 15px;
      width: 100%;
    } // __content
    .manufacturerList {
      width: 100%;
      &__items {
        @include flex(center, center);
        flex-direction: column;
        width: 100%;
      } // __items
      &__item {
        $borderColor: $colorYellow;
        $contentWidth: 100%;
        $gutterBlock: 15px;
        $itemWidth: 100%;
        display: block;
        margin-bottom: $gutterBlock;
        position: relative;
        text-decoration: none;
        transition: transform .3s;
        white-space: nowrap;
        width: $itemWidth;
        &:last-child {
          margin-bottom: 0;
        } // last-child
        .brandData {
          background: white;
          border-radius: $mainBorderRadius;
          color: $colorDarkGray;
          overflow: hidden;
          padding: 25px 20px;
          position: relative;
          width: 100%;
          &::before {
            @include gradientBorderColor(white, 20px, 0);
            z-index: 1;
          } // before
          &::after {
            @include gradientBorderColor(white, 40px, 100%);
            height: 30%;
            right: 20px;
            z-index: 1;
          } // after
          &__title {
            display: inline-block;
            font-size: 18px;
            text-align: center;
            margin-bottom: $blockTitleMarginBottom;
            max-width: 100%;
            position: relative;
            transition: color .3s;
            white-space: nowrap;
            &::before {
              @include makeUnderline($colorYellow, -1px);
            } // before
          } // __title
          &__content {
            @include flex(center, space-between);
            .brandLogo {
              padding-right: 10px;
              min-width: 75px;
              width: 80px;
            } // brandLogo
            .brandInfo {
              @include flex(stretch, space-between);
              .rating {
                padding: 0 5px;
                &__title {
                  color: $colorColName;
                  font-size: 13px;
                  margin-bottom: 15px;
                } // __title
                .ratingCircle {
                } // ratingCircle
                &__averageInfo {
                  @include flex(center, center);
                  flex-direction: column;
                  .assessment {
                    @include flex(center, center);
                    margin-bottom: 10px;
                    &__value {
                      font-size: 18px;
                      font-weight: bold;
                      margin-right: 5px;
                    } // __value
                  } // assessment
                  .amountReview {
                    @include flex(flex-end, center);
                    font-size: 14px;
                    &__value {
                      font-weight: bold;
                      margin-right: 5px;
                    } // __value
                  } // amoutnReview
                } // __averageInfo
              } // rating
            } // brandInfo
          } // __content
        } // brandData
        &-hidden {
          display: none;
        } // hidden
      } // __item
    } // manufacturerList
    .mainBtn {
      &-showAllNoFullWidth {
        margin-top: 20px;
      } // -showAll
    } // mainBtn

  } // manufacturerBlock
  // ===========================================

  // comparisonBlock ---------------------------
  // styles form main
  // ===========================================

  // reviewsBlock ------------------------------
  .reviewsBlock {
    @include flex(flex-start, space-between);
    margin-bottom: $outerBlockMargin;
    .contentArea {
      width: 100%;
      &__reviews {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        } // last-child
        .review {
          margin-bottom: $outerBlockMargin;
          &:last-child {
            margin-bottom: 0;
          } // last-child
        } // review
      } // reviews
      &__pagination {
        margin-bottom: $outerBlockMargin;
      } // pagination
      &__addReview {
      } // __addReview
    } // contentArea
  } // reviewBlock;
  // ===========================================

  // manufacturerBlock -------------------------
  .popularSpareParts {
    margin-bottom: $outerBlockMargin;
    &__content {
      background: $colorBgLightGray;
      border-radius: $mainBorderRadius;
      padding: 20px 20px 25px 20px;
      width: 100%;
    } // __content
    .popularSparePartsList {
      width: 100%;
      &__items {
        @include flex(center, flex-start);
        flex-wrap: wrap;
        width: 100%;
      } // __items
      &__item {
        $borderColor: $colorYellow;
        $contentWidth: 100%;
        $gutterBlock: 15px;
        $itemWidth: 100%;
        display: block;
        margin-bottom: $gutterBlock;
        position: relative;
        text-decoration: none;
        transition: transform .3s;
        white-space: nowrap;
        width: $itemWidth;
        &:nth-child(4n) {
          margin-right: 0;
        } // nth-child(4n)
        .brandData {
          background: white;
          border-radius: $mainBorderRadius;
          color: $colorDarkGray;
          overflow: hidden;
          padding: 25px 20px;
          position: relative;
          width: 100%;
          &::before {
            @include gradientBorderColor(white, 20px, 0);
            z-index: 1;
          } // before
          &::after {
            @include gradientBorderColor(white, 40px, 100%);
            height: 30%;
            right: 20px;
            z-index: 1;
          } // after
          &__title {
            display: inline-block;
            font-size: 18px;
            text-align: center;
            margin-bottom: $blockTitleMarginBottom;
            max-width: 100%;
            position: relative;
            transition: color .3s;
            white-space: nowrap;
            &::before {
              @include makeUnderline($colorYellow, -1px);
            } // before
          } // __title
          &__content {
            @include flex(center, space-between);
            .brandLogo {
              $imgSize: 80px;
              padding-right: 10px;
              height: $imgSize;
              min-width: $imgSize;
              width: $imgSize;
              img {
                object-fit: contain;
                object-position: center;
                height: $imgSize;
                width: $imgSize;
              } // img
            } // brandLogo
            .brandInfo {
              @include flex(stretch, space-between);
              .rating {
                padding: 0 5px;
                &__title {
                  color: $colorColName;
                  font-size: 13px;
                  margin-bottom: 15px;
                } // __title
                .ratingCircle {
                } // ratingCircle
                &__averageInfo {
                  @include flex(center, center);
                  flex-direction: column;
                  .assessment {
                    @include flex(center, center);
                    margin-bottom: 10px;
                    &__value {
                      font-size: 18px;
                      font-weight: bold;
                      margin-right: 5px;
                    } // __value
                  } // assessment
                  .amountReview {
                    @include flex(flex-end, center);
                    font-size: 14px;
                    &__value {
                      font-weight: bold;
                      margin-right: 5px;
                    } // __value
                  } // amoutnReview
                } // __averageInfo
              } // rating
            } // brandInfo
          } // __content
        } // brandData
        &-hidden {
          display: none;
        } // hidden
      } // __item
    } // popularSparePartsList
  } // popularSparePartsBlock
  // ===========================================

} // sparePartsPage